div.collapsing_tree_opened,
div.collapsing_tree_closed
{
	background-repeat: no-repeat;
	padding-left: 18px;
	height: 17px;
	cursor: pointer;
	width: 280px;
}

div.collapsing_tree_opened
{
	background-color: #F8F6EE;
	background-image: url(<%=request.getContextPath()%>/content/images/list_opened.gif);
	border-bottom: 1px solid #161E49;
}
div.collapsing_tree_closed
{
	background-color: #F3F0E3;
	background-image: url(<%=request.getContextPath()%>/content/images/list_closed.gif);
}

div.collapsing_tree_closed_logging,
div.collapsing_tree_opened_logging
{
    background-repeat: no-repeat;
    padding-left: 18px;
    height: 17px;
    cursor: pointer;
    width: 152px;
}

div.collapsing_tree_closed_logging
{
    background-color: #F3F0E3;
    background-image: url(<%=request.getContextPath()%>/content/images/list_closed.gif);
}

div.collapsing_tree_opened_logging
{
	background-color: #F8F6EE;
	background-image: url(<%=request.getContextPath()%>/content/images/list_opened.gif);
	border-bottom: 1px solid #161E49;
}
