/************************************ list table ****************************************/
table.list th
{
	background-color: #F8F6EE;
	border-bottom: 1px solid #161E49;
	text-align: center;
	padding: 2px 0px 2px 0px;
}
table.list td
{
	padding: 2px 2px 2px 2px;
}
table.list tr.row0
{
	background-color: #F2EEDA;
}
table.list tr.row1
{
	background-color: #F8F6EE;
}

table.list tr.row0 td,
table.list tr.row0 th
{
	border-bottom : 1px solid #E4E0CE;
}
table.list tr.row1 td,
table.list tr.row1 th
{
	border-bottom : 1px solid #E6E3D8;
}

table.list th a,
table.list th a:visited,
table.list th a:hover
{
	width:100%;
	text-decoration: none;
	background-repeat: no-repeat;
	padding-left:12px;
	padding-right:12px;
	color: #161E49;
	background-position: left;
}
table.list th a.up
{
	background-image: url(/images/sort_up.gif);
}
table.list th a.down
{
	background-image: url(/images/sort_down.gif);
}




table.list tr.row00 td,
table.list tr.row00 th
{
	background-color: #F2EEDA;
	border-bottom   : 1px dotted #C0C0C0;
}
table.list tr.row01 td,
table.list tr.row01 th
{
	background-color: #F2EEDA;
	border-bottom   : 1px solid  #E4E0CE;
}

table.list tr.row10 td,
table.list tr.row10 th
{
	background-color: #F8F6EE;
	border-bottom   : 1px dotted #C0C0C0;
}
table.list tr.row11 td,
table.list tr.row11 th
{
	background-color: #F8F6EE;
	border-bottom   : 1px solid #E6E3D8;
}
