<?xml version="1.0" encoding="UTF-8"?>
 <scag:rule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.sibinco.com/SCAG ../xsd/{0}"
           xmlns:scag="http://www.sibinco.com/SCAG"
           xmlns:session="http://www.sibinco.com/SCAG/SESSIONS"    
           xmlns:operation="http://www.sibinco.com/SCAG/OPERATIONS"
           xmlns:bill="http://www.sibinco.com/SCAG/BILL"
           transport="{1}">

