<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

  <section name="pers">
    <param name="host" type="string">@pers.listen_host@</param>
    <param name="port" type="int">@pers.port@</param>
    <param name="connections" type="int">@pers.connections@</param>
    <param name="storage_dir" type="string">@pers.storage_dir@</param>
    <param name="init_record_count" type="int">10000</param>
    <param name="timeout" type="int">600</param>
    
    <param name="hierarchicalMode" type="bool">@pers.hierarchical_mode@</param>
    <param name="centralHost" type="string">@pers.central_host@</param>
    <param name="centralPort" type="int">@pers.central_port@</param>
    <param name="regionId" type="int">@pers.region_id@</param>
    <param name="regionPassword" type="string">@pers.region_password@</param>
    <param name="transactTimeout" type="int">@pers.transact_timeout@</param>
    

    <section name="AbntProfStorage">
        <param name="storageName" type="string">abonent</param>
        <param name="storagePath" type="string">@pers.storage_dir@</param>
        <param name="indexGrowth" type="int">200000</param>
        <param name="dataBlockSize" type="int">0</param>
        <param name="blocksInFile" type="int">50000</param>
        <param name="cacheSize" type="int">10000</param>
    </section>

    <section name="cache_max">
        <param name="abonent" type="int">1000</param>
        <param name="service" type="int">1000</param>
        <param name="provider" type="int">1000</param>
        <param name="operator" type="int">1000</param>
    </section>

  </section>
  
</config>
