<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

  <section name="pers">
    <param name="host" type="string">@pers.listen_host@</param>
    <param name="port" type="int">@pers.port@</param>
    <param name="connections" type="int">@pers.connections@</param>
    <param name="storage_dir" type="string">@pers.storage_dir@</param>
    <param name="init_record_count" type="int">10000</param>

    <section name="cache_max">
        <param name="abonent" type="int">1000</param>
        <param name="service" type="int">1000</param>
        <param name="provider" type="int">1000</param>
        <param name="operator" type="int">1000</param>
    </section>

  </section>

</config>
