<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

  <section name="MTPers">
    <param name="host" type="string">@mtpers.listen_host@</param>
    <param name="port" type="int">@mtpers.port@</param>
    <param name="maxClientsCount" type="int">@mtpers.connections@</param>
    <param name="timeout" type="int">@mtpers.timeout@</param>
    <param name="ioPoolSize" type="int">@mtpers.io_pool_size@</param>
    <param name="abonentStorageNumber" type="int">@mtpers.storage_number@</param>
    <param name="storageQueueSize" type="int">@mtpers.storage_queue_size@</param>
    <param name="storagePath" type="string">@mtpers.storage_dir@</param>

    <section name="AbonentStorage">
        <param name="storageName" type="string">@mtpers.abonent_storage_name@</param>
	<!--param name="storageDir_01" type="string">01</param>
	<param name="storageDir_02" type="string">02</param-->
        <param name="indexGrowth" type="int">10000</param>
        <param name="dataBlockSize" type="int">2048</param>
        <param name="blocksInFile" type="int">5000</param>
        <param name="cacheSize" type="int">10000</param>
    </section>

    <section name="InfrastructStorage">
        <param name="storageDir" type="string">@mtpers.infrastruct_storage_dir@</param>
        <param name="initRecordCount" type="int">10000</param>
        <param name="cacheSize" type="int">10000</param>
    </section>

  </section>

</config>
