BUILD_DIR=/export/home/makar/msag_build
DISTR_DIR=/export/home/makar/msag_distr
SMSC_DIR=/export/home/makar/cvs/smsc
MAKE_ARGS=B64=YES USECOLORS=YES DEBUG=YES TRACE=YES DISABLE_SMPP_CHECKS=YES UNICODE=YES MSAG_FAKE_STAT=NO MSAG_INMAN_BILL=NO
CATALINA_HOME=/export/home/makar/msag_distr/tomcat
CATALINA_BASE=/export/home/makar/msag_distr
TEMPLATE_PROPS=msag.properties
