BUILD_DIR=/export/home/adg/projects/build/msag
DISTR_DIR=/export/home/makar/msag_distr
SMSC_DIR=/export/home/makar/cvs/smsc
MAKE_ARGS=B64=YES USECOLORS=YES DEBUG=YES TRACE=YES DISABLE_SMPP_CHECKS=YES UNICODE=YES MSAG_FAKE_STAT=NO MSAG_INMAN_BILL=NO SMPPRESPHASOPTS=YES
# MAC's string:
# MAKE_ARGS=CXX=g++-mp-4.7 CXXFLAGS=-fpermissive CFLAGS=-fpermissive USEHOME=YES USECOLORS=YES DEBUG=YES VERBOSE=YES TRACE=YES DISABLE_SMPP_CHECKS=YES UNICODE=YES SMPPRESPHASOPTS=YES NOMAP=YES NOMAPPROXY=YES INFOSMEDB=NO
CATALINA_HOME=/export/home/makar/msag_distr/tomcat
CATALINA_BASE=/export/home/makar/msag_distr
TEMPLATE_PROPS=msag.properties

# Xerces 3.1.1 migration: add XERCES_HOME (Xerces install directory, contains /include and /lib)
#XERCES_HOME=/home/msag_test/ksv/xerces-c-3.1.1/64
# Niagara make args:
#MAKE_ARGS=-j8 CXX=CC DEBUG=YES VERBOSE=YES TRACE=YES SNMP=YES DISABLE_SMPP_CHECKS=YES UNICODE=YES MSAG_FAKE_STAT=NO MSAG_INMAN_BILL=NO LEAKTRACE=N
