installation.type=single
installation.mirrorpath=

catalina.control.port=23800
catalina.connector.port=23801
logger.default.category=DEBUG
logs.dir=logs

WHOISD.url-pattern=/WHOISD/*

scag.service.name=scag
scag.service.args=MSA Gateway
scag.service.autostart=false

scag2.service.name=scag2
scag2.service.args=MSA Gateway N2
scag2.service.autostart=false

listen.host=0.0.0.0
connect.host=127.0.0.1

daemon.admin.port=23810
daemon.dir=daemon
daemon.hsadmin.link.name =msag_admin
#daemon.bin.name         =hs_smsc_ssdaemon
#daemon.link.name        =hs_msag_ssdaemon
daemon.bin.name          =smsc_ssdaemon
daemon.link.name         =msag_ssdaemon

gateway.admin.port=23811
gateway.smpp.port=23830
gateway.http.port=23840

bill.config_dir=conf
bill.server_host=127.0.0.1
bill.server_port=23989
bill.time_out=1
bill.reconnect_time_out=60

status.show_interval=86400000
language.default=ru
scag.session.location=/opt/home/msag_test/msag_distr/storage/sessions
scag2.session.location=/opt/home/msag_test/msag_distr/storage/sessions
session.expireInterval=60000

logger.properties_file=/opt/home/msag_test/msag_distr/services/scag/logger.properties

scag.rules.path=/opt/home/msag_test/msag_distr/services/scag/conf/rules
scag2.rules.path=/opt/home/msag_test/msag_distr/services/scag2/conf/rules
stat.dir=/opt/home/msag_test/msag_distr/storage/statistics
stat.traffic_dir=/opt/home/msag_test/msag_distr/storage/statistics/traffic

stat.perf_host=0.0.0.0
stat.perf_port=23981
stat.perf_applet.port=23982
stat.perf_svc_port=23983
stat.perf_svc_applet.port=23984
stat.perf_sc_port=23985
stat.perf_sc_applet.port=23986

stat.sacc_port=23700
stat.sacc_host=127.0.0.1
stat.sacc_connect_timeout=60
stat.sacc_queue_length=1000

pers.port=23880
pers.listen_host=0.0.0.0
pers.connect_host=127.0.0.1
pers.connections=100
pers.io_timeout=300
pers.ping_timeout=300
pers.storage_dir=/opt/home/msag_stbl/msag_distr/storage/pers
pers.hierarchical_mode=true
pers.central_host=127.0.0.1
pers.central_port=23890
pers.transact_timeout=300
pers.region_id=1
pers.region_password=psw1
pers.service.args=Region Personalization
pers.service.autostart=false

cpers.listen_host=0.0.0.0
cpers.port=23890
cpers.connections=100
cpers.storage_dir=/opt/home/msag_stbl/msag_distr/storage/cpers
cpers.transact_timeout=200
cpers.regions_config_name=/opt/home/msag_stbl/msag_distr/services/cpers/conf/region.xml
cpers.service.args=Central Personalization
cpers.service.autostart=false

mtpers.port=23880
mtpers.listen_host=0.0.0.0
mtpers.connect_host=127.0.0.1
mtpers.timeout=300
mtpers.io_pool_size=10
mtpers.connections=100
mtpers.storage_dir=/home/odarchenko/new_msag_64/distr/storage/mtpers
mtpers.location1_path=/home/odarchenko/new_msag_64/distr/storage/mtpers/1
mtpers.storages=100
mtpers.nodes=1
mtpers.node=0
mtpers.storage_queue_size=20
mtpers.abonent_storage_name=abonent
mtpers.infrastruct_storage_dir=/home/odarchenko/new_msag_64/distr/storage/mtpers/infrastruct
mtpers.service.args=MultiThred Personalization
mtpers.service.autostart=true

rule_editor.ping_port=23987
rule_editor.ping_timeout=10000

LC_ALL=ru_RU.WINDOWS-1251
NLS_LANG=RUSSIAN_CIS.CL8MSWIN1251
JAVA_HOME=/usr/jdk/j2sdk1.4.2_08
JAVA_OPTS=-Dscag_site -Xms64m -Xmx256m -Dfile.encoding=windows-1251 -Duser.timezone=Asia/Novosibirsk
