<?xml version="1.0" encoding="windows-1251"?>

<config>
  <section name="calendar">
    <param name="service.address">147</param>
    <param name="send.date.max.year">2009</param>  <!-- optional -->
    <param name="engine.working.interval">60000</param> <!-- optional -->
    <param name="advertising.delimiter">@</param>
    <param name="advertising.size">240</param>
    <param name="advertising.service">SMSX</param>
  </section>

  <section name="sender">
    <param name="cache.size">10000</param>
    <param name="dataSourceType">multiTable</param>
  </section>

  <section name="secret">
    <param name="service.address">147</param>
    <param name="destination.abonent.inform">У Вас 1 SMS-Секрет. Получить? Отправьте Get&lt;пробел&gt;пароль на номер 147.</param>
    <param name="destination.abonent.invitation">Вам отправлено секретное сообщение. Для его получения зарегистрируйтесь в сервисе "SMS-ЭКСТРА". Подробнее на *147#</param>
    <param name="delivery.report">Абоненту {to_abonent} сообщение доставлено.</param>
    <param name="advertising.delimiter">@</param>
    <param name="advertising.size">240</param>
    <param name="advertising.service">SMSX</param>
    <param name="store.dir">store/secret</param>
    <param name="archives.dir">store/secret/archives</param>
  </section>

  <section name="nick">
    <param name="service.address">147</param>
    <param name="profiler.address">0</param>
  </section>

  <section name="group">
    <param name="source.address">147</param>
    <param name="reply.invitation">Группа:{size} номеров.</param>

    <param name="store.type">db</param>  <!-- 'db' or 'file'-->
    <param name="store.dir">webapps/smsx/WEB-INF/store</param>
    <param name="replies.cache.size">1000</param>
    <param name="statuses.cache.size">1000</param>
    <param name="max.lists">50</param>
    <param name="max.elements">50</param>
    <param name="dataSourceType">multiTable</param>
  </section>

  <section name="jmx">
    <param name="port">8124</param>
    <param name="user">admin</param>
    <param name="password">laefeeza</param>
  </section>

  <section name="advertising">
    <param name="host">phoenix</param>
    <param name="port">25000</param>
    <param name="timeout">20000</param>
  </section>

  <section name="dbpool">
    <section name="jdbc">
      <param name="driver">com.mysql.jdbc.Driver</param>
      <param name="source">jdbc:mysql://localhost/smsx?useUnicode=true&amp;characterEncoding=KOI8R&amp;autoReconnect=true</param>
      <param name="user">root</param>
      <param name="password">laefeeza1</param>
    </section>
  </section>

  <section name="personalization">
    <param name="host">niagara</param>
    <param name="port">23880</param>
    <param name="timeout">10</param>
    <param name="min.connections">5</param>
    <param name="max.connections">5</param>
    <param name="check.connections">false</param>
    <param name="background.connect.mode">false</param>
    <param name="max.idle.time">86400</param>
    <param name="max.client.connect.time">10</param>
    <param name="pool.controller.interval">600</param>
    <param name="max.shutdown.time">600</param>
  </section>

  <section name="smscconsole">
    <param name="host">localhost</param>
    <param name="port">37826</param>
    <param name="login">a</param>
    <param name="password">a</param>
    <param name="timeout">10000</param>
  </section>

  <section name="adminserver">
    <param name="port">10000</param>
    <param name="poolSize">20</param>
    <param name="timeout">10000</param>
  </section>

  <section name="operators">
    <param name="MTS">+791????????,+333</param>
  </section>
</config>