package $var package$.pvap.protocol.pdu;

import $var package$.pvap.*;
import $var package$.pvap.protocol.*;
import $var package$.common.PvapException;
$ifdef message.inheritsFrom$
import $var package$.packets.*;
import $var package$.data.*;
$-ifdef$

$macro type$$pack$
$select %1$
$case byte$byte
$case uint16$short
$case uint32$int
$case uint64$long
$case string$String
$case ascii$String
$case utf8$String
$case bool$boolean
$default$$var %1$
$-select$
$-pack$$-macro$

$macro checker$$pack$
$if !field.isTransient$data_$-if$$if field.isTransient$this$-if$.$if field.useProfile$getProfileKey().$-if$$ifdef field.useChecker$$var field.useChecker$$-ifdef$$ifndef field.useChecker$has$var field.name:ucf$$-ifndef$
$-pack$$-macro$
$macro getter$$pack$
$if !field.isTransient$data_$-if$$if field.isTransient$this$-if$.$if field.useProfile$getProfileKey().$-if$$ifdef field.useGetter$$var field.useGetter$$-ifdef$$ifndef field.useGetter$get$var field.name:ucf$$-ifndef$
$-pack$$-macro$
$macro setter$$pack$
$if !field.isTransient$data_$-if$$if field.isTransient$this$-if$.$if field.useProfile$getProfileKey().$-if$$ifdef field.useSetter$$var field.useSetter$$-ifdef$$ifndef field.useSetter$set$var field.name:ucf$$-ifndef$
$-pack$$-macro$
$macro baseclass$$var message.inheritsFrom$$ifdef message.command$< $var message.command$ >$-ifdef$$-macro$

public class $var message.name$
{
    // static Logger logger = Logger.getLogger($var message.name$.class);
$foreach field$
$if !field.isTransient$
    protected static final int $var field.name$Tag = $var field.tag$;
$-if$
$-foreach$

$foreach field$
$if field.isTransient$
    $expand type field.type$ $var field.name$;
    boolean $var field.name$Flag=false;
$-if$
$-foreach$
    $expand baseclass$ data_;

    public $var message.name$() {
$ifdef message.command$
        data_ = new $expand baseclass$( new $var message.command$() );
$-ifdef$
$ifndef message.command$
        data_ = new $expand baseclass$();
$-ifndef$
$foreach field$
$if field.isTransient$
        $var field.name$Flag = false;
$-if$
$-foreach$
    }

    public $var message.name$( $expand baseclass$ other ) {
        data_ = other;
$foreach field$
$if field.isTransient$
        $var field.name$Flag = false;
$-if$
$-foreach$
    }

    public void clear()
    {
        data_.clear();
$foreach field$
$if field.isTransient$
        $var field.name$Flag=false;
$-if$
$-foreach$
    }
  
    public String toString()
    {
        return data_.toString();
    }

    public void encode( $var protocol.name:ucf$ proto, IBufferWriter writer ) throws PvapException
    {
        checkFields();
        // mandatory fields
$foreach field$
$if !field.isTransient$
$if field.mandatory$
        // System.out.println("write pos=" + writer.getPos() + " field=" + $var field.name$Tag);
        writer.writeTag($var field.name$Tag);
        $select field.type$
$case string$writer.writeStringLV($expand getter$());
$case ascii$try {
            writer.writeUTFLV($expand getter$());
        } catch ( java.io.IOException e ) {
            throw new PvapSerializationException( data_.isRequest(), "writing ascii field $var field.name$ in $var message.name$:" + e.getMessage(), getSeqNum() );
        }
$case utf8$try {
            writer.writeUTFLV($expand getter$());
        } catch ( java.io.IOException e ) {
            throw new PvapSerializationException( data_.isRequest(), "writing utf8 field $var field.name$ in $var message.name$:" + e.getMessage(), getSeqNum() );
        }
$case byte$writer.writeByteLV($expand getter$());
$case uint16$writer.writeShortLV($expand getter$());
$case uint32$writer.writeIntLV($expand getter$());
$case uint64$writer.writeLongLV($expand getter$());
$case bool$writer.writeBoolLV($expand getter$());
$case nested$throw new NotImplementedException("writing field $var field.name$ of $var message.name$ is not impl yet", getSeqNum());
$default${
$ifdef field.helperClass$
            $var field.helperClass$ helper = new $var field.helperClass$( data_ );
            helper.encode(proto,writer);
$-ifdef$
$ifndef field.helperClass$
            $expand getter$().encode(proto,writer);
$-ifndef$
        }
$-select$
$-if$
$-if$
$-foreach$
        // optional fields
$foreach field$
$if !field.isTransient$
$if field.optional$
        if ( $expand checker$() ) {
            // System.out.println("write pos=" + writer.getPos() + " field=" + $var field.name$Tag);
            writer.writeTag($var field.name$Tag);
            $select field.type$
$case string$writer.writeStringLV($expand getter$());
$case ascii$try {
                writer.writeUTFLV($expand getter$());
            } catch ( java.io.IOException e ) {
                throw new PvapSerializationException( data_.isRequest(), "writing ascii field $var field.name$ in $var message.name$:" + e.getMessage(), getSeqNum() );
            }
$case utf8$try {
                writer.writeUTFLV($expand getter$());
            } catch ( java.io.IOException e ) {
                throw new PvapSerializationException( data_.isRequest(), "writing utf8 field $var field.name$ in $var message.name$:" + e.getMessage(), getSeqNum() );
            }
$case byte$writer.writeByteLV($expand getter$());
$case uint16$writer.writeShortLV($expand getter$());
$case uint32$writer.writeIntLV($expand getter$());
$case uint64$writer.writeLongLV($expand getter$());
$case bool$writer.writeBoolLV($expand getter$());
$case nested$throw new NotImplementedException("writing field $var field.name$ of $var message.name$ is not impl yet",getSeqNum());
$default${
$ifdef field.helperClass$
                $var field.helperClass$ helper = new $var field.helperClass$(data_);
                helper.encode(proto,writer);
$-ifdef$
$ifndef field.helperClass$
                $expand getter$().encode(proto,writer);
$-ifndef$
            }
$-select$
        }
$-if$
$-if$
$-foreach$
    }

    public void decode( $var protocol.name:ucf$ proto, IBufferReader reader ) throws PvapException
    {
        clear();
        int tag = -1;
        try {
            do {
                // int pos = reader.getPos();
                tag = reader.readTag();
                // System.out.println("read pos=" + pos + " field=" + tag);
                if ( tag == -1 ) break;
                switch( tag ) {
$foreach field$
$if !field.isTransient$
                case $var field.name$Tag: {
$ifdef field.checkVar$
                    if ( $var field.checkVar$Flag ) {
                        throw new DuplicateFieldException(data_.isRequest(),"duplicate field $var field.name$ of $var message.name$", getSeqNum());
                    }
                    $var field.checkVar$Flag = true;
$-ifdef$
                    $select field.type$
$case string$$expand setter$(reader.readStringLV());
$case ascii$$expand setter$(reader.readUTFLV());
$case utf8$$expand setter$(reader.readUTFLV());
$case byte$$expand setter$(reader.readByteLV());
$case uint16$$expand setter$(reader.readShortLV());
$case uint32$$expand setter$(reader.readIntLV());
$case uint64$$expand setter$(reader.readLongLV());
$case bool$$expand setter$(reader.readBoolLV());
$case nested$throw new NotImplementedException("reading field $var field.name$ of $var message.name$ is not impl yet",getSeqNum());
$default$$ifndef field.helperClass$$var field.type$ temp = new $var field.type$();
                    temp.decode(proto,reader);
                    $expand setter$(temp);
$-ifndef$
$ifdef field.helperClass$$var field.helperClass$ helper = new $var field.helperClass$(data_);
                    helper.decode(proto,reader);
$-ifdef$
$-select$
                    break;
                }
$-if$
$-foreach$
                default:
                    throw new InvalidFieldTypeException(data_.isRequest(),"invalid field in $var message.name$",getSeqNum(),tag);
                }
            } while ( true );
        } catch ( java.io.IOException e ) {
            throw new PvapSerializationException( data_.isRequest(), "reading field tag=" + tag + " of $var message.name$:" + e.getMessage(), getSeqNum() );
        }
        // checking integrity
        checkFields();
    }

    public int getSeqNum() {
        return
$if options.hasSeqNum$
            data_ != null ? data_.getSeqNum() :
$-if$
            -1;
    }

$if options.hasSeqNum$
    public void setSeqNum( int seqNum ) {
        data_.setSeqNum(seqNum);
    }
$-if$

    public $expand baseclass$ getData() { return data_; }

    protected void checkFields() throws PvapException
    {
        // using parent check
        if ( !data_.isValid() ) {
            throw new MessageIsBrokenException(data_.isRequest(), "message $var message.name$ is broken: " + toString(), getSeqNum() );
        }
    }
}
