package $var package$.pvap.protocol.pdu;

import $var package$.pvap.*;
import $var package$.pvap.protocol.*;
import $var package$.common.PvapException;

/**
 * This protocol has header: len (4 oct), seq (4 oct), tag ( 2 oct.), message body
 */
public class $var protocol.name:ucf$
{
$foreach message$
    static final int tag_$var message.name:ucf$ = $var message.tag$;
$-foreach$

    public static interface Handler {
        // public boolean hasSeqNum( int seqNum );
$foreach message$
        public void handle( $var message.name$ object ) throws PvapException;
$-foreach$
    }

    Handler handler;
    public $var protocol.name$() {
    }

    public $var protocol.name$(Handler handler) {
        this.handler = handler;
    }

    // public void assignHandler(Handler newHandler) {
    // this.handler = newHandler;
    // }

    public void decodeMessage( IBufferReader reader ) throws PvapException
    {
        int seqNum = -1;
        try {
$if options.hasSeqNum$
            seqNum = reader.readInt();
$-if$
            // if ( ! handler.hasSeqNum(seqNum) ) throw new UnexpectedSeqNumException(seqNum);
            int tag = reader.readTag();
            switch( tag ) {
$foreach message$
            case tag_$var message.name:ucf$: {
                $var message.name$ object = new $var message.name$();
$if options.hasSeqNum$
                object.setSeqNum(seqNum);
$-if$
                object.decode(this,reader);
                handler.handle(object);
                break;
            }
$-foreach$
            default: throw new InvalidMessageTypeException(seqNum,tag);
            }
        } catch ( java.io.IOException e ) {
            throw new PvapSerializationException( e.getMessage(), seqNum );
        }
    }
$foreach message$

    public byte[] encodeMessage( $var message.name$ object, IBufferWriter writer ) throws PvapException
    {
        // BufferWriter writer = new BufferWriter();
        try {
$if options.hasSeqNum$
            writer.writeInt(object.getSeqNum());
$-if$
            writer.writeTag(tag_$var message.name$);
            object.encode(this,writer);
        } catch ( PvapException e ) {
$if options.hasSeqNum$
            e.setSeqNum(object.getSeqNum());
$-if$
            throw e;
        }
        return writer.getData();
    }
$-foreach$
}
