<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>
  <param name="adminHost" type="string">admin host</param>
  <param name="adminPort" type="int">1234</param>
  <param name="queueLength" type="int">777</param>
  <section name="left">
    <param name="host" type="string">left host</param>
    <param name="origAddr" type="string">left origAddr</param>
    <param name="password" type="string">left password</param>
    <param name="port" type="int">1001</param>
    <param name="sid" type="string">left sid</param>
    <param name="systemType" type="string">left systemType</param>
    <param name="timeOut" type="int">1002</param>
  </section>

  <section name="right">
    <param name="host" type="string">right host</param>
    <param name="origAddr" type="string">right origAddr</param>
    <param name="password" type="string">right password</param>
    <param name="port" type="int">2001</param>
    <param name="sid" type="string">right sid</param>
    <param name="systemType" type="string">right systemType</param>
    <param name="timeOut" type="int">2002</param>
  </section>

</config>
