<?xml version="1.0" encoding="WINDOWS-1251"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

  <param name="users_config_file" type="string">webapps/smppgw/WEB-INF/users.xml</param>
  <param name="sme_file" type="string">S:\install\daemon_gw\services\smppgw\conf\sme.xml</param>
  <param name="gw_config" type="string">S:\install\daemon_gw\services\smppgw\conf\config.xml</param>
  <param name="gw_config_folder" type="string">S:\install\daemon_gw\services\smppgw\conf</param>
  <param name="gw name" type="string">smppgw</param>
  <section name="gw daemon">
    <param name="host" type="string">smsc</param>
    <param name="port" type="int">6104</param>
    <param name="folder" type="string">S:\install\daemon_gw</param>
  </section>
</config>