#
# $Id$
#
ASN_MODULE_SOURCES=	\
	Code.c	\
	Priority.c	\
	TBCD-STRING.c	\
	AddressString.c	\
	ISDN-AddressString.c	\
	FTN-AddressString.c	\
	ISDN-SubaddressString.c	\
	ExternalSignalInfo.c	\
	SignalInfo.c	\
	ProtocolId.c	\
	Ext-ExternalSignalInfo.c	\
	Ext-ProtocolId.c	\
	AlertingPattern.c	\
	IMSI.c	\
	IMEI.c	\
	NetworkResource.c	\
	AdditionalNetworkResource.c	\
	NAEA-PreferredCI.c	\
	NAEA-CIC.c	\
	SubscriberIdentity.c	\
	CellGlobalIdOrServiceAreaIdOrLAI.c	\
	CellGlobalIdOrServiceAreaIdFixedLength.c	\
	LAIFixedLength.c	\
	BasicServiceCode.c	\
	Ext-BasicServiceCode.c	\
	Ext-SS-Status.c	\
	AgeOfLocationInformation.c	\
	ExtensionContainer.c	\
	PrivateExtensionList.c	\
	PrivateExtension.c	\
	PCS-Extensions.c	\
	SS-Status.c	\
	ForwardingOptions.c	\
	SS-ForBS-Code.c	\
	USSD-Arg.c	\
	USSD-Res.c	\
	USSD-DataCodingScheme.c	\
	USSD-String.c	\
	Password.c	\
	SS-List.c	\
	BearerServiceCode.c	\
	Ext-BearerServiceCode.c	\
	CallBarredParam.c	\
	CallBarringCause.c	\
	ExtensibleCallBarredParam.c	\
	CUG-RejectParam.c	\
	CUG-RejectCause.c	\
	SystemFailureParam.c	\
	ExtensibleSystemFailureParam.c	\
	DataMissingParam.c	\
	UnexpectedDataParam.c	\
	FacilityNotSupParam.c	\
	OR-NotAllowedParam.c	\
	UnknownSubscriberParam.c	\
	UnknownSubscriberDiagnostic.c	\
	NumberChangedParam.c	\
	BearerServNotProvParam.c	\
	TeleservNotProvParam.c	\
	AbsentSubscriberParam.c	\
	AbsentSubscriberReason.c	\
	BusySubscriberParam.c	\
	NoSubscriberReplyParam.c	\
	ForwardingViolationParam.c	\
	ATSI-NotAllowedParam.c	\
	IllegalSS-OperationParam.c	\
	SS-NotAvailableParam.c	\
	InformationNotAvailableParam.c	\
	TeleserviceCode.c	\
	Ext-TeleserviceCode.c	\
	CUG-CheckInfo.c	\
	NumberOfForwarding.c	\
	SendRoutingInfoArg.c	\
	SuppressionOfAnnouncement.c	\
	InterrogationType.c	\
	OR-Phase.c	\
	CallReferenceNumber.c	\
	ForwardingReason.c	\
	SupportedCCBS-Phase.c	\
	CallDiversionTreatmentIndicator.c	\
	SendRoutingInfoRes.c	\
	AllowedServices.c	\
	UnavailabilityCause.c	\
	CCBS-Indicators.c	\
	RoutingInfo.c	\
	ForwardingData.c	\
	CamelInfo.c	\
	ExtendedRoutingInfo.c	\
	CamelRoutingInfo.c	\
	GmscCamelSubscriptionInfo.c	\
	SS-Code.c	\
	IST-SupportIndicator.c	\
	GSN-Address.c	\
	IST-AlertTimerValue.c	\
	ContextId.c	\
	APN.c	\
	PDP-Type.c	\
	PDP-Address.c	\
	QoS-Subscribed.c	\
	Ext-QoS-Subscribed.c	\
	Ext2-QoS-Subscribed.c	\
	ChargingCharacteristics.c	\
	LSAIdentity.c	\
	CUG-Interlock.c	\
	D-CSI.c	\
	DP-AnalysedInfoCriteriaList.c	\
	DP-AnalysedInfoCriterium.c	\
	O-CSI.c	\
	O-BcsmCamelTDPDataList.c	\
	O-BcsmCamelTDPData.c	\
	ServiceKey.c	\
	O-BcsmTriggerDetectionPoint.c	\
	O-BcsmCamelTDPCriteriaList.c	\
	O-BcsmCamelTDP-Criteria.c	\
	T-BCSM-CAMEL-TDP-CriteriaList.c	\
	T-BCSM-CAMEL-TDP-Criteria.c	\
	DestinationNumberCriteria.c	\
	DestinationNumberList.c	\
	DestinationNumberLengthList.c	\
	BasicServiceCriteria.c	\
	CallTypeCriteria.c	\
	MatchType.c	\
	O-CauseValueCriteria.c	\
	T-CauseValueCriteria.c	\
	CauseValue.c	\
	DefaultCallHandling.c	\
	CamelCapabilityHandling.c	\
	SupportedCamelPhases.c	\
	OfferedCamel4CSIs.c	\
	T-CSI.c	\
	T-BcsmCamelTDPDataList.c	\
	T-BcsmCamelTDPData.c	\
	T-BcsmTriggerDetectionPoint.c	\
	SubscriberInfo.c	\
	MNPInfoRes.c	\
	RouteingNumber.c	\
	NumberPortabilityStatus.c	\
	MS-Classmark2.c	\
	GPRSMSClass.c	\
	MSNetworkCapability.c	\
	MSRadioAccessCapability.c	\
	LocationInformation.c	\
	LocationInformationGPRS.c	\
	RAIdentity.c	\
	GeographicalInformation.c	\
	GeodeticInformation.c	\
	LocationNumber.c	\
	SubscriberState.c	\
	PS-SubscriberState.c	\
	PDP-ContextInfoList.c	\
	PDP-ContextInfo.c	\
	NSAPI.c	\
	TransactionId.c	\
	TEID.c	\
	GPRSChargingID.c	\
	NotReachableReason.c

ASN_MODULE_HEADERS=	\
	Code.h	\
	Priority.h	\
	TBCD-STRING.h	\
	AddressString.h	\
	ISDN-AddressString.h	\
	FTN-AddressString.h	\
	ISDN-SubaddressString.h	\
	ExternalSignalInfo.h	\
	SignalInfo.h	\
	ProtocolId.h	\
	Ext-ExternalSignalInfo.h	\
	Ext-ProtocolId.h	\
	AlertingPattern.h	\
	IMSI.h	\
	IMEI.h	\
	NetworkResource.h	\
	AdditionalNetworkResource.h	\
	NAEA-PreferredCI.h	\
	NAEA-CIC.h	\
	SubscriberIdentity.h	\
	CellGlobalIdOrServiceAreaIdOrLAI.h	\
	CellGlobalIdOrServiceAreaIdFixedLength.h	\
	LAIFixedLength.h	\
	BasicServiceCode.h	\
	Ext-BasicServiceCode.h	\
	Ext-SS-Status.h	\
	AgeOfLocationInformation.h	\
	ExtensionContainer.h	\
	PrivateExtensionList.h	\
	PrivateExtension.h	\
	PCS-Extensions.h	\
	SS-Status.h	\
	ForwardingOptions.h	\
	SS-ForBS-Code.h	\
	USSD-Arg.h	\
	USSD-Res.h	\
	USSD-DataCodingScheme.h	\
	USSD-String.h	\
	Password.h	\
	SS-List.h	\
	BearerServiceCode.h	\
	Ext-BearerServiceCode.h	\
	CallBarredParam.h	\
	CallBarringCause.h	\
	ExtensibleCallBarredParam.h	\
	CUG-RejectParam.h	\
	CUG-RejectCause.h	\
	SystemFailureParam.h	\
	ExtensibleSystemFailureParam.h	\
	DataMissingParam.h	\
	UnexpectedDataParam.h	\
	FacilityNotSupParam.h	\
	OR-NotAllowedParam.h	\
	UnknownSubscriberParam.h	\
	UnknownSubscriberDiagnostic.h	\
	NumberChangedParam.h	\
	BearerServNotProvParam.h	\
	TeleservNotProvParam.h	\
	AbsentSubscriberParam.h	\
	AbsentSubscriberReason.h	\
	BusySubscriberParam.h	\
	NoSubscriberReplyParam.h	\
	ForwardingViolationParam.h	\
	ATSI-NotAllowedParam.h	\
	IllegalSS-OperationParam.h	\
	SS-NotAvailableParam.h	\
	InformationNotAvailableParam.h	\
	TeleserviceCode.h	\
	Ext-TeleserviceCode.h	\
	CUG-CheckInfo.h	\
	NumberOfForwarding.h	\
	SendRoutingInfoArg.h	\
	SuppressionOfAnnouncement.h	\
	InterrogationType.h	\
	OR-Phase.h	\
	CallReferenceNumber.h	\
	ForwardingReason.h	\
	SupportedCCBS-Phase.h	\
	CallDiversionTreatmentIndicator.h	\
	SendRoutingInfoRes.h	\
	AllowedServices.h	\
	UnavailabilityCause.h	\
	CCBS-Indicators.h	\
	RoutingInfo.h	\
	ForwardingData.h	\
	CamelInfo.h	\
	ExtendedRoutingInfo.h	\
	CamelRoutingInfo.h	\
	GmscCamelSubscriptionInfo.h	\
	SS-Code.h	\
	IST-SupportIndicator.h	\
	GSN-Address.h	\
	IST-AlertTimerValue.h	\
	ContextId.h	\
	APN.h	\
	PDP-Type.h	\
	PDP-Address.h	\
	QoS-Subscribed.h	\
	Ext-QoS-Subscribed.h	\
	Ext2-QoS-Subscribed.h	\
	ChargingCharacteristics.h	\
	LSAIdentity.h	\
	CUG-Interlock.h	\
	D-CSI.h	\
	DP-AnalysedInfoCriteriaList.h	\
	DP-AnalysedInfoCriterium.h	\
	O-CSI.h	\
	O-BcsmCamelTDPDataList.h	\
	O-BcsmCamelTDPData.h	\
	ServiceKey.h	\
	O-BcsmTriggerDetectionPoint.h	\
	O-BcsmCamelTDPCriteriaList.h	\
	O-BcsmCamelTDP-Criteria.h	\
	T-BCSM-CAMEL-TDP-CriteriaList.h	\
	T-BCSM-CAMEL-TDP-Criteria.h	\
	DestinationNumberCriteria.h	\
	DestinationNumberList.h	\
	DestinationNumberLengthList.h	\
	BasicServiceCriteria.h	\
	CallTypeCriteria.h	\
	MatchType.h	\
	O-CauseValueCriteria.h	\
	T-CauseValueCriteria.h	\
	CauseValue.h	\
	DefaultCallHandling.h	\
	CamelCapabilityHandling.h	\
	SupportedCamelPhases.h	\
	OfferedCamel4CSIs.h	\
	T-CSI.h	\
	T-BcsmCamelTDPDataList.h	\
	T-BcsmCamelTDPData.h	\
	T-BcsmTriggerDetectionPoint.h	\
	SubscriberInfo.h	\
	MNPInfoRes.h	\
	RouteingNumber.h	\
	NumberPortabilityStatus.h	\
	MS-Classmark2.h	\
	GPRSMSClass.h	\
	MSNetworkCapability.h	\
	MSRadioAccessCapability.h	\
	LocationInformation.h	\
	LocationInformationGPRS.h	\
	RAIdentity.h	\
	GeographicalInformation.h	\
	GeodeticInformation.h	\
	LocationNumber.h	\
	SubscriberState.h	\
	PS-SubscriberState.h	\
	PDP-ContextInfoList.h	\
	PDP-ContextInfo.h	\
	NSAPI.h	\
	TransactionId.h	\
	TEID.h	\
	GPRSChargingID.h	\
	NotReachableReason.h



lib_LTLIBRARIES=libsomething.la
libsomething_la_SOURCES=$(ASN_MODULE_SOURCES) $(ASN_MODULE_HEADERS)

# This file may be used as an input for make(3)
# Remove the lines below to convert it into a pure .am file
TARGET = progname
CFLAGS += -I.
OBJS=${ASN_MODULE_SOURCES:.c=.o} $(TARGET).o

all: $(TARGET)

$(TARGET): ${OBJS}
	$(CC) $(CFLAGS) -o $(TARGET) ${OBJS} $(LDFLAGS) $(LIBS)

.SUFFIXES:
.SUFFIXES: .c .o

.c.o:
	$(CC) $(CFLAGS) -o $@ -c $<

clean:
	rm -f $(TARGET)
	rm -f $(OBJS)

regen: regenerate-from-asn1-source

regenerate-from-asn1-source:
	/home/gvroman/bin/asn1c -fnative-types ../ros_ROIO.asn ../map_cmn_types.asn ../map_ext_types.asn ../map_ss_types.asn ../map_bs_code.asn ../map_err_types.asn ../map_ts_code.asn ../map_ch_types.asn ../map_errors.asn ../map_ss_code.asn ../map_ms_types.asn

