# * Contains a set of rules for changing connector for sending SUBMIT_SM.
# *    CN = Connector Name
# *    SA = Source Address
# *    TYPE: USSD or SMS (could not be changed)
# *    Rule: (CN1,SA1,TYPE) -> (CN2,SA2,TYPE)
# * For example: using for connectors to BERCUT USSDC (it can not send simple SMS):
# *    (bercut_ussd,123,SMS) -> (bercut_sms,1234,SMS)
# *    (bercut_ussd,123,USSD) -> (bercut_ussd,123,USSD)
