# Config format:
# Name D HH Time RR List
# Where:
#   Name - name of connector, * - any connector
#   D    - day of week number (see java.util.Calendar.DAY_OF_WEEK), 0 - any day
#   HH   - hour of day, the accepted range from 1 to 24, 0 - any hour
#   Time - inactivity time in munutes after which notification will be send.
#   RR   - nubmer of repeats of each notification, accepted range from 1 to 99, 0 - while not connected
#   List - list of e-mails where the notification will be send (separated by ',')
#
# Example: Notify 11@admin.com and 22@admin.com if connector 'test' not connected
#          during 5 minutes.
# test 0 0 5 0 11@admin.com,22@admin.com

# Exapmle of work cofig
# 1 notify any connector any time if inactive during 10 minutes
#* 0 0 10 1 support@sibinco.ru
# unlimited notify any connector any time if inactive during 1 hour
#* 0 0 60 0 support@sibinco.ru
# notify any connector any time if connector connected
#* 0 0 -1 1 support@sibinco.ru
