div.collapsing_list_opened,
div.collapsing_list_closed,
div.collapsing_list_empty {
  background-repeat: no-repeat;
  padding-left: 18px;
}

div.collapsing_list_opened {
  background-image: url(/images/list_opened.gif);
  cursor: pointer;
}

div.collapsing_list_closed {
  background-image: url(/images/list_closed.gif);
  cursor: pointer;
}