div.collapsing_tree_opened,
div.collapsing_tree_closed {
  background-repeat: no-repeat;
  padding-left: 18px;
  height: 17px;
  cursor: pointer;
  width: 280px;
}

div.collapsing_tree_opened {
  background-color: #F8F6EE;
  background-image: url(/images/list_opened.gif);
  border-bottom: 1px solid #161E49;
}

div.collapsing_tree_closed {
  background-color: #F3F0E3;
  background-image: url(/images/list_closed.gif);
}
