/******************************************************************************/
/* FORMAT CLASSES                                                             */
/******************************************************************************/
.C000 {
  font-size: 100%;
  color: #000000;
}

.CF00 {
  font-size: 100%;
  color: #FF0000;
}

.C800 {
  font-size: 100%;
  color: #880000;
}

.C0F0 {
  font-size: 100%;
  color: #00FF00;
}

.C080 {
  font-size: 100%;
  color: #008800;
}

.C00F {
  font-size: 100%;
  color: #0000FF;
}

.C008 {
  font-size: 100%;
  color: #000088;
}
