.menuItem {
  background-image: url("/images/smsc_14.jpg");
  text-decoration: none;
  color: #F2E275;
  padding: 2px 7px 2px 7px;
  font-size: 12px;
}

.menuItemSelect {
  background-image: url("/images/smsc_14.jpg");
  text-decoration: none;
  color: #ffff00;
  padding: 2px 7px 2px 7px;
  font-size: 12px;
}

.big {
  font-size: 20px;
}

.bigger {
  font-size: 30px;
}