
/************************** page menu **************************/
div.page_menu {
  background-color: #DFD4AE;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 2;
}

table.page_menu {
  /*position: relative;*/
  height: 30px;
  white-space: nowrap;
  z-index: 3;
}

table.page_menu td {
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  background-image: url("../images/smsc_21.jpg");
}

table.page_menu a,
table.page_menu a:hover,
table.page_menu a:visited
 {
  border: 0px;
  cursor: pointer;
  color: #161E49;
  text-decoration: none; /*behavior : url(/scripts/click_submit.htc);*/
  white-space: nowrap;
}

table.page_menu a.xi{
font-family: Verdana, Arial, Helvetica, sans-serif;font-size: x-small;
}

table.page_menu_background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  z-index: 2;
}
