.timeHiddenLayer, .timeHiddenLayer2 {
  position: absolute;
  display: none;
  cursor: default;
  z-index: 3;
  width: 5px;
  height: 5px;
  background-color: red;
}

.timeHiddenLayer2 {
  z-index: 2;
}

.timeTd {
  background-color: #ffffff;
  padding: 0px;
  border: solid 1px #000000;
  border-left: none;
}

.timeField {
  width: 123px;
  height: 16px;
  border: solid 1px #000000;
  border-right: none;
  padding: 0px;
  padding-left: 2px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.timeButton {
  height: 16px;
  width: 16px;
  border: solid 1px black;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 6px;
}

.timeGreyDown,
.timeGreyUp,
.timeDown,
.timeUp {
  height: 16px;
  width: 20px;
}

.timeGreyDown {
  border: inset 1px #ffffff;
  color: #8f8f8f;
}

.timeGreyUp {
  border: solid 1px #d0d0d0;
  color: #8f8f8f;
}

.timeDown {
  border: inset 1px #ffffff;
  color: #000000;
}

.timeUp {
  border: solid 1px #d0d0d0;
  color: #000000;
}

.timeYear {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.timeWeekDay {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.timeDate {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.timeMonth {
  font-family: Webdings;
  font-size: 16px;
}

.timeTimeH {
  background-color: #D0D0D0;
  width: 18px;
  height: 16px;
  padding: 0px;
  padding-left: 2px;
  border: solid 1px #000000;
  border-right: none;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.timeTimeM,
.timeTimeS {
  background-color: #D0D0D0;
  width: 18px;
  height: 16px;
  padding: 0px;
  padding-left: 2px;
  border: solid 1px #000000;
  border-right: none;
  border-left: none;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}
