<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE routes SYSTEM "file://routes.dtd">
<routes>
<subject_def id="subject00" defSme="sme00">
	<mask value="00?"/>
	<mask value="+00?"/>
</subject_def>
<subject_def id="subject01" defSme="sme01">
	<mask value="01?"/>
	<mask value="+01?"/>
</subject_def>
<subject_def id="subject02" defSme="sme02">
	<mask value="02?"/>
	<mask value="+02?"/>
</subject_def>
<subject_def id="ñóáúåêò00" defSme="sme00">
	<mask value="00"/>
	<mask value="+00"/>
</subject_def>
<subject_def id="ñóáúåêò01" defSme="sme01">
	<mask value="01"/>
	<mask value="+01"/>
</subject_def>
<subject_def id="ñóáúåêò02" defSme="sme02">
	<mask value="02"/>
	<mask value="+02"/>
</subject_def>
<route id="route00" billing="false" archiving="false" enabling="false" priority="0" serviceId="0" suppressDeliveryReports="false">
	<source>
		<subject id="subject00"/>
	</source>
	<source>
		<mask value=".0.0.00?"/>
	</source>
	<destination sme="sme00">
		<subject id="subject00"/>
	</destination>
	<destination sme="sme00">
		<mask value=".0.0.00?"/>
	</destination>
</route>
<route id="route01" billing="false" archiving="false" enabling="false" priority="1" serviceId="1" suppressDeliveryReports="false">
	<source>
		<subject id="subject01"/>
	</source>
	<source>
		<mask value=".0.0.01?"/>
	</source>
	<destination sme="sme01">
		<subject id="subject01"/>
	</destination>
	<destination sme="sme01">
		<mask value=".0.0.01?"/>
	</destination>
</route>
<route id="route02" billing="false" archiving="false" enabling="false" priority="2" serviceId="2" suppressDeliveryReports="false">
	<source>
		<subject id="subject02"/>
	</source>
	<source>
		<mask value=".0.0.02?"/>
	</source>
	<destination sme="sme02">
		<subject id="subject02"/>
	</destination>
	<destination sme="sme02">
		<mask value=".0.0.02?"/>
	</destination>
</route>
<route id="ìàðøðóò00" billing="true" archiving="true" enabling="true" priority="0" serviceId="0" suppressDeliveryReports="true">
	<source>
		<subject id="ñóáúåêò00"/>
	</source>
	<source>
		<mask value=".0.0.00"/>
	</source>
	<destination sme="sme01">
		<subject id="ñóáúåêò01"/>
	</destination>
	<destination sme="sme01">
		<mask value=".0.0.01"/>
	</destination>
</route>
<route id="ìàðøðóò01" billing="true" archiving="true" enabling="true" priority="1" serviceId="1" suppressDeliveryReports="true">
	<source>
		<subject id="ñóáúåêò01"/>
	</source>
	<source>
		<mask value=".0.0.01"/>
	</source>
	<destination sme="sme02">
		<subject id="ñóáúåêò02"/>
	</destination>
	<destination sme="sme02">
		<mask value=".0.0.02"/>
	</destination>
</route>
<route id="ìàðøðóò02" billing="true" archiving="true" enabling="true" priority="2" serviceId="2" suppressDeliveryReports="true">
	<source>
		<subject id="ñóáúåêò02"/>
	</source>
	<source>
		<mask value=".0.0.02"/>
	</source>
	<destination sme="sme00">
		<subject id="ñóáúåêò00"/>
	</destination>
	<destination sme="sme00">
		<mask value=".0.0.00"/>
	</destination>
</route>
</routes>
