<Server port="@catalina.control.port@" shutdown="SHUTDOWN">
  <Service name="Catalina">
    <Connector port="@catalina.connector.port@" URLEncoding="UTF-8"/>

    <Engine name="Catalina" defaultHost="localhost">
      <Logger className="org.apache.catalina.logger.FileLogger" />
      <Realm className="ru.sibinco.tomcat_auth.SibincoRealm"/>
      <Host name="localhost" appBase="webapps">
        <Context path="/msag" docBase="msag" debug="0" privileged="true">
        </Context>
      </Host>
    </Engine>
  </Service>
</Server>
