<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>
  <section name="console">
    <param name="enabled" type="bool">false</param>
    <param name="humanPort" type="int">14228</param>
    <param name="scriptPort" type="int">14229</param>
  </section>

  <section name="daemons">
    <section name="192/168/0/105">
      <param name="port" type="int">6012</param>
    </section>

    <section name="smsc">
      <param name="port" type="int">6011</param>
    </section>

  </section>

  <section name="perfmon">
    <param name="appletport" type="int">6081</param>
    <param name="smscport" type="int">6002</param>
  </section>

  <section name="profiler">
    <section name="jdbc">
      <param name="driver" type="string">oracle.jdbc.driver.OracleDriver</param>
      <param name="password" type="string">smsc_igork</param>
      <param name="source" type="string">jdbc:oracle:thin:@dark:1521:smsc</param>
      <param name="user" type="string">smsc_igork</param>
    </section>

  </section>

  <section name="smsc">
    <param name="host" type="string">smsc</param>
    <param name="port" type="int">6003</param>
  </section>

  <section name="system">
    <param name="users" type="string">users.xml</param>
    <param name="webapp folder" type="string">D:\igork\work\cvs\smsc\src\webapp\smsc</param>
  </section>

</config>
