<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>
  <section name="system">
    <param name="webapp folder" type="string">/export/home/igork/install/tomcat/webapps/smsc</param>
  </section>
  <section name="daemons">
  </section>
  <section name="smsc">
    <param name="host" type="string">smsc</param>
    <param name="port" type="int">6690</param>
  </section>
  <section name="profiler">
    <section name="jdbc">
      <param name="source" type="string">jdbc:oracle:thin:@dbs.novosoft.ru:1521:ORCL</param>
      <param name="user" type="string">smsc3</param>
      <param name="password" type="string">smsc3</param>
      <param name="driver" type="string">oracle.jdbc.driver.OracleDriver</param>
    </section>
  </section>
</config>
