<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>
            smsc
        </servlet-name>
        <servlet-class>
            ru.novosoft.smsc.jsp.SMSCJspController
        </servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/export/home/igork/cvs/smsc/src/webapp/smsc/WEB-INF/config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
	<servlet-name>smsc</servlet-name>
        <url-pattern>/smsc/*</url-pattern>
    </servlet-mapping>
</web-app>
