<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

  <section name="index">
    <param name="smsIdHashSize" type="int">1000000</param>
    <param name="smeIdHashSize" type="int">64</param>
    <param name="routeIdHashSize" type="int">256</param>
    <param name="addrHashSize" type="int">1000000</param>
    <param name="smeIdRootSize" type="int">32</param>
    <param name="smeIdChunkSize" type="int">8192</param>
    <param name="routeIdRootSize" type="int">64</param>
    <param name="routeIdChunkSize" type="int">8192</param>
    <param name="addrRootSize" type="int">32768</param>
    <param name="defAddrChunkSize" type="int">32</param>
    <section name="smeAddrChunkSize">
      <param name="MAP_PROXY" type="int">8</param>
      <param name="hello" type="int">4</param>
      <param name="hello1" type="int">4</param>
      <param name="hello2" type="int">4</param>
      <param name="world" type="int">4</param>
    </section>
  </section>

</config>
