<?xml version = '1.0' encoding = 'utf-8'?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <servlet>
    <servlet-name>Redirect Servlet</servlet-name>
    <servlet-class>ru.novosoft.smsc.web.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect Servlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  

  <error-page>
    <error-code>403</error-code>
    <location>/redirect?url=/smsc/error403.faces</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/redirect?url=/smsc/error404.faces</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/redirect?url=/smsc/error500.faces</location>
  </error-page>

  <context-param>
    <param-name>org.apache.myfaces.ERROR_HANDLER</param-name>
    <param-value>ru.novosoft.smsc.web.ErrorHandler</param-value>
  </context-param>

  <!-- FaceletViewHandler configuration -->
  <context-param>
    <param-name>org.apache.myfaces.trinidad.ALTERNATE_VIEW_HANDLER</param-name>
    <param-value>ru.novosoft.smsc.web.SmscViewHandler</param-value>
  </context-param>


  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.REFRESH_PERIOD</param-name>
    <param-value>-1</param-value>
  </context-param>

  <!-- Use documents saved as *.xhtml for Facelets -->
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.VIEW_MAPPINGS</param-name>
    <param-value>*.xhtml</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.RECREATE_VALUE_EXPRESSION_ON_BUILD_BEFORE_RESTORE</param-name>
    <param-value>false</param-value>
  </context-param>



  <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>/WEB-INF/facelets/tags/eyeline.taglib.xml</param-value>
  </context-param>

  <context-param>
    <param-name>org.apache.myfaces.trinidad.CACHE_VIEW_ROOT</param-name>
    <param-value>false</param-value>
  </context-param>


  <!-- Use client-side state saving.  In Trinidad, it is an
       optimized, token-based mechanism that is almost always a
       better choice than the standard JSF server-side state saving. -->
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
    <!--<param-value>server</param-value>-->
  </context-param>

  <context-param>
    <param-name>org.apache.myfaces.trinidad.USE_APPLICATION_VIEW_CACHE</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- If this parameter is enabled, Trinidad will automatically
       check the modification date of your JSPs, and discard saved
       state when they change;  this makes development easier,
       but adds overhead that should be avoided when your application
       is deployed -->
  <context-param>
    <param-name>org.apache.myfaces.trinidad.CHECK_FILE_MODIFICATION</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>org.apache.myfaces.trinidad.CHANGE_PERSISTENCE</param-name>
    <param-value>request</param-value>
  </context-param>

  <filter>
    <filter-name>localeFilter</filter-name>
    <filter-class>ru.novosoft.smsc.web.LocaleFilter</filter-class>
  </filter>

  <filter>
    <filter-name>trinidad</filter-name>
    <filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
  </filter>

  <filter>
    <filter-name>extensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>localeFilter</filter-name>
    <servlet-name>faces</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>trinidad</filter-name>
    <servlet-name>faces</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>extensionsFilter</filter-name>
    <servlet-name>faces</servlet-name>
  </filter-mapping>

  <!-- Faces Servlet -->
  <servlet>
    <servlet-name>faces</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  </servlet>

  <!-- resource loader servlet -->
  <servlet>
    <servlet-name>resources</servlet-name>
    <servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
  </servlet>

  <!-- Faces Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>faces</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/adf/*</url-pattern>    
  </servlet-mapping> 

  <filter-mapping>
    <filter-name>extensionsFilter</filter-name>
    <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>ru.novosoft.smsc.web.InitListener</listener-class>
  </listener>


  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/smsc/login.faces</form-login-page>
      <form-error-page>/smsc/login.faces?loginError=true</form-error-page>
    </form-login-config>
  </login-config>

 <!-- security constraints -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Страницы для редактирования map limits, логирования, конфига СМСЦ и его перезапуска</web-resource-name>
      <url-pattern>/smsc/index.faces</url-pattern>
      <url-pattern>/smsc/smsc_service/smsc_config.faces</url-pattern>
      <url-pattern>/smsc/smsc_service/maplimits.faces</url-pattern>
      <url-pattern>/smsc/smsc_service/logging.faces</url-pattern>
      <url-pattern>/smsc/reschedule/*</url-pattern>
      <url-pattern>/smsc/fraud/*</url-pattern>
      <url-pattern>/smsc/snmp/*</url-pattern>
      <url-pattern>/smsc/acl/*</url-pattern>
      <url-pattern>/smsc/category/*</url-pattern>
      <url-pattern>/smsc/archive_daemon/*</url-pattern>
      <url-pattern>/smsc/alias/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>smsc_service</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Журнал</web-resource-name>
      <url-pattern>/smsc/journal/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>journal</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Редактор пользователей</web-resource-name>
      <url-pattern>/smsc/users/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>users</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Редактор закрытых групп</web-resource-name>
      <url-pattern>/smsc/closed_groups/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>closed_groups</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Сервисы</web-resource-name>
      <url-pattern>/smsc/services/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>services</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-role>
    <description>Может редактировать главный конфиг СМСЦ, map limits, логирование, запускать и останавливать центры</description>
    <role-name>smsc_service</role-name>
  </security-role>

  <security-role>
    <description>Может просматривать журнал</description>
    <role-name>journal</role-name>
  </security-role>

  <security-role>
    <description>Может редактировать пользователей</description>
    <role-name>users</role-name>
  </security-role>

  <security-role>
    <description>Может редактировать политики передоставки</description>
    <role-name>reschedule</role-name>
  </security-role>

  <security-role>
    <description>Может редактировать закрытые группы</description>
    <role-name>closed_groups</role-name>
  </security-role>

  <security-role>
    <description>Может управлять сервисами</description>
    <role-name>services</role-name>
  </security-role>

</web-app>