ASN_MODULE_SOURCES=	\
	ServiceKey.c	\
	Integer4.c	\
	CriticalityType.c	\
	MiscCallInfo.c

ASN_MODULE_HEADERS=	\
	ServiceKey.h	\
	Integer4.h	\
	CriticalityType.h	\
	MiscCallInfo.h



lib_LTLIBRARIES=libsomething.la
libsomething_la_SOURCES=$(ASN_MODULE_SOURCES) $(ASN_MODULE_HEADERS)

# This file may be used as an input for make(3)
# Remove the lines below to convert it into a pure .am file
TARGET = progname
CFLAGS += -I.
OBJS=${ASN_MODULE_SOURCES:.c=.o} $(TARGET).o

all: $(TARGET)

$(TARGET): ${OBJS}
	$(CC) $(CFLAGS) -o $(TARGET) ${OBJS} $(LDFLAGS) $(LIBS)

.SUFFIXES:
.SUFFIXES: .c .o

.c.o:
	$(CC) $(CFLAGS) -o $@ -c $<

clean:
	rm -f $(TARGET)
	rm -f $(OBJS)

regen: regenerate-from-asn1-source

regenerate-from-asn1-source:
	/home/gvroman/bin/asn1c -fnative-types ../in_CS1.asn ../in_CS2.asn

