<config>

  <section name="informer">
    <param name="host" type="string">host1</param>
    <param name="adminPort" type="string">8080</param>
    <param name="deliveriesPort" type="string">8088</param>
  </section>

  <section name="pvss">
    <param name="host" type="string">niagara</param>
    <param name="port" type="string">25403</param>
  </section>

  <section name="stat">
    <param name="directory" type="string">/home/me/projects/smsc/webapps/informer/.informerbase/stat</param>
  </section>

</config>