<Server port="@catalina.control.port@" shutdown="SHUTDOWN">
  <Service name="Catalina">
    <Connector port="@catalina.connector.port@" />

    <Engine name="Catalina" defaultHost="localhost">
      <Logger className="org.apache.catalina.logger.FileLogger" />
      <Realm className="ru.sibinco.tomcat_auth.SibincoRealm"/>
      <Host name="localhost" appBase="webapps">
        <Context path="/smppgw" docBase="smppgw" debug="0" privileged="true">
        </Context>
        <Context path="/images" docBase="images" debug="0" privileged="true">
        </Context>
	<Context path="/styles" docBase="styles" debug="0" privileged="true">
        </Context>
	<Context path="/scripts" docBase="scripts" debug="0" privileged="true">
        </Context>
      </Host>
    </Engine>
  </Service>
</Server>
