ASN_MODULE_SOURCES=	\
	Code.c	\
	Priority.c	\
	LSAIdentity.c	\
	MS-Classmark2.c	\
	GPRSMSClass.c	\
	MSNetworkCapability.c	\
	MSRadioAccessCapability.c	\
	LocationInformation.c	\
	LocationInformationGPRS.c	\
	RAIdentity.c	\
	GeographicalInformation.c	\
	GeodeticInformation.c	\
	LocationNumber.c	\
	SS-Status.c	\
	SS-ForBS-Code.c	\
	USSD-Arg.c	\
	USSD-Res.c	\
	USSD-DataCodingScheme.c	\
	USSD-String.c	\
	Password.c	\
	SS-Code.c	\
	CallBarredParam.c	\
	CallBarringCause.c	\
	ExtensibleCallBarredParam.c	\
	SystemFailureParam.c	\
	ExtensibleSystemFailureParam.c	\
	DataMissingParam.c	\
	UnexpectedDataParam.c	\
	UnknownSubscriberParam.c	\
	UnknownSubscriberDiagnostic.c	\
	BearerServNotProvParam.c	\
	TeleservNotProvParam.c	\
	ATSI-NotAllowedParam.c	\
	IllegalSS-OperationParam.c	\
	SS-NotAvailableParam.c	\
	InformationNotAvailableParam.c	\
	TBCD-STRING.c	\
	AddressString.c	\
	ISDN-AddressString.c	\
	FTN-AddressString.c	\
	ISDN-SubaddressString.c	\
	AlertingPattern.c	\
	IMSI.c	\
	IMEI.c	\
	NetworkResource.c	\
	AdditionalNetworkResource.c	\
	SubscriberIdentity.c	\
	CellGlobalIdOrServiceAreaIdOrLAI.c	\
	CellGlobalIdOrServiceAreaIdFixedLength.c	\
	LAIFixedLength.c	\
	BasicServiceCode.c	\
	Ext-BasicServiceCode.c	\
	Ext-SS-Status.c	\
	AgeOfLocationInformation.c	\
	TeleserviceCode.c	\
	Ext-TeleserviceCode.c	\
	BearerServiceCode.c	\
	Ext-BearerServiceCode.c	\
	ExtensionContainer.c	\
	PrivateExtensionList.c	\
	PrivateExtension.c	\
	PCS-Extensions.c	\
	GPRS-CSI.c	\
	GPRS-CamelTDPDataList.c	\
	GPRS-CamelTDPData.c	\
	DefaultGPRS-Handling.c	\
	GPRS-TriggerDetectionPoint.c	\
	ODB-Data.c	\
	ODB-GeneralData.c	\
	ODB-HPLMN-Data.c	\
	Ext-ForwFeatureList.c	\
	Ext-ForwFeature.c	\
	Ext-ForwOptions.c	\
	Ext-NoRepCondTime.c	\
	Ext-CallBarFeatureList.c	\
	Ext-CallBarringFeature.c	\
	SpecificCSI-Withdraw.c	\
	MT-smsCAMELTDP-CriteriaList.c	\
	MT-smsCAMELTDP-Criteria.c	\
	TPDU-TypeCriterion.c	\
	MT-SMS-TPDU-Type.c	\
	D-CSI.c	\
	DP-AnalysedInfoCriteriaList.c	\
	DP-AnalysedInfoCriterium.c	\
	SS-CSI.c	\
	SS-CamelData.c	\
	SS-EventList.c	\
	O-CSI.c	\
	O-BcsmCamelTDPDataList.c	\
	O-BcsmCamelTDPData.c	\
	ServiceKey.c	\
	O-BcsmTriggerDetectionPoint.c	\
	O-BcsmCamelTDPCriteriaList.c	\
	O-BcsmCamelTDP-Criteria.c	\
	T-BCSM-CAMEL-TDP-CriteriaList.c	\
	T-BCSM-CAMEL-TDP-Criteria.c	\
	DestinationNumberCriteria.c	\
	DestinationNumberList.c	\
	DestinationNumberLengthList.c	\
	BasicServiceCriteria.c	\
	CallTypeCriteria.c	\
	MatchType.c	\
	O-CauseValueCriteria.c	\
	T-CauseValueCriteria.c	\
	CauseValue.c	\
	DefaultCallHandling.c	\
	CamelCapabilityHandling.c	\
	SupportedCamelPhases.c	\
	OfferedCamel4CSIs.c	\
	SMS-CSI.c	\
	SMS-CAMEL-TDP-DataList.c	\
	SMS-CAMEL-TDP-Data.c	\
	SMS-TriggerDetectionPoint.c	\
	DefaultSMS-Handling.c	\
	M-CSI.c	\
	MG-CSI.c	\
	MobilityTriggers.c	\
	MM-Code.c	\
	T-CSI.c	\
	T-BcsmCamelTDPDataList.c	\
	T-BcsmCamelTDPData.c	\
	T-BcsmTriggerDetectionPoint.c	\
	AnyTimeSubscriptionInterrogationArg.c	\
	AnyTimeSubscriptionInterrogationRes.c	\
	RequestedSubscriptionInfo.c	\
	RequestedCAMEL-SubscriptionInfo.c	\
	AdditionalRequestedCAMEL-SubscriptionInfo.c	\
	CallForwardingData.c	\
	CallBarringData.c	\
	WrongPasswordAttemptsCounter.c	\
	ODB-Info.c	\
	CAMEL-SubscriptionInfo.c

ASN_MODULE_HEADERS=	\
	Code.h	\
	Priority.h	\
	LSAIdentity.h	\
	MS-Classmark2.h	\
	GPRSMSClass.h	\
	MSNetworkCapability.h	\
	MSRadioAccessCapability.h	\
	LocationInformation.h	\
	LocationInformationGPRS.h	\
	RAIdentity.h	\
	GeographicalInformation.h	\
	GeodeticInformation.h	\
	LocationNumber.h	\
	SS-Status.h	\
	SS-ForBS-Code.h	\
	USSD-Arg.h	\
	USSD-Res.h	\
	USSD-DataCodingScheme.h	\
	USSD-String.h	\
	Password.h	\
	SS-Code.h	\
	CallBarredParam.h	\
	CallBarringCause.h	\
	ExtensibleCallBarredParam.h	\
	SystemFailureParam.h	\
	ExtensibleSystemFailureParam.h	\
	DataMissingParam.h	\
	UnexpectedDataParam.h	\
	UnknownSubscriberParam.h	\
	UnknownSubscriberDiagnostic.h	\
	BearerServNotProvParam.h	\
	TeleservNotProvParam.h	\
	ATSI-NotAllowedParam.h	\
	IllegalSS-OperationParam.h	\
	SS-NotAvailableParam.h	\
	InformationNotAvailableParam.h	\
	TBCD-STRING.h	\
	AddressString.h	\
	ISDN-AddressString.h	\
	FTN-AddressString.h	\
	ISDN-SubaddressString.h	\
	AlertingPattern.h	\
	IMSI.h	\
	IMEI.h	\
	NetworkResource.h	\
	AdditionalNetworkResource.h	\
	SubscriberIdentity.h	\
	CellGlobalIdOrServiceAreaIdOrLAI.h	\
	CellGlobalIdOrServiceAreaIdFixedLength.h	\
	LAIFixedLength.h	\
	BasicServiceCode.h	\
	Ext-BasicServiceCode.h	\
	Ext-SS-Status.h	\
	AgeOfLocationInformation.h	\
	TeleserviceCode.h	\
	Ext-TeleserviceCode.h	\
	BearerServiceCode.h	\
	Ext-BearerServiceCode.h	\
	ExtensionContainer.h	\
	PrivateExtensionList.h	\
	PrivateExtension.h	\
	PCS-Extensions.h	\
	GPRS-CSI.h	\
	GPRS-CamelTDPDataList.h	\
	GPRS-CamelTDPData.h	\
	DefaultGPRS-Handling.h	\
	GPRS-TriggerDetectionPoint.h	\
	ODB-Data.h	\
	ODB-GeneralData.h	\
	ODB-HPLMN-Data.h	\
	Ext-ForwFeatureList.h	\
	Ext-ForwFeature.h	\
	Ext-ForwOptions.h	\
	Ext-NoRepCondTime.h	\
	Ext-CallBarFeatureList.h	\
	Ext-CallBarringFeature.h	\
	SpecificCSI-Withdraw.h	\
	MT-smsCAMELTDP-CriteriaList.h	\
	MT-smsCAMELTDP-Criteria.h	\
	TPDU-TypeCriterion.h	\
	MT-SMS-TPDU-Type.h	\
	D-CSI.h	\
	DP-AnalysedInfoCriteriaList.h	\
	DP-AnalysedInfoCriterium.h	\
	SS-CSI.h	\
	SS-CamelData.h	\
	SS-EventList.h	\
	O-CSI.h	\
	O-BcsmCamelTDPDataList.h	\
	O-BcsmCamelTDPData.h	\
	ServiceKey.h	\
	O-BcsmTriggerDetectionPoint.h	\
	O-BcsmCamelTDPCriteriaList.h	\
	O-BcsmCamelTDP-Criteria.h	\
	T-BCSM-CAMEL-TDP-CriteriaList.h	\
	T-BCSM-CAMEL-TDP-Criteria.h	\
	DestinationNumberCriteria.h	\
	DestinationNumberList.h	\
	DestinationNumberLengthList.h	\
	BasicServiceCriteria.h	\
	CallTypeCriteria.h	\
	MatchType.h	\
	O-CauseValueCriteria.h	\
	T-CauseValueCriteria.h	\
	CauseValue.h	\
	DefaultCallHandling.h	\
	CamelCapabilityHandling.h	\
	SupportedCamelPhases.h	\
	OfferedCamel4CSIs.h	\
	SMS-CSI.h	\
	SMS-CAMEL-TDP-DataList.h	\
	SMS-CAMEL-TDP-Data.h	\
	SMS-TriggerDetectionPoint.h	\
	DefaultSMS-Handling.h	\
	M-CSI.h	\
	MG-CSI.h	\
	MobilityTriggers.h	\
	MM-Code.h	\
	T-CSI.h	\
	T-BcsmCamelTDPDataList.h	\
	T-BcsmCamelTDPData.h	\
	T-BcsmTriggerDetectionPoint.h	\
	AnyTimeSubscriptionInterrogationArg.h	\
	AnyTimeSubscriptionInterrogationRes.h	\
	RequestedSubscriptionInfo.h	\
	RequestedCAMEL-SubscriptionInfo.h	\
	AdditionalRequestedCAMEL-SubscriptionInfo.h	\
	CallForwardingData.h	\
	CallBarringData.h	\
	WrongPasswordAttemptsCounter.h	\
	ODB-Info.h	\
	CAMEL-SubscriptionInfo.h



lib_LTLIBRARIES=libsomething.la
libsomething_la_SOURCES=$(ASN_MODULE_SOURCES) $(ASN_MODULE_HEADERS)

# This file may be used as an input for make(3)
# Remove the lines below to convert it into a pure .am file
TARGET = progname
CFLAGS += -I.
OBJS=${ASN_MODULE_SOURCES:.c=.o} $(TARGET).o

all: $(TARGET)

$(TARGET): ${OBJS}
	$(CC) $(CFLAGS) -o $(TARGET) ${OBJS} $(LDFLAGS) $(LIBS)

.SUFFIXES:
.SUFFIXES: .c .o

.c.o:
	$(CC) $(CFLAGS) -o $@ -c $<

clean:
	rm -f $(TARGET)
	rm -f $(OBJS)

regen: regenerate-from-asn1-source

regenerate-from-asn1-source:
	/home/gvroman/bin/asn1c -fnative-types ../../codec_inc/ros_ROIO.asn ../../codec_inc/map_errors.asn ../../codec_inc/map_ms_types.asn ../../codec_inc/map_ss_types.asn ../../codec_inc/map_ss_code.asn ../../codec_inc/map_err_types.asn ../../codec_inc/map_cmn_types.asn ../../codec_inc/map_ts_code.asn ../../codec_inc/map_bs_code.asn ../../codec_inc/map_ext_types.asn ../mapATIH.asn

