<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE config SYSTEM "configuration.dtd">
<config>
    
    <section name="StartupLoader">
        <section name="DataSourceDrivers">
            <section name="OCIDataSourceDriver">
                <param name="type" type="string">OCI</param>
                <param name="loadup" type="string">../db/oci/libdb_oci.so</param>
            </section>
        </section>
    </section>
    
    <section name="InfoSme">

        <param name="Address" type="string">.0.1.4</param>
	<param name="SvcType" type="string">InfoSme</param>
        <param name="ProtocolId" type="int">111</param>
	<param name="unrespondedMessagesMax" type="int">100</param>
	<param name="unrespondedMessagesSleep" type="int">1000</param>
	<param name="responceWaitTime" type="string">00:00:10</param>
	<param name="receiptWaitTime" type="string">00:20:00</param>
	
        <section name="TasksThreadPool">
            <param name="max" type="int">15</param>
            <param name="init" type="int">5</param>
        </section>  
            
        <section name="EventsThreadPool">
            <param name="max" type="int">15</param>
            <param name="init" type="int">5</param>
        </section>  

        <section name="Admin">
            <param name="host" type="string">smsc</param>
            <param name="port" type="int">9669</param>
	</section>

        <section name="SMSC">
            <param name="host" type="string">smsc</param>
            <param name="port" type="int">9229</param>
            <param name="sid" type="string">4</param>
            <param name="password" type="string">4</param>
	    <param name="timeout" type="int">10</param>
        </section>  

	<section name="DataProvider">
	    
	    <param name="dsInternal" type="string">INTERNAL_DS</param>
	    
	    <section name="INTERNAL_DS">
		<param name="type" type="string">OCI</param>
                <param name="connections" type="int">10</param>
                <param name="dbInstance" type="string">smsc</param>
                <param name="dbUserName" type="string">smsc_makar</param>
                <param name="dbUserPassword" type="string">smsc_makar</param>
	        <param name="watchdog" type="bool">true</param>
            </section>
            <section name="WORKING_DS1">
		<param name="type" type="string">OCI</param>
                <param name="connections" type="int">5</param>
                <param name="dbInstance" type="string">smsc</param>
                <param name="dbUserName" type="string">smsc_makar</param>
                <param name="dbUserPassword" type="string">smsc_makar</param>
	        <param name="watchdog" type="bool">true</param>
            </section>
            <section name="WORKING_DS2">
		<param name="type" type="string">OCI</param>
                <param name="connections" type="int">5</param>
                <param name="dbInstance" type="string">smsc</param>
                <param name="dbUserName" type="string">smsc_makar</param>
                <param name="dbUserPassword" type="string">smsc_makar</param>
	        <param name="watchdog" type="bool">true</param>
            </section>
	</section>

	<section name="Tasks">

	    <param name="taskTablesPrefix" type="string">INFOSME_TABLE_FOR_</param>
	    <param name="switchTimeout" type="int">10</param> <!-- in msec -->
	    
	    <section name="Task1">
		<param name="name" type="string">Task 1</param>
		<param name="dsId" type="string">WORKING_DS1</param>
		<param name="dsOwnTimeout" type="int">10</param> <!-- in seconds -->
		<param name="dsIntTimeout" type="int">10</param> <!-- in seconds -->
		<param name="enabled" type="bool">true</param>
		<param name="priority" type="int">1</param>
		<param name="retryOnFail" type="bool">false</param>
		<param name="replaceMessage" type="bool">false</param>
		<param name="transactionMode" type="bool">false</param>
		<param name="endDate" type="string"></param>
		<param name="retryTime" type="string">03:10:10</param>
		<param name="validityPeriod" type="string">00:01:00</param>
		<param name="validityDate" type="string"></param>
		<param name="activePeriodStart" type="string">09:00:00</param>
		<param name="activePeriodEnd" type="string">22:00:00</param>
		<param name="query" type="string">
		    select abonent, balance from INFOSME_TEST_PROVIDER
		</param>
		<param name="template" type="string">Balance for '$$string arg=1$$' is $$float arg=2$$</param>
		<param name="svcType" type="string">TASK_1</param>
		<param name="uncommitedInProcess" type="int">50</param>
		<param name="uncommitedInGeneration" type="int">50</param>
		<param name="messagesCacheSize" type="int">1000</param>
		<param name="messagesCacheSleep" type="int">10</param> <!-- in seconds -->
	    </section>

	    <!--section name="Task2">
		<param name="name" type="string">Task 2</param>
		<param name="dsId" type="string">WORKING_DS2</param>
		<param name="dsOwnTimeout" type="int">10</param> 
		<param name="dsIntTimeout" type="int">10</param>
		<param name="enabled" type="bool">true</param>
		<param name="priority" type="int">2</param>
		<param name="retryOnFail" type="bool">true</param>
		<param name="replaceMessage" type="bool">false</param>
		<param name="endDate" type="string">07.05.2003 00:00:00</param>
		<param name="retryTime" type="string">03:10:10</param>
		<param name="validityPeriod" type="string">01:00:00</param>
		<param name="validityDate" type="string"></param>
		<param name="activePeriodStart" type="string">09:00:00</param>
		<param name="activePeriodEnd" type="string">20:00:00</param>
		<param name="query" type="string">
		    select ...
		</param>
		<param name="template" type="string">
		    Hi, $$string arg=1$$
		</param>
		<param name="svcType" type="string">TASK_2</param>
		<param name="uncommited" type="int">10</param>
	    </section>
	    
	    <section name="Task3">
		<param name="name" type="string">Task 3</param>
		<param name="dsId" type="string">INTERNAL_DS</param>
		<param name="dsOwnTimeout" type="int">10</param>
		<param name="dsIntTimeout" type="int">10</param>
		<param name="enabled" type="bool">true</param>
		<param name="priority" type="int">3</param>
		<param name="retryOnFail" type="bool">true</param>
		<param name="replaceMessage" type="bool">false</param>
		<param name="endDate" type="string">07.05.2003 00:00:00</param>
		<param name="retryTime" type="string">03:10:10</param>
		<param name="validityPeriod" type="string">01:00:00</param>
		<param name="validityDate" type="string"></param>
		<param name="activePeriodStart" type="string">09:00:00</param>
		<param name="activePeriodEnd" type="string">20:00:00</param>
		<param name="query" type="string">
		    select ...
		</param>
		<param name="template" type="string">
		    Hi, $$string arg=1$$
		</param>
		<param name="svcType" type="string">TASK_3</param>
		<param name="uncommited" type="int">5</param>
	    </section-->
	</section>
	
	<section name="Schedules">

	    <!--section name="Schedule 1 (once)">
		<param name="execute" type="string">once</param>
		<param name="tasks" type="string">Task2,Task1</param>
		
		<param name="startDateTime" type="string">04.09.2003 19:40:00</param>
		
	    </section>
	    <section name="Schedule 2 (daily)">
		<param name="execute" type="string">daily</param>
		<param name="tasks" type="string"></param>
		
		<param name="startDateTime" type="string">03.09.2003 19:40:00</param>
		<param name="endDateTime" type="string"></param>
		<param name="everyNDays" type="int">3</param>			
	    </section>
	    <section name="Schedule 3 (weekly)">
		<param name="execute" type="string">weekly</param>
		<param name="tasks" type="string"></param>
		
		<param name="startDateTime" type="string">13.09.2003 09:40:00</param>
		<param name="endDateTime" type="string"></param>
		<param name="everyNWeeks" type="int">2</param>
		<param name="weekDays" type="string">Sun,Thu,Wed,Fri</param>
	    </section>
	    <section name="Schedule 4 (monthly)">
		<param name="execute" type="string">monthly</param>
		<param name="tasks" type="string"></param>
		
		<param name="startDateTime" type="string">03.10.2004 19:40:00</param>
		<param name="endDateTime" type="string"></param>
		<param name="dayOfMonth" type="int">29</param>
		<param name="monthes" type="string">Feb</param>
	    </section>
	    <section name="Schedule 5 (monthly)">
		<param name="execute" type="string">monthly</param>
		<param name="tasks" type="string"></param>
		
		<param name="startDateTime" type="string">03.09.2003 19:40:00</param>
		<param name="endDateTime" type="string"></param>
		<param name="weekDayN" type="string">fourth</param>
		<param name="weekDay" type="string">Sun</param>
		<param name="monthes" type="string">Jun,Jul,Nov</param>
	    </section-->
	    <section name="Schedule 6 (interval)">
		<param name="execute" type="string">interval</param>
		<param name="tasks" type="string">Task1</param>
		
		<param name="startDateTime" type="string">20.09.2003 00:00:00</param>
		<param name="endDateTime" type="string"></param>
		<param name="intervalTime" type="string">00:00:01</param>			
	    </section>
	</section>
	
    </section>
    
</config>
