<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE config SYSTEM "configuration.dtd">
<config>
    
    <section name="StartupLoader">
        <section name="DataSourceDrivers">
            <section name="OCIDataSourceDriver">
                <param name="type" type="string">OCI</param>
                <param name="loadup" type="string">../db/oci/libdb_oci.so</param>
            </section>
        </section>
    </section>
    
    <section name="MCISme">

        <param name="Address" type="string">555</param>
	<param name="SvcType" type="string">MCISme</param>
        <param name="ProtocolId" type="int">111</param>
	<param name="DaysValid"  type="int">1</param>
	
	<param name="unrespondedMessagesMax" type="int">5</param>
	<param name="unrespondedMessagesSleep" type="int">20</param>
	
	<param name="responceWaitTime" type="string">00:00:05</param>
	<param name="receiptWaitTime" type="string">00:00:05</param>
	
	<param name="inputQueueSize"  type="int">1000</param>
	<param name="outputQueueSize" type="int">1000</param>
	
	<param name="maxRowsPerMessage" type="int">5</param>
	<param name="forceInform" type="bool">true</param>
	<param name="forceNotify" type="bool">true</param>
	<param name="forceSeparate" type="bool">false</param>
			
        <section name="SMPPThreadPool">
            <param name="max" type="int">15</param>
            <param name="init" type="int">5</param>
        </section>  

        <section name="Admin">
            <param name="host" type="string">smsc</param>
            <param name="port" type="int">9759</param>
	</section>

        <section name="SMSC">
            <param name="host" type="string">smsc</param>
            <param name="port" type="int">9229</param>
            <param name="sid" type="string">MCISme</param>
            <param name="password" type="string"></param>
	    <param name="timeout" type="int">10</param>
        </section>  
	
        <section name="Circuits">
	    <param name="hsn" type="int">1</param>
	    <param name="spn" type="int">2</param>
    	    <param name="tsm" type="string">123ABC</param>
	</section>

	<section name="DataSource">
    	    <param name="type" type="string">OCI</param>
            <param name="connections" type="int">10</param>
            <param name="dbInstance" type="string">smsc</param>
            <param name="dbUserName" type="string">smsc_makar</param>
            <param name="dbUserPassword" type="string">smsc_makar</param>
	    <param name="watchdog" type="bool">false</param>
	    <section name="jdbc">
	        <param name="driver" type="string">oracle.jdbc.driver.OracleDriver</param>
	        <param name="source" type="string">jdbc:oracle:thin:@dark:1521:smsc</param>
	    </section>
	</section>

    </section>
    
</config>
