ASN_MODULE_SOURCES=	\
	Code.c	\
	Priority.c	\
	LSAIdentity.c	\
	MS-Classmark2.c	\
	GPRSMSClass.c	\
	MSNetworkCapability.c	\
	MSRadioAccessCapability.c	\
	LocationInformation.c	\
	LocationInformationGPRS.c	\
	RAIdentity.c	\
	GeographicalInformation.c	\
	GeodeticInformation.c	\
	LocationNumber.c	\
	CallReferenceNumber.c	\
	TBCD-STRING.c	\
	AddressString.c	\
	ISDN-AddressString.c	\
	FTN-AddressString.c	\
	ISDN-SubaddressString.c	\
	AlertingPattern.c	\
	IMSI.c	\
	IMEI.c	\
	NetworkResource.c	\
	AdditionalNetworkResource.c	\
	SubscriberIdentity.c	\
	CellGlobalIdOrServiceAreaIdOrLAI.c	\
	CellGlobalIdOrServiceAreaIdFixedLength.c	\
	LAIFixedLength.c	\
	BasicServiceCode.c	\
	Ext-BasicServiceCode.c	\
	Ext-SS-Status.c	\
	AgeOfLocationInformation.c	\
	ExtensionContainer.c	\
	PrivateExtensionList.c	\
	PrivateExtension.c	\
	PCS-Extensions.c	\
	TeleserviceCode.c	\
	Ext-TeleserviceCode.c	\
	BearerServiceCode.c	\
	Ext-BearerServiceCode.c	\
	ServiceKey.c	\
	Integer4.c	\
	CriticalityType.c	\
	MiscCallInfo.c	\
	AppendFreeFormatData.c	\
	CalledPartyBCDNumber.c	\
	CAMEL-FCISMSBillingChargingCharacteristics.c	\
	EventSpecificInformationSMS.c	\
	EventTypeSMS.c	\
	Extensions.c	\
	ExtensionField.c	\
	FCISMSBillingChargingCharacteristics.c	\
	LocationInformationGPRScap.c	\
	MonitorMode.c	\
	MO-SMSCause.c	\
	MT-SMSCause.c	\
	RPCause.c	\
	SMS-AddressString.c	\
	SMSEvent.c	\
	TimeAndTimezone.c	\
	TimerID.c	\
	TimerValue.c	\
	TPDataCodingScheme.c	\
	TPProtocolIdentifier.c	\
	TPShortMessageSpecificInfo.c	\
	TPValidityPeriod.c	\
	UnavailableNetworkResource.c	\
	ConnectSMSArg.c	\
	EventReportSMSArg.c	\
	FurnishChargingInformationSMSArg.c	\
	InitialDPSMSArg.c	\
	ReleaseSMSArg.c	\
	RequestReportSMSEventArg.c	\
	ResetTimerSMSArg.c

ASN_MODULE_HEADERS=	\
	Code.h	\
	Priority.h	\
	LSAIdentity.h	\
	MS-Classmark2.h	\
	GPRSMSClass.h	\
	MSNetworkCapability.h	\
	MSRadioAccessCapability.h	\
	LocationInformation.h	\
	LocationInformationGPRS.h	\
	RAIdentity.h	\
	GeographicalInformation.h	\
	GeodeticInformation.h	\
	LocationNumber.h	\
	CallReferenceNumber.h	\
	TBCD-STRING.h	\
	AddressString.h	\
	ISDN-AddressString.h	\
	FTN-AddressString.h	\
	ISDN-SubaddressString.h	\
	AlertingPattern.h	\
	IMSI.h	\
	IMEI.h	\
	NetworkResource.h	\
	AdditionalNetworkResource.h	\
	SubscriberIdentity.h	\
	CellGlobalIdOrServiceAreaIdOrLAI.h	\
	CellGlobalIdOrServiceAreaIdFixedLength.h	\
	LAIFixedLength.h	\
	BasicServiceCode.h	\
	Ext-BasicServiceCode.h	\
	Ext-SS-Status.h	\
	AgeOfLocationInformation.h	\
	ExtensionContainer.h	\
	PrivateExtensionList.h	\
	PrivateExtension.h	\
	PCS-Extensions.h	\
	TeleserviceCode.h	\
	Ext-TeleserviceCode.h	\
	BearerServiceCode.h	\
	Ext-BearerServiceCode.h	\
	ServiceKey.h	\
	Integer4.h	\
	CriticalityType.h	\
	MiscCallInfo.h	\
	AppendFreeFormatData.h	\
	CalledPartyBCDNumber.h	\
	CAMEL-FCISMSBillingChargingCharacteristics.h	\
	EventSpecificInformationSMS.h	\
	EventTypeSMS.h	\
	Extensions.h	\
	ExtensionField.h	\
	FCISMSBillingChargingCharacteristics.h	\
	LocationInformationGPRScap.h	\
	MonitorMode.h	\
	MO-SMSCause.h	\
	MT-SMSCause.h	\
	RPCause.h	\
	SMS-AddressString.h	\
	SMSEvent.h	\
	TimeAndTimezone.h	\
	TimerID.h	\
	TimerValue.h	\
	TPDataCodingScheme.h	\
	TPProtocolIdentifier.h	\
	TPShortMessageSpecificInfo.h	\
	TPValidityPeriod.h	\
	UnavailableNetworkResource.h	\
	ConnectSMSArg.h	\
	EventReportSMSArg.h	\
	FurnishChargingInformationSMSArg.h	\
	InitialDPSMSArg.h	\
	ReleaseSMSArg.h	\
	RequestReportSMSEventArg.h	\
	ResetTimerSMSArg.h



lib_LTLIBRARIES=libsomething.la
libsomething_la_SOURCES=$(ASN_MODULE_SOURCES) $(ASN_MODULE_HEADERS)

# This file may be used as an input for make(3)
# Remove the lines below to convert it into a pure .am file
TARGET = progname
CFLAGS += -I.
OBJS=${ASN_MODULE_SOURCES:.c=.o} $(TARGET).o

all: $(TARGET)

$(TARGET): ${OBJS}
	$(CC) $(CFLAGS) -o $(TARGET) ${OBJS} $(LDFLAGS) $(LIBS)

.SUFFIXES:
.SUFFIXES: .c .o

.c.o:
	$(CC) $(CFLAGS) -o $@ -c $<

clean:
	rm -f $(TARGET)
	rm -f $(OBJS)

regen: regenerate-from-asn1-source

regenerate-from-asn1-source:
	/home/gvroman/bin/asn1c -fnative-types ../ros_ROIO.asn ../map_ms_types.asn ../map_ch_types.asn ../map_cmn_types.asn ../map_ext_types.asn ../map_ts_code.asn ../map_bs_code.asn ../in_CS1.asn ../in_CS2.asn ../cap_cmn_types.asn ../cap_err_codes.asn ../cap_err_types.asn ../cap_op_codes.asn ../cap_sms_ops.asn

