<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>
  <section name="DataSource">
    <param name="connections" type="int">5</param>
    <param name="dbInstance" type="string">DBS_ORCL</param>
    <param name="dbUserName" type="string">smsc</param>
    <param name="dbUserPassword" type="string">smsc</param>
    <param name="type" type="string">OCI</param>
  </section>

  <section name="MessageStore">

    <param name="maxTriesCount" type="int">2</param>
    <param name="archiveDir" type="string">/export/home/user/install/.../arc</param>  <!-- SET -->
    <param name="billingDir" type="string">/export/home/user/install/.../bill</param> <!-- SET -->
    <param name="archiveInterval" type="int">60</param> <!-- in seconds -->
    <param name="billingInterval" type="int">60</param> <!-- in seconds -->

    <section name="Cache">
      <param name="capacity" type="int">1000</param>
      <param name="enabled" type="bool">true</param>
    </section>

    <section name="Connections">
      <param name="init" type="int">5</param>
      <param name="max" type="int">10</param>
    </section>

    <section name="Storage">
      <param name="dbInstance" type="string">DBS_ORCL</param>
      <param name="dbUserName" type="string">smsc</param>
      <param name="dbUserPassword" type="string">smsc</param>
    </section>

  </section>

  <section name="StartupLoader">
    <section name="DataSourceDrivers">
      <section name="OCIDataSourceDriver">
        <param name="loadup" type="string">../db/oci/libdb_oci.so</param>
        <param name="type" type="string">OCI</param>
      </section>

    </section>

  </section>

  <section name="abonentinfo">
    <param name="mobile_access_address" type="string">.0.1.101</param>
    <param name="protocol_id" type="int">34</param>
    <param name="service_type" type="string">abnfo</param>
    <param name="smpp_access_address" type="string">.0.1.100</param>
    <param name="systemId" type="string">abonentinfo</param>
  </section>

  <!--section name="admin">
    <param name="host" type="string">smsc</param>
    <param name="port" type="int">6690</param>
  </section-->

  <section name="core">
    <param name="default_locale" type="string">en_en</param>
    <param name="locales" type="string">en_en, ru_ru</param>
    <param name="protocol_id" type="int">34</param>
    <param name="reschedule_table" type="string">30s,1m,5m,15m,30m,1h,6h,12h,1d</param>
    <param name="reschedule_limit" type="int">20</param>
    <param name="service_center_address" type="string">123</param>
    <param name="ussd_center_address" type="string">123</param>
    <param name="ussd_ssn" type="int">6</param>
    <param name="service_type" type="string">SMSC</param>
    <param name="state_machines_count" type="int">5</param>
    <param name="systemId" type="string">smscsme</param>
    <section name="performance">
      <param name="host" type="string">smsc</param>
      <param name="port" type="int">9003</param>
    </section>

    <section name="reshedule table">
      <param name="30s,1m,5m" type="string">8</param>
      <param name="30s,1m,5m,15m,30m,1h,6h,12h,1d" type="string">255,20,1027,88,100,69</param>
    </section>
    <param name="eventQueueLimit" type="int">1000</param>
    <param name="mergeTimeout" type="int">600</param>
  </section>

  <section name="directives">
    <param name="a1" type="string">def</param>
    <param name="a2" type="string">template</param>
    <param name="a3" type="string">ack</param>
    <param name="a4" type="string">noack</param>
    <param name="a5" type="string">hide</param>
    <param name="a6" type="string">unhide</param>
    <param name="a7" type="string">flash</param>
  </section>

  <section name="map">
    <param name="hlr" type="string">hlr:address</param>
    <param name="vlr" type="string">vlr:address</param>
  </section>

  <section name="profiler">
    <param name="defaultDataCoding" type="string">DEFAULT</param>
    <param name="defaultReport" type="string">NONE</param>
    <param name="defaultHide" type="bool">true</param>
    <param name="defaultUssdIn7Bit" type="bool">false</param>
    <param name="defaultHideModifiable" type="bool">false</param>
    <param name="defaultDivertModifiable" type="bool">false</param>
    <param name="protocol_id" type="int">34</param>
    <param name="service_type" type="string">prflr</param>
    <param name="systemId" type="string">profiler</param>
    <section name="ussdOpsMapping">
      <param name="REPORT NONE" type="int">0</param>
      <param name="REPORT FULL" type="int">2</param>
      <param name="REPORT FINAL" type="int">1</param>
      <param name="LOCALE RU_RU" type="int">20</param>
      <param name="LOCALE EN_EN" type="int">21</param>
      <param name="DEFAULT" type="int">3</param>
      <param name="UCS2" type="int">4</param>
      <param name="HIDE" type="int">5</param>
      <param name="UNHIDE" type="int">6</param>
      <param name="USSD7BIT ON" type="int">7</param>
      <param name="USSD7BIT OFF" type="int">8</param>
      <param name="DIVERT ON" type="int">30</param>
      <param name="DIVERT OFF" type="int">31</param>
      <param name="DIVERT TO" type="int">40</param>
    </section>
  </section>

  <section name="smpp">
    <param name="host" type="string">smsc</param>
    <param name="port" type="int">9009</param>
    <param name="readTimeout" type="int">60</param>
    <param name="inactivityTime" type="int">600</param>
    <param name="inactivityTimeOut" type="int">60</param>
  </section>

  <section name="sms">
    <param name="max_valid_time" type="int">1209600</param>
  </section>

  <section name="MscManager">
    <param name="automaticRegistration" type="bool">true</param>
    <param name="failureLimit" type="int">1000</param>
  </section>

  <section name="trafficControl">
    <param name="maxSmsPerSecond" type="int">10</param>
    <param name="shapeTimeFrame" type="int">1</param>
    <param name="protectTimeFrame" type="int">10</param>
    <param name="protectThreshold" type="int">20</param>
    <param name="allowedDeliveryFailures" type="int">5</param>
    <param name="lookAheadTime" type="int">5</param>
  </section>
</config>
