<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE config SYSTEM "configuration.dtd">
<config>
	<section name="db">
	    <param name="instance" type="string">ORJP</param>
	    <param name="userName" type="string">smsc</param>
	    <param name="userPassword" type="string">smsc</param>
	    <param name="maxconn" type="int">100</param>
	    <param name="init" type="int">5</param>
	</section>
	</section name="map">
	    <param name="hlr" type="string">hlr:address</param>
	    <param anme="vlr" type="string">vlr:address</param>
	</section>
</config>
