<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE config SYSTEM "configuration.dtd">
<config>
	<section name="MessageStore">
	    <param name="dbInstance" type="string">ORCL</param>
	    <param name="dbUserName" type="string">smsc</param>
	    <param name="dbUserPassword" type="string">smsc</param>
	    <param name="maxTriesCount" type="int">2</param>
	    <section name="Connections">
		<param name="max" type="int">10</param>
		<param name="init" type="int">5</param>
	    </section>
	</section>
	<section name="map">
	    <param name="hlr" type="string">hlr:address</param>
	    <param name="vlr" type="string">vlr:address</param>
	</section>
</config>
