<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE routes SYSTEM "routes.dtd">
<routes>
	<subject_def id="MTS_numbers" defSme="sme1">
		<mask value="+7902912????"/>
	</subject_def>
	<route id="Mobile to Mobile" billing="true" archiving="false" priority="0">
		<source>
			<subject id="MTS_numbers"/>
		</source>
		<destination sme="sme1">
			<subject id="MTS_numbers"/>
		</destination>
	</route>
</routes>
