<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE config SYSTEM "configuration.dtd">
<config>

  <section name="store">
    <param name="dir" type="string">@emailsme.store.dir@</param>
    <!-- for partitionSms only
        <param name="queueDir" type="string">queue</param>
    -->
  </section>

  <section name="smpp">
      <param name="host" type="string">@connect.host@</param>
      <param name="port" type="int">@smsc.smpp.port@</param>
      <param name="timeout" type="int">0</param>
      <param name="systemId" type="string">emailsme</param>
      <param name="password" type="string"></param>
      <param name="sourceAddress" type="string">@emailsme.orig.address@</param>
      <param name="serviceType" type="string">email</param>
      <param name="protocolId" type="int">34</param>
      <param name="retryTime" type="int">5</param>
      <!-- for partition sms only
      <param name="partitionSms" type="bool">true</param>
      <param name="partsSendSpeedPerHour" type="int">60</param>
      <param name="maxUdhParts" type="int">3</param>
      <param name="concatTimeout" type="int">120</param>
      <param name="pauseAfterDisconnect" type="bool">true</param>
      -->
  </section>
  
  <!--section name="stat">
    <param name="storeLocation" type="string">stats</param>
    <param name="flushPeriodInSec" type="int">5</param>
  </section-->
  

  <section name="listener">
    <param name="host" type="string">@listen.host@</param>
    <param name="port" type="int">@emailsme.mdagent.port@</param>
  </section>

  <section name="admin">
    <param name="host" type="string">@emailsme.admin.host@</param>
    <param name="port" type="int">@emailsme.admin.port@</param>
    <param name="allowGsm2EmlWithoutProfile" type="bool">false</param>
    <param name="allowEml2GsmWithoutProfile" type="bool">false</param>
    <param name="defaultLimit" type="string">10d</param>
    <param name="regionsconfig" type="string">../SMSC/conf/regions.xml</param>
    <param name="routesconfig" type="string">../SMSC/conf/routes.xml</param>
    <param name="helpdeskAddress" type="string">201</param>
  </section>

  <section name="mail">
    <param name="threadsCount" type="int">4</param>
    <param name="domain" type="string">@emailsme.mail.domain@</param>
    <!--param name="helpdeskDomain" type="string">@emailsme.mail.hddomain@</param--> 
    <param name="stripper" type="string">bin/mailreaper.pl</param>
    <param name="format" type="string">#template=emailsmenotify#{from}="$$string import=from$$" {to}="$$string import=to$$" {subj}="$$string import=subj$$" {body}="$$string import=body$$"</param>
    <param name="userNameTransformRegexp" type="string">^(?:\+7|8|(?=912|919))(.{10})</param>
    <param name="userNameTransformResult" type="string">7$1</param>
    <param name="validToDomains" type="string">@emailsme.mail.validToDomains@</param>
  </section>

  <section name="smtp">
    <param name="host" type="string">@emailsme.mailserver.host@</param>
    <param name="port" type="int">@emailsme.mailserver.port@</param>
  </section>

  <section name="defaults">
    <param name="annotationSize" type="int">460</param>
  </section>

  <section name="answers">
    <param name="sendSuccessAnswer" type="bool">true</param>

    <param name="alias" type="string">#template=emailsmealias#{alias}="$$string import=alias$$"</param>
    <param name="aliasfailed" type="string">#template=emailsmealiasfailed#{alias}="$$string import=alias$$"</param>
    <param name="aliasbusy" type="string">#template=emailsmealiasbusy#{alias}="$$string import=alias$$"</param>
    <param name="noalias" type="string">#template=emailsmenoalias#</param>
    <param name="forward" type="string">#template=emailsmeforward#{address}="$$string import=email$$"</param>
    <param name="forwardfailed" type="string">#template=emailsmeforwardfailed#{address}="$$string import=email$$"</param>
    <param name="forwardoff" type="string">#template=emailsmeforwardoff#</param>
    <param name="realname" type="string">#template=emailsmerealname#{realname}="$$string import=realname$$"</param>
    <param name="norealname" type="string">#template=emailsmenorealname#{realname}="$$string import=realname$$"</param>
    <param name="numberon" type="string">#template=emailsmenumberon#</param>
    <param name="numberoff" type="string">#template=emailsmenumberoff#</param>
    <param name="numberfailed" type="string">#template=emailsmenumberfailed#</param>
    <param name="systemerror" type="string">#template=emailsmesystemerror#</param>
    <param name="unknowncommand" type="string">#template=emailsmeunknowncommand#</param>
    <param name="messagesent" type="string">#template=emailsmemessagesent#{to}="$$string import=to$$"</param>
    <param name="messagefailedlimit" type="string">#template=emailsmemessagefailedlimit#</param>
    <param name="messagefailednoprofile" type="string">#template=emailsmemessagefailednoprofile#</param>
    <param name="messagefailedsendmail" type="string">#template=emailsmemessagefailedsendmail#</param>
    <param name="messagefailedsystem" type="string">#template=emailsmemessagefailedsystem#</param>
    <section name="helpdesk">
      <param name="alias" type="string">#template=helpdesk.emailsmealias#{alias}="$$string import=alias$$"</param>
      <param name="aliasfailed" type="string">#template=helpdesk.emailsmealiasfailed#{alias}="$$string import=alias$$"</param>
      <param name="aliasbusy" type="string">#template=helpdesk.emailsmealiasbusy#{alias}="$$string import=alias$$"</param>
      <param name="noalias" type="string">#template=helpdesk.emailsmenoalias#</param>
      <param name="forward" type="string">#template=helpdesk.emailsmeforward#{address}="$$string import=email$$"</param>
      <param name="forwardfailed" type="string">#template=helpdesk.emailsmeforwardfailed#{address}="$$string import=email$$"</param>
      <param name="forwardoff" type="string">#template=helpdesk.emailsmeforwardoff#</param>
      <param name="realname" type="string">#template=helpdesk.emailsmerealname#{realname}="$$string import=realname$$"</param>
      <param name="norealname" type="string">#template=helpdesk.emailsmenorealname#{realname}="$$string import=realname$$"</param>
      <param name="numberon" type="string">#template=helpdesk.emailsmenumberon#</param>
      <param name="numberoff" type="string">#template=helpdesk.emailsmenumberoff#</param>
      <param name="numberfailed" type="string">#template=helpdesk.emailsmenumberfailed#</param>
      <param name="systemerror" type="string">#template=helpdesk.emailsmesystemerror#</param>
      <param name="unknowncommand" type="string">#template=helpdesk.emailsmeunknowncommand#</param>
      <param name="messagesent" type="string">#template=helpdesk.emailsmemessagesent#{to}="$$string import=to$$"</param>
      <param name="messagefailedlimit" type="string">#template=helpdesk.emailsmemessagefailedlimit#</param>
      <param name="messagefailednoprofile" type="string">#template=helpdesk.emailsmemessagefailednoprofile#</param>
      <param name="messagefailedsendmail" type="string">#template=helpdesk.emailsmemessagefailedsendmail#</param>
      <param name="messagefailedsystem" type="string">#template=helpdesk.emailsmemessagefailedsystem#</param>
    </section>
  </section>

</config>
