<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

    <section name="General">
        <!-- this section is for general configuration of scag nodes. -->
        <!-- please, run setupnodes.py to check the consistency. -->
        <param name="nodes" type="int">1</param>      <!-- a number of MSAG nodes -->
        <param name="node" type="int">0</param>       <!-- a number of this MSAG node -->
        <param name="storages" type="int">100</param> <!-- a number of elementary storages -->
    </section>

    <section name="BillingManager">
        <param name="configDir" type="string">@bill.config_dir@</param>
        <param name="BillingServerHost" type="string">@bill.server_host@</param>
        <param type="int" name="BillingServerPort">@bill.server_port@</param>
        <param name="BillingTimeOut" type="int">@bill.time_out@</param> <!-- sec. -->
        <param name="BillingReconnectTimeOut" type="int">@bill.reconnect_time_out@</param> <!-- sec. -->
        <section name="ewallet">
            <param name="enabled" type="bool">false</param>
            <param name="host" type="string"></param>
            <param type="int" name="port">0</param>
        </section>
    </section>

    <section name="SessionManager">
        <section name="locations">
            <!-- specify a number of locations for sessions -->
            <param name="1" type="string">@scag2.session.location@</param>
        </section>
        <section name="oldlocations">
            <!-- this section is for reconfuguration when -->
            <!-- adding/removing a new msag node. -->
            <!-- simply rename section "locations" into "oldlocations" -->
            <!-- and run setupnodes.py -->
            <!-- NOTE: don't put this section into web frontend -->
        </section>
        <param name="expireInterval" type="int">@session.expireInterval@</param>
        <param name="ussdExpireInterval" type="int">@session.ussdExpireInterval@</param>
        <param name="indexgrowth" type="int">1000</param> <!-- an increment of index file -->
        <param name="pagesize" type="int">512</param> <!-- the page/block size -->
        <param name="prealloc" type="int">100</param> <!-- number of pages to preallocate -->
        <param name="flushCountLimit" type="int">10000</param> <!-- a limit on number of transient sessions -->
        <param name="flushTimeLimit" type="int">120</param> <!-- a time limit on session inactivity (sec) -->
        <param name="initUploadCount" type="int">10</param> <!-- a number of sessions in one initial upload -->
        <param name="initUploadInterval" type="int">1000</param> <!-- an interval between initial uploads (ms) -->
        <param name="diskio" type="bool">true</param> <!-- is disk i/o for sessions enabled -->
    </section>

    <section name="StatisticsManager">
        <param name="statisticsDir" type="string">@stat.dir@</param>
        <param name="perfHost" type="string">@stat.perf_host@</param>
        <param name="perfGenPort" type="int">@stat.perf_port@</param>
        <param name="perfSvcPort" type="int">@stat.perf_svc_port@</param>
        <param name="perfScPort" type="int">@stat.perf_sc_port@</param>
        <param name="saccEnabled" type="bool">@stat.sacc_enabled@</param>
        <param name="saccPort" type="int">@stat.sacc_port@</param>
        <param name="saccHost" type="string">@stat.sacc_host@</param>
        <param name="connect_timeout" type="int">@stat.sacc_connect_timeout@</param>
        <param name="queue_length" type="int">@stat.sacc_queue_length@</param>
        <param name="saaDir" type="string">@stat.saa_dir@</param>
        <param name="rollingInterval" type="int">@stat.rolling_interval@</param>
    </section>

    <section name="RuleEngine">
        <param name="location" type="string">@rules.path@</param>
    </section>

    <section name="admin">
        <param name="host" type="string">@listen.host@</param>
        <param type="int" name="port">@gateway.admin.port@</param>
    </section>

    <section name="smpp">
        <param name="host" type="string">@listen.host@</param>
        <param type="int" name="port">@gateway.smpp.port@</param>
        <param name="inactivityTime" type="int">30</param>
        <param name="inactivityTimeOut" type="int">30</param>
        <param name="readTimeout" type="int">60</param>
        <param name="maxSmsPerSecond" type="int">1000</param>
        <param name="transitOptionalTags" type="string"></param>
        <section name="core">
            <param name="eventQueueLimit" type="int">1000</param>
            <param name="protocol_id" type="int">34</param> <!-- ???? -->
            <param name="state_machines_count" type="int">10</param>
            <param name="ussdTransactionTimeout" type="int">600</param> <!-- ???? -->
            <!-- incoming connection limits -->
            <param name="socketsPerMultiplexer" type="int">16</param>
            <param name="bindWaitTimeout" type="int">10</param> <!-- max time in unbound state (sec) -->
            <param name="connectionsPerIp" type="int">100</param>
            <param name="ipBlockingTime" type="int">60</param> <!-- time to block ip when failed to bind (sec) -->
            <param name="maxRWMultiplexersCount" type="int">100</param> <!-- max number of R/W multiplexers -->
            <section name="whitelist">
                <param name="1" type="string">127.0.0.1</param>
            </section>
        </section>
    </section>

    <section name="snmp"> <!-- optional section -->
        <param name="enabled" type="bool">false</param>
        <!-- The socket to connect to agentX.  It is better be specified 
             via snmp config file, see "man snmpd.conf"  -->
        <param name="socket" type="string"></param>
        <param name="cacheTimeout" type="int">10</param>
    </section>

    <section name="HttpTransport">
        <param name="host" type="string">@listen.host@</param>
        <param type="int" name="port">@gateway.http.port@</param>
        <param name="readerSockets" type="int">10</param>
        <param name="writerSockets" type="int">10</param>
        <param name="readerPoolSize" type="int">10</param>
        <param name="writerPoolSize" type="int">10</param>
        <param name="scagPoolSize" type="int">10</param>
        <param name="scagQueueLimit" type="int">10</param>
        <param name="connectionTimeout" type="int">100</param>
    </section>

    <section name="PvssClient">
        <param name="enabled" type="bool">true</param>
        <param name="host" type="string">@pvss.connect_host@</param>
        <param type="int" name="port">@pvss.port@</param>
        <param name="ioTimeout" type="int">@pers_client.io_timeout@</param> <!--in miliseconds-->
        <param name="pingTimeout" type="int">@pers_client.ping_timeout@</param> <!--in seconds-->
        <param name="reconnectTimeout" type="int">@pers_client.reconnect_timeout@</param> <!--in seconds-->
        <param name="maxWaitingRequestsCount" type="int">@pers_client.max_waiting_requests_count@</param>
        <param name="connections" type="int">@pers_client.connections@</param> <!-- a number of connections -->
        <param name="connPerThread" type="int">@pers_client.conn_per_thread@</param>
        <param name="async" type="bool">@pers_client.async@</param> <!-- a number of connections -->
    </section>

    <section name="LongCallManager">
        <param name="maxTasks" type="int">10</param>
    </section>

</config>
