<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

    <section name="General">
        <!-- this section is for general configuration of scag nodes. -->
        <!-- please, run setupnodes.py to check the consistency. -->
        <param name="nodes">1</param>
        <param name="node">0</param>
    </section>

    <section name="BillingManager">
        <param name="configDir" type="string">@bill.config_dir@</param>
        <param name="BillingServerHost" type="string">@bill.server_host@</param>
        <param name="BillingServerPort" type="int">@bill.server_port@</param>
        <param name="BillingTimeOut" type="int">@bill.time_out@</param> <!-- sec. -->
        <param name="BillingReconnectTimeOut" type="int">@bill.reconnect_time_out@</param> <!-- sec. -->
    </section>

    <section name="SessionManager">
        <section name="locations">
            <!-- specify a number of locations for sessions -->
            <param name="1" type="string">@scag2.session.location@</param>
        </section>
        <section name="oldlocations">
            <!-- this section is for reconfuguration when -->
            <!-- adding/removing a new msag node. -->
            <!-- simply rename section "locations" into "oldlocations" -->
            <!-- and run setupnodes.py -->
        </section>
        <param name="expireInterval" type="int">@session.expireInterval@</param>
        <param name="indexgrowth" type="int">1000</param> <!-- an increment of index file -->
        <param name="pagesize" type="int">512</param> <!-- the page/block size -->
        <param name="prealloc" type="int">100</param> <!-- number of pages to preallocate -->
        <param name="flushLimit" type="int">1000</param> <!-- a limit on number of transient sessions -->
        <param name="diskio" type="bool">true</param> <!-- is disk i/o for sessions enabled -->
    </section>

    <section name="StatisticsManager">
        <param name="statisticsDir" type="string">@stat.dir@</param>
        <param name="perfHost" type="string">@stat.perf_host@</param>
        <param name="perfGenPort" type="int">@stat.perf_port@</param>
        <param name="perfSvcPort" type="int">@stat.perf_svc_port@</param>
        <param name="perfScPort" type="int">@stat.perf_sc_port@</param>
        <param name="saccPort" type="int">@stat.sacc_port@</param>
        <param name="saccHost" type="string">@stat.sacc_host@</param>
        <param name="connect_timeout" type="int">@stat.sacc_connect_timeout@</param>
        <param name="queue_length" type="int">@stat.sacc_queue_length@</param>
    </section>

    <section name="RuleEngine">
        <param name="location" type="string">@rules.path@</param>
    </section>

    <section name="admin">
        <param name="host" type="string">@listen.host@</param>
        <param name="port" type="int">@gateway.admin.port@</param>
    </section>

    <section name="smpp">
        <param name="host" type="string">@listen.host@</param>
        <param name="port" type="int">@gateway.smpp.port@</param>
        <param name="inactivityTime" type="int">30</param>
        <param name="inactivityTimeOut" type="int">30</param>
        <param name="readTimeout" type="int">60</param>
        <param name="maxSmsPerSecond" type="int">1000</param>
        <param name="transitOptionalTags" type="string"></param>
        <section name="core">
            <param name="eventQueueLimit" type="int">1000</param>
            <param name="protocol_id" type="int">34</param> <!-- ???? -->
            <param name="state_machines_count" type="int">10</param>
            <param name="ussdTransactionTimeout" type="int">600</param> <!-- ???? -->
        </section>
    </section>

    <section name="HttpTransport">
        <param name="host" type="string">@listen.host@</param>
        <param name="port" type="int">@gateway.http.port@</param>
        <param name="readerSockets" type="int">10</param>
        <param name="writerSockets" type="int">10</param>
        <param name="readerPoolSize" type="int">10</param>
        <param name="writerPoolSize" type="int">10</param>
        <param name="scagPoolSize" type="int">10</param>
        <param name="scagQueueLimit" type="int">10</param>
        <param name="connectionTimeout" type="int">100</param>
    </section>

    <section name="Personalization">
        <param name="host" type="string">@pers.connect_host@</param>
        <param name="port" type="int">@pers.port@</param>
        <param name="timeout" type="int">@pers.io_timeout@</param>
        <param name="pingTimeout" type="int">@pers.ping_timeout@</param>
    </section>

    <section name="LongCallManager">
        <param name="maxTasks" type="int">10</param>
    </section>

</config>
