td.collapsing_group_opened,
td.collapsing_group_closed {
  background-repeat: no-repeat;
  padding-left: 5px;
  height: 17px;
}

td.collapsing_group_opened {
  background-color: #F8F6EE;
  border-bottom: 1px solid #161E49;

}

td.collapsing_group_closed {
  background-color: #F3F0E3;
}


td.collapsing_group_flag_opened,
td.collapsing_group_flag_closed {
  background: no-repeat left;
/*padding-left: 18px;*/
  width: 15px;
  height: 17px;
  cursor: pointer;
}

td.collapsing_group_flag_closed {
  background-color: #F3F0E3;
  background-image: url(../images/list_closed.gif);
}

td.collapsing_group_flag_opened {
  background-color: #F8F6EE;
  background-image: url(../images/list_opened.gif);
  /*border-bottom: 1px solid #161E49;*/
}