.x73 {
  background-color:#FFFFCC;
  border:1px solid #999999;
  color:#336633;
  font-family:Arial,Helvetica,Geneva,sans-serif;
  font-size:10pt;
  font-weight:normal;
  margin:5px 0 0;
  padding:0;
  width:100%;
}

.xdj {
  background-color:#E9E8E8;
}

.x72 {
  border-color:#CCCCCC;
  border-style:solid;
  border-width:0 0 1px;
  color:#669966;
  font-family:Arial,Helvetica,Geneva,sans-serif;
  font-size:13pt;
  font-weight:bold;
  margin:0 0 3px;
  padding:0 3px;
  vertical-align:bottom;
}

.x71 {
  color:#CC0000;
  font-family:Arial,Helvetica,Geneva,sans-serif;
  font-size:13pt;
  font-weight:bold;
  margin:0;
  padding:0;
}

.xap {
  color:#669966;
  font-family:Arial,Helvetica,Geneva,sans-serif;
  font-size:10pt;
  font-weight:normal;
  margin:0;
  padding:5px 30px;
}