/************************** page menu **************************/
div.page_menu {
  background-color: #DFD4AF;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 2;
}

table.page_menu {
  position: relative;
  height: 30px;
  white-space: nowrap;
  z-index: 5;
}

table.page_menu td {
  padding-left: 4px;
  padding-right: 4px;
}

table.page_menu a,
table.page_menu a:visited,
table.page_menu a:hover,
table.page_menu div,
table.page_menu a.xi {
  font-family: Verdana, Arial, Tahoma, Helvetica, sans, sans-serif;
  font-size: 11px;
  border: 0px;
  cursor: pointer;
  color: #161E49;
  /*color: #022e6b;*/
  text-decoration: none; /*behavior : url(/scripts/click_submit.htc);*/
  white-space: nowrap;
}

table.page_menu a:hover {
   color: #443a3a;
}

table.page_menu_background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  z-index: 1;
}


table.page_menu div.menubardivover {
  color: #443a3a;
}

table.page_menu div.menudiv {
  background-color: #DFD4AF;
  border: 1px solid #111155;
}

table.page_menu div.menuitem *,
table.page_menu div.menuitemover * {
  background: #DFD4AF;
}

table.page_menu div.menuitem * {
  color: #161E49;
}

table.page_menu div.menuitemover * {
  color: #443a3a;
}