table.page_calendar_header td.prev {
  width:40%;
  text-align:right;
}

table.page_calendar_header td.header {
  width:20%;
  text-align:center;
  color: #308380;
  font-weight:bolder;
  font-size: medium;
}

table.page_calendar_header td.next {
  width:40%;
  text-align:left;
}

table.page_calendar th {
  background-color: #F8F6EE;
  border-bottom: 1px solid #161E49;
  text-align: center;
  padding: 2px 0px 2px 0px;
}

table.page_calendar td {
  border-bottom: 1px solid #161E49;
  text-align:center;
  padding: 2px 0px 2px 0px;
}