/************************************ properties list table ****************************************/
table.properties_list th {
/*	background-color: #F8F6EE;*/
  padding-right: 4px;
}

table.properties_list th a,
table.properties_list th a:visited,
table.properties_list th a:hover {
  width: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
  padding-left: 20px;
  color: #161E49;
  height: 16px; /*!!! for ico16_up/down */
}

table.properties_list th a.up {
  background-image: url(../images/sort_up.gif);
}

table.properties_list th a.down {
  background-image: url(../images/sort_down.gif);
}

table.properties_list tr.row0 {
  background-color: #F2EEDA;
}

table.properties_list tr.row1 {
}

table.properties_list tr.row0 td,
table.properties_list tr.row0 th {
  border-bottom: 1px solid #E4E0CE;
}

table.properties_list tr.row1 td,
table.properties_list tr.row1 th {
  border-bottom: 1px solid #E6E3D8;
}

