div.eyeline_buttons {
  position: relative;
  left: 0px;
  top: 0px;
  /*z-index: 2;*/
}

table.eyeline_buttons {
  width:100%;
  border:0 none;
  position: relative;
  height: 30px;
  white-space: nowrap;
  /*z-index: 3;*/
}

table.eyeline_buttons td {
  padding-left: 4px;
  padding-right: 4px;
}

table.eyeline_buttons a,
table.eyeline_buttons a:visited,
table.eyeline_buttons a:hover {
  border: 0 none;
  color: #161E49;
  cursor: pointer;
  font-family: Verdana,Arial,Tahoma,Helvetica,sans,sans-serif;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
}

table.eyeline_buttons_background {
  width:100%;
  border:0 none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  /*z-index: 1;*/
}
table.eyeline_buttons_background td{
  background-image: url("../images/smsc_21.jpg")
}
