/******************************************************************************/
/* COMMON TAGS                                                                */
/******************************************************************************/

html {
  height:100%;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  margin: 0px 0px 0px 0px;
  background-color: #F3F0E3;
  color: #161E49;
  display: block;
  height:100%;
}

body * {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
}

table {
  border: 0px;
  width: 100%;
}

img {
  border: none;
}

img.button {
/*behavior : url(/scripts/click_submit.htc);*/
  cursor: pointer; /*cursor: hand;*/
  /*	position: relative;
   top: 3px;*/
}

input, textarea, select, button {
  border: 1px solid #C8BE9E;
  color: #161E49;
  font-size: 100%;
}

input {
/*behavior : url(/scripts/input.htc);*/
  z-index: 10;
}

/*Стиль полей ввода при возникновении ошибки*/
input.validationError {
  border: 1px solid RED;
}

textarea.validationError {
  border: 1px solid RED;
}

textarea {
  height: 80px;
  width: 100%;
}

form {
  display: inline;
}

th {
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
}

hr {
  color: #C8BE9E;
  height: 1px;
}

input.txt {
  width: 265px;
}

input.txtW {
  width: 100%;
}

input.radio, input.check {
  /*width: 1.2em;*/
  /*height: 1.2em;*/
  padding: 0px;
  margin: 0px;
}

input.x27 {
  font-size: 100%;
}

textarea.x27 {
  font-size: 100%;
}

select.x2j {
  font-size: 100%;
}

input.radio {
  border: none;
}

.clickable {
  cursor: pointer; /*cursor: hand;*/
}

select.selectW {
  width: 100%;
}

/*************************************************************************/
div.page_subtitle,
div.secSmsc {
  background-position: left;
  background-repeat: no-repeat;
  color: #308380;
  padding-left: 19px;
  margin-left: 0px;
  margin-bottom: 4px;
  background-image: url(../images/smsc_ico.gif);
  font-size: small;
  font-weight: bold;
}

.logo {

}

.logo_left{
  width: 236px;
  height: 45px;
  background-image: url(../images/smsc_04.jpg);
}

.logo_right{
  width : 12px;
  background-image: url(../images/smsc_06.jpg);
}

.logo_center {
  background-color: #161E49;
  color:  #161E49;
}


.content_left {
  width: 12px;
  background-image: url(../images/smsc_24.jpg);
}

.content_center{

}

.content_right {
  height: 1px;
  width: 12px;
  background-image: url(../images/smsc_26.jpg);
}

.page_left {
  width: 30px;
  background-image: url(../images/smsc_03.jpg);
}

.page_right {
  width: 30px;
  background-image: url(../images/smsc_07.jpg);
}

.footer {

}

.footer_center_left {
  background-color: #161E49;
  color: #6F77A3;
  text-align: left;
  width: 49%;
}
.footer_center_right {
  background-color: #161E49;
  color: #6F77A3;
  text-align: right;
  width: 49%;
}

.footer_left {
  width: 12px;
  background-color: #161E49;
}

.footer_right {
  width: 12px;
  background-color: #161E49;
}

/*************************************************************************/

table.smsc_status,
table.smsc_status td,
table.smsc_status th {
  background-color: #161E49;
  color: #7CF7F3;
  height: 30px;
  text-align: right; /*	padding-right:10px; */
  font-weight: bold;
  background-repeat: no-repeat;
}

table.smsc_status th {
  padding-left: 26px;
  color: #F2E275;
  text-align: left;
  font: bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
  white-space: nowrap;
  background-image: url(../images/smsc_17.jpg);
}

table.smsc_status .right {
  width: 12px;
  background-image: url(../images/smsc_19.jpg);
  padding-right: 0px;
}