div.eyeline_data_table_filter {
  /*background-color: #F2EEDA;*/
	border-top: 1px solid #F8F6EE;
	border-left: 1px solid #F8F6EE;
	border-bottom: 1px solid #E4E0CE;
	border-right: 1px solid #E4E0CE;
}

table.eyeline_data_table_filter {
/*position: relative;*/
  height: 30px;
  white-space: nowrap;
}

table.eyeline_data_table_filter span.eyeline_filter {
  color: #308380;
  margin-left: 0;
  margin-bottom: 4px;
  font-size: small;
  font-weight: bold;
}

table.eyeline_data_table_filter a.eyeline_filter_button {
  /*margin-left: 0;*/
  /*margin-bottom: 4px;*/
  /*font-size: small;*/
}

table.eyeline_data_table_filter td {
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  border-bottom: 1px solid #161E49;
}

table.eyeline_data_table_filter a,
table.eyeline_data_table_filter a:hover,
table.eyeline_data_table_filter a:visited {
  border: none;
  cursor: pointer;
  color: #161E49;
  text-decoration: none; /*behavior : url(/scripts/click_submit.htc);*/
  white-space: nowrap;
}

table.eyeline_data_table_filter a.xi {
  /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
  /*font-size: x-small;*/
}

