/************************************  table ****************************************/
table.eyeline_list th {
  /*background-color: #F8F6EE;*/
  border-bottom: 1px solid #161E49;
  text-align: center;
  padding: 2px 0px 2px 0px;
}

th.eyeline_check_all_ico {
  background: url(../images/ico16_checked_sa.gif);
  background-repeat: no-repeat;
  background-position: center
}

table.eyeline_list td {
  padding: 2px 2px 2px 2px;
}

table.eyeline_list tr.eyeline_row0 {
  background-color: #F2EEDA;
}

table.eyeline_list tr.eyeline_row1 {
  background-color: #F8F6EE;
}

table.eyeline_list tr.eyeline_inner {
  background-color: WHITE;
}

table.eyeline_list tr.eyeline_row0 td,
table.eyeline_list tr.eyeline_row0 th {
  border-bottom: 1px solid #E4E0CE;
}

table.eyeline_list tr.eyeline_row1 td,
table.eyeline_list tr.eyeline_row1 th {
  border-bottom: 1px solid #E6E3D8;
}

table.eyeline_list tr.eyeline_inner td,
table.eyeline_list tr.eyeline_inner th {
  border-bottom: 1px solid #E6E3D8;
}

table.eyeline_list th a,
table.eyeline_list th a:visited,
table.eyeline_list th a:hover {
  width: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
  padding-left: 12px;
  padding-right: 12px;
  color: #161E49;
  background-position: left;
}

table.eyeline_list th a.eyeline_up {
  background-image: url(../images/sort_up.gif);
}

table.eyeline_list th a.eyeline_down {
  background-image: url(../images/sort_down.gif);
}

div.eyeline_inner_data_opened {
  width: 15px;
  background-image: url(../images/list_opened.gif);
}

div.eyeline_inner_data_closed {
  width: 15px;
  background-image: url(../images/list_closed.gif);
}

/**************************************** navbar **********************************/
table.eyeline_navbar {
  /*background-color: #F8F6EE;*/
  border-top: 1px solid #161E49;
}

table.eyeline_navbar td {
  /*	border-right: 1px solid #161E49;*/
  white-space: nowrap;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

table.eyeline_navbar div.eyeline_first{
  background-image: url(../images/nav_first.gif);
  background-repeat: no-repeat;
  background-position: center
}

table.eyeline_navbar div.eyeline_prev{
  background-image: url(../images/nav_prev.gif);
  background-repeat: no-repeat;
  background-position: center
}

table.eyeline_navbar div.eyeline_next{
  background-image: url(../images/nav_next.gif);
  background-repeat: no-repeat;
  background-position: center
}

table.eyeline_navbar div.eyeline_last{
  background-image: url(../images/nav_last.gif);
  background-repeat: no-repeat;
  background-position: center
}

table.eyeline_navbar td.eyeline_first,
table.eyeline_navbar td.eyeline_first a,
table.eyeline_navbar td.eyeline_prev,
table.eyeline_navbar td.eyeline_prev a,
table.eyeline_navbar td.eyeline_page,
table.eyeline_navbar td.eyeline_current,
table.eyeline_navbar td.eyeline_next,
table.eyeline_navbar td.eyeline_next a,
table.eyeline_navbar td.eyeline_last,
table.eyeline_navbar td.eyeline_last a,
table.eyeline_navbar td.eyeline_pageSize,
table.eyeline_navbar td.eyeline_pageSize a {
  width: 12px;
}

img {
  border: medium none;
}

table.eyeline_navbar td.eyeline_page,
table.eyeline_navbar td.eyeline_current {
  cursor: pointer;
}

table.eyeline_navbar td.eyeline_current {
  background-color: #3A5867;
  color: #F2E275;
}

table.eyeline_navbar td.eyeline_total {
  /*color: #1A8999;*/
  text-align: right;
}

table.eyeline_navbar td.eyeline_filter {
  width: 60px;
  padding-left: 0px;
  padding-right: 0px;
}

table.eyeline_navbar td.eyeline_first a,
table.eyeline_navbar td.eyeline_prev a,
table.eyeline_navbar td.eyeline_next a,
table.eyeline_navbar td.eyeline_last a {
  text-decoration: none;
}

.eyeline_overlay{
  z-Index:100000;
  background-color: #e8e7e7;
  background-position: center;
  text-align:center;
  position:absolute;
  width:1px;
  height:1px;
  top:-500px;
  left:0px;
  margin:0px 0px 0px 0px;
  /*border:1px solid #000000;*/
  opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
  -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
  -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
}


.eyeline_clickable {
  cursor: pointer; /*cursor: hand;*/
}


div.eyeline_loading {
  margin-top:auto;margin-bottom:auto;
  background-image: url("../images/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
}
div.select_page  {
  background: url(../images/ico16_checked_sa.gif);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

div.select_all_button {
  cursor: pointer;
  background-image: url("../images/list_opened_center.gif");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}


div.select_page_checked  {
  background: url(../images/ico16_checked_sa_checked.gif);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

div.select_all_content {
  margin-left: 0px;
  background-color:#F3F0E3;
  overflow: auto;
  position: absolute;
  margin-top : 1px;
  text-align:left;
  font-family: Verdana,Arial,Tahoma,Helvetica,sans,sans-serif;
  font-size: 11px;
  z-index: 10;
  border: 1px solid #cd853f;
  visibility: hidden;
}

div.select_all_content a.xi{
  font-family: Verdana,Arial,Tahoma,Helvetica,sans,sans-serif;
  font-size: 11px;
}

table.select_all_button {
  border: 1px solid #cd853f;
  background-color:#F3F0E3
}

table.select_all_button td {
  padding: 0px
}

table.select_all_button_selected {
  border: 1px solid #cd853f;
  background-color:#DFD4AF;
}

table.select_all_button_selected td {
  padding: 0px
}