
div.eyeline_addbutton {
  background: url("../images/but_add.gif") no-repeat center;
  cursor: pointer;
  height: 20px;
  width: 19px;
}

div.eyeline_delbutton {
  background: url("../images/but_del.gif") no-repeat center;
  cursor: pointer;
  height: 20px;
  width: 19px;
}