/*Стиль внешнего div*/
div.eyeline_inputTime {
  white-space: nowrap;
}

/*Стиль полей ввода при возникновении ошибки*/
div.eyeline_inputTime input.validationError {
  border: 1px solid RED;
}

/*Стиль нотификации об ошибке (отображается после полей ввода)*/
div.eyeline_inputTime span.error {
  color: RED;
  font-weight: bold;
  cursor: default;
}
