/************************ main menu *************************/

table.main_menu {
  color: #F2E275;
  height: 30px;
  z-index: 2;
}

table.main_menu td {
  padding-left: 12px;
  padding-right: 12px;
  background-image: url("../images/smsc_14.jpg");
}

/* Menu bar decoration */

table.main_menu .menu-bar ul.sub_menu li a,
table.main_menu div.menu-bar a {
  color: #F2E275;
}

table.main_menu .menu-bar ul.sub_menu li a:hover {
  color:YELLOW;
}

table.main_menu .menu-bar ul.sub_menu li {
  background-color: #3A5867;
  border-color: #111155;
}
