<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>

    <section name="BillingManager">
	<param name="configDir" type="string">conf</param>
	<param name="BillingServerHost" type="string">127.0.0.1</param>
	<param name="BillingServerPort" type="int">17989</param>
	<param name="BillingTimeOut" type="int">60000</param>
    </section>

    <section name="SessionManager">
	<param name="location" type="string">/home/firs/scag_distr/storage/sessions</param>
	<param name="expireInterval" type="int">60000</param>
    </section>

    <section name="StatisticsManager">
        <param name="statisticsDir" type="string">/home/firs/scag_distr/storage/statistics</param>
        <param name="perfHost" type="string">0.0.0.0</param>
        <param name="perfGenPort" type="int">17981</param>
        <param name="perfSvcPort" type="int">17983</param>
        <param name="perfScPort" type="int">17985</param>
        <param name="saccPort" type="int">14100</param>
        <param name="saccHost" type="string">192.168.1.181</param>
        <param name="connect_timeout" type="int">60000</param>
	<param name="queue_length" type="int">1000</param>
    </section>

    <section name="RuleEngine">
	<param name="location" type="string">/home/firs/scag_distr/services/scag/conf/rules</param>
    </section>

    <section name="admin">
	<param name="host" type="string">0.0.0.0</param>
	<param name="port" type="int">17811</param>
    </section>

    <section name="smpp">
	<param name="host" type="string">0.0.0.0</param>
	<param name="port" type="int">17830</param>
	<param name="inactivityTime" type="int">30</param>
	<param name="inactivityTimeOut" type="int">30</param>
	<param name="readTimeout" type="int">60</param>
	<param name="maxSmsPerSecond" type="int">1000</param>
	<section name="core">
	    <param name="eventQueueLimit" type="int">1000</param>
	    <param name="protocol_id" type="int">34</param> <!-- ???? -->
	    <param name="state_machines_count" type="int">10</param>
    	    <param name="ussdTransactionTimeout" type="int">600</param> <!-- ???? -->
	</section>
    </section>

    <section name="HttpTransport">
	<param name="host" type="string">0.0.0.0</param>
        <param name="port" type="int">17840</param>
        <param name="readerSockets" type="int">10</param>
        <param name="writerSockets" type="int">10</param>
        <param name="readerPoolSize" type="int">10</param>
        <param name="writerPoolSize" type="int">10</param>
        <param name="scagPoolSize" type="int">10</param>
        <param name="scagQueueLimit" type="int">10</param>
        <param name="connectionTimeout" type="int">100</param>
    </section>

    <section name="Personalization">
        <param name="host" type="string">127.0.0.1</param>
        <param name="port" type="int">1200</param>
        <param name="timeout" type="int">100</param>
        <param name="pingTimeout" type="int">5</param>
    </section>

</config>
