<?xml version="1.0" encoding="WINDOWS-1251"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <filter>
    <filter-name>soap</filter-name>
    <filter-class>ru.novosoft.smsc.util.soap.SOAPFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>soap</filter-name>
    <servlet-name>axis</servlet-name>
  </filter-mapping>

  <servlet>
    <servlet-name>smsc</servlet-name>
    <servlet-class>ru.novosoft.smsc.jsp.SMSCJspController</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>conf/webconfig.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>axis</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>axis</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>smsc</servlet-name>
    <url-pattern>/smsc/*</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>403</error-code>
    <location>/error403.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>

  <!-- security constraints -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/smsc_service/index.jsp</url-pattern>
      <url-pattern>/smsc/smsc_service/logging.jsp</url-pattern>
      <url-pattern>/smsc/smsc_service/switch.jsp</url-pattern>
      <url-pattern>/smsc/smsc_service/maplimits.jsp</url-pattern>
      <url-pattern>/smsc/reshedule/*</url-pattern>
      <url-pattern>/smsc/directives/*</url-pattern>
      <url-pattern>/smsc/network_profiles/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>smsc_service</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/smsc_service/status.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>apply</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/timezones/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>timezones</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/regions/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>regions</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
						    

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/smscenters/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>smscenters</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/regions/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>regions</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/snmp/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>snmp</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_emailsme/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>emailsme</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_smsx/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>smsx stat</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
    <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_sponsored/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>sponsored stat</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>




  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/closed_groups/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>closed_groups</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/fraud/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>fraud</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/journal/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>journal</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/locale_resources/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>locale_resources</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/dl/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dl</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/perfmon/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>perfmon</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/smsview/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>smsView</role-name>
      <role-name>smsView_archive</role-name>
      <role-name>smsView_operative</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/smsstat/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>smsstat</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/mscman/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>mscman</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/users/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>users</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Access Control Lists</web-resource-name>
      <url-pattern>/smsc/acl/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>acls</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/routes/*</url-pattern>
      <url-pattern>/smsc/tracer/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>routes</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/subjects/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>subjects</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/providers/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>providers</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/categories/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>categories</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/aliases/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>aliases</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/profiles/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>profiles</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/hosts/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>hosts</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/services/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>services</role-name>
      <role-name>service_operator</role-name>	
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/services/index.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>service_operator</role-name>
      <role-name>services</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/topmon/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>topmon</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- InfoSme config (market: list of allowed pages) -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_InfoSme/index.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/stat.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_new.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/taskEdit.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_edit_task.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_file.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_finish_task.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_gen_progress.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_gen_task.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_process_file.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/deliveries_process_progress.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/tasks_progress.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/tasks.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/messages.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/csv_download.jsp</url-pattern>
      <url-pattern>/smsc/esme_InfoSme/taskProgress.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>infosme-admin</role-name>
      <role-name>infosme-market</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- InfoSme config (admin: all pages) -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_InfoSme/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>infosme-admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- DbSme config (admin: all pages) -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_dbSme/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dbsme-admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- MCISme & MCIProf config (admin: all pages) -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_MCISme/*</url-pattern>
      <url-pattern>/smsc/esme_MCIProf/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>mcisme-admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- MTSMSme config (admin: all pages) -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/smsc/esme_MTSMSme/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>mtsmsme-admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- login config-->
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>SMSC.SmscRealm</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp?loginError=yes</form-error-page>
    </form-login-config>
  </login-config>

  <!-- security roles -->
  
  
    <security-role>
      <role-name>smsx stat</role-name>
        </security-role>

          <security-role>
              <role-name>sponsored stat</role-name>
                </security-role>

  <security-role>
    <role-name>apply</role-name>
  </security-role>
  <security-role>
    <role-name>smsc_service</role-name>
  </security-role>
  <security-role>
    <role-name>journal</role-name>
  </security-role>
  <security-role>
    <role-name>closed_groups</role-name>
  </security-role>
  <security-role>
    <role-name>locale_resources</role-name>
  </security-role>
  <security-role>
    <role-name>dl</role-name>
  </security-role>
  <security-role>
    <role-name>perfmon</role-name>
  </security-role>
  <security-role>
    <role-name>topmon</role-name>
  </security-role>
  <security-role>
    <role-name>smsView</role-name>
  </security-role>
  <security-role>
    <role-name>smsView_archive</role-name>
  </security-role>
  <security-role>
    <role-name>smsView_operative</role-name>
  </security-role>
  <security-role>
    <role-name>smsView_smstext</role-name>
  </security-role>
  <security-role>
    <role-name>smsstat</role-name>
  </security-role>
  <security-role>
    <role-name>mscman</role-name>
  </security-role>
  <security-role>
    <role-name>users</role-name>
  </security-role>
  <security-role>
    <role-name>routes</role-name>
  </security-role>
  <security-role>
    <role-name>subjects</role-name>
  </security-role>
  <security-role>
    <role-name>aliases</role-name>
  </security-role>
  <security-role>
    <role-name>profiles</role-name>
  </security-role>
  <security-role>
    <role-name>hosts</role-name>
  </security-role>
  <security-role>
    <role-name>services</role-name>
  </security-role>
  <security-role>
    <role-name>providers</role-name>
  </security-role>
  <security-role>
    <role-name>categories</role-name>
  </security-role>
  <security-role>
    <role-name>infosme-admin</role-name>
  </security-role>
  <security-role>
    <role-name>infosme-market</role-name>
  </security-role>
  <security-role>
    <role-name>dbsme-admin</role-name>
  </security-role>
  <security-role>
    <role-name>mcisme-admin</role-name>
  </security-role>
  <security-role>
    <role-name>mtsmsme-admin</role-name>
  </security-role>
  <security-role>
    <role-name>emailsme</role-name>
  </security-role>
  <security-role>
    <role-name>timezones</role-name>
  </security-role>
  <security-role>
    <role-name>smscenters</role-name>
  </security-role>
  <security-role>
    <role-name>snmp</role-name>
  </security-role>
  <security-role>
    <role-name>regions</role-name>
  </security-role>
  <security-role>
    <role-name>fraud</role-name>
  </security-role>
  <security-role>
    <description>Access Control List manager</description>
    <role-name>acls</role-name>
  </security-role>
  <security-role>
    <description>Can start/stop/disconnect service, service parameters editing prohibited</description>
    <role-name>service_operator</role-name>
  </security-role>
</web-app>
