.calendarHiddenLayer, .calendarHiddenLayer2
{
	position: absolute; 
	display: none; 
	cursor:default;
	z-index:3;
	width:10px;
	height:10px;
	background-color:red;
}
.calendarHiddenLayer2
{
	z-index:2;
}
.calendarTd {
	background-color:#ffffff;
	padding:0px;
	border:solid 1px #000000;
	border-left:none;
}
.calendarField {
	width:123px;
	height:16px;
	border:solid 1px #000000; 
	border-right:none;
	padding:0px; 
	padding-left:2px; 
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:11px;
}
.calendarButton {
	height:16px;
	width:16px;
	border: solid 1px black;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:6px;
}
.calendarGreyDown,
.calendarGreyUp,
.calendarDown,
.calendarUp{
	height:16px;
	width:20px;
}
.calendarGreyDown {
	border:inset 1px #ffffff;
	color:#8f8f8f;
}
.calendarGreyUp {
	border:solid 1px #d0d0d0;
	color:#8f8f8f;
}
.calendarDown {
	border:inset 1px #ffffff;
	color:#000000;
}
.calendarUp {
	border:solid 1px #d0d0d0;
	color:#000000;
}
.calendarYear {
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
}
.calendarWeekDay {
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
}
.calendarDate {
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
}
.calendarMonth{
	font-family: Webdings;
	font-size:16px;
}
.calendarTimeH {
	background-color:#D0D0D0;
	width:18px;
	height:16px;padding:0px; 
	padding-left:2px; 
	border:solid 1px #000000; 
	border-right:none;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:11px;
}
.calendarTimeM,
.calendarTimeS {
	background-color:#D0D0D0;
	width:18px;
	height:16px;
	padding:0px; 
	padding-left:2px; 
	border:solid 1px #000000; 
	border-right:none;
	border-left:none;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:11px;
}
