/********************************************************/
/*   Tags for messages section                          */
/********************************************************/

/********** error **********/
div.error
{
	background-color: #F2EEDA;
	border-top: 1px solid #F8F6EE;
	border-left: 1px solid #F8F6EE;
	border-bottom: 1px solid #E4E0CE;
	border-right: 1px solid #E4E0CE;
}
div.error div.header
{
	color: #FF0000;
	font-weight : bolder;
}

/********** warning **********/
div.warning
{
	background-color: #F2EEDA;
	border-top: 1px solid #F8F6EE;
	border-left: 1px solid #F8F6EE;
	border-bottom: 1px solid #E4E0CE;
	border-right: 1px solid #E4E0CE;
}
div.warning div.header
{
	color: #880000;
	font-weight : bolder;
}

/********** message **********/
div.message
{
	background-color: #F2EEDA;
	border-top: 1px solid #F8F6EE;
	border-left: 1px solid #F8F6EE;
	border-bottom: 1px solid #E4E0CE;
	border-right: 1px solid #E4E0CE;
}
div.message div.header
{
	font-weight : bolder;
}