/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: Данные :::::::::::::::::::::::::::::::::::::::::::::::::::::*/
table.eyeline_list th {
  border-bottom: 1px solid #161E49;
  text-align: center;
  padding: 2px 0px 2px 0px;
}

th.eyeline_check_all_ico {
  background: url(../images/ico16_checked_sa.gif);
  background-repeat: no-repeat;
  background-position: center
}

table.eyeline_list td {
  padding: 2px 2px 2px 2px;
}

table.eyeline_list tr.eyeline_row0 {
  background-color: #F8F6EE;
}

table.eyeline_list tr.eyeline_row1 {
  background-color: #F2EEDA;
}

table.eyeline_list tr.eyeline_inner {
  background-color: WHITE;
}

table.eyeline_list tr.eyeline_row0 td,
table.eyeline_list tr.eyeline_row0 th {
  border-bottom: 1px solid #E4E0CE;
}

table.eyeline_list tr.eyeline_row1 td,
table.eyeline_list tr.eyeline_row1 th {
  border-bottom: 1px solid #E6E3D8;
}

table.eyeline_list tr.eyeline_inner td,
table.eyeline_list tr.eyeline_inner th {
  border-bottom: 1px solid #E6E3D8;
}

table.eyeline_list th a,
table.eyeline_list th a:visited,
table.eyeline_list th a:hover {
  width: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
  padding-left: 12px;
  padding-right: 12px;
  color: #333333;
  background-position: left;
}


table.eyeline_list tbody a,
table.eyeline_list tbody a:visited,
table.eyeline_list tbody a:hover {
  color: #E00000;
}

table.eyeline_list th a.eyeline_up {
  background-image: url(../images/sort_up.gif);
}

table.eyeline_list th a.eyeline_down {
  background-image: url(../images/sort_down.gif);
}

div.eyeline_inner_data_opened {
  width: 15px;
  background-image: url(../images/list_opened.gif);
}

div.eyeline_inner_data_closed {
  width: 15px;
  background-image: url(../images/list_closed.gif);
}

/* :::::::::::::::::::::::::::::::::::::::::::::::: ПАНЕЛЬ НАВИГАЦИИ :::::::::::::::::::::::::::::::::::::::::::::::::*/

.eyeline_navbar_panel {
  border-top: 1px solid #161E49;
  width: 100%;
}

.eyeline_navbar_button {
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  color: #E00000;
  cursor: pointer;
  text-align: center;
}

.eyeline_navbar_page {
  cursor: pointer;
}

.eyeline_navbar_current_page {
  color: #000000;
  /*background-color: #3A5867;*/
}

.eyeline_navbar_first {
  background-image: url(../images/nav_first.gif);
}

.eyeline_navbar_prev {
  background-image: url(../images/nav_prev.gif);
}

.eyeline_navbar_next {
  background-image: url(../images/nav_next.gif);
}

.eyeline_navbar_last {
  background-image: url(../images/nav_last.gif);
}

.eyeline_navbar_counters {
  color: #000000;
  text-align: right;
}

.eyeline_navbar_selected {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}


/* ::::::::::::::::::::::::::::::::::::::::::::: Оверлей с прогрессом ::::::::::::::::::::::::::::::::::::::::::::::::*/

.eyeline_overlay{
  z-Index:100000;
  background-color: #FFFFFF;
  background-position: center;
  text-align:center;
  position:absolute;
  width:1px;
  height:1px;
  top:-500px;
  left:0px;
  margin:0px 0px 0px 0px;
  /*border:1px solid #000000;*/
  opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
  -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
  -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
}

div.eyeline_loading {
  margin-top:auto;margin-bottom:auto;
  background-image: url("../images/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width:20px;
}

.eyeline_progress_error {
  font-size: 15px;
  color: RED;
}

.eyeline_progress_ok {
  font-size: 15px;
  color: BLACK;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::: Сортировка :::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.eyeline_data_table_column {
  padding-left: 12px;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.eyeline_up {
  background-image: url(../images/sort_up.gif);
}

.eyeline_down {
  background-image: url(../images/sort_down.gif);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: Выделение записей :::::::::::::::::::::::::::::::::::::::::::::::: */

.select_page_button {
  background: url(../images/ico16_checked_sa.gif);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.select_menu_button {
  cursor: pointer;
  background-image: url("../images/list_opened_center.gif");
  background-position: right;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.select_menu_content {
  background-color: #F0F0F0;
  border: 1px solid #C00000;
  font-family: Verdana, Arial, Tahoma, Helvetica, sans, sans-serif;
  font-size: 11px;
  margin-left: 20px;
  margin-top: 20px;
  overflow: auto;
  position: absolute;
  text-align: left;
  display: none;
  z-index: 10;
}

.select_menu_content span {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  color: #E00000;
}

/* ::::::::::::::::::::::::::::::::::::::::::::: Открытие/Закрытие inner rows ::::::::::::::::::::::::::::::::::::::: */

.toggle_button_closed {
  background: url("../images/list_closed.gif") no-repeat center;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.toggle_button_opened {
  background: url("../images/list_opened.gif") no-repeat center;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

