
.eyeline_addbutton {
  background: url("../images/but_add.gif") no-repeat scroll center center transparent;
  cursor: pointer;
  height: 20px;
  width: 19px;
}

.eyeline_delbutton {
  background: url("../images/but_del.gif") no-repeat scroll center center transparent;
  cursor: pointer;
  height: 20px;
  width: 19px;
}