/************************ main menu *************************/

table.main_menu {
  color: #E00000;
  height: 30px;
  z-index: 2;
  border-bottom: 1px solid #E00000;
  border-top: 1px solid #E00000;
}

table.main_menu td {
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
}

table.main_menu a,
table.main_menu a:visited,
table.main_menu a:hover,
table.main_menu div,
table.main_menu a.xi {
  text-decoration: none;
  color: #C00000;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
}


table.main_menu div.eyeline_menubardivover {
  color: #E00000;
}

table.main_menu div.eyeline_menudiv {
  background-color: white;
  border: 1px solid #E00000;
}

table.main_menu div.eyeline_menuitem *,
table.main_menu div.eyeline_menuitem a.xi,
table.main_menu div.eyeline_menuitemover *,
table.main_menu div.eyeline_menuitemover a.xi {
  background: white;
  font-size: 12px;
}

table.main_menu div.eyeline_menuitem *,
table.main_menu div.eyeline_menuitem a.xi {
  color: #C00000;
}

table.main_menu div.eyeline_menuitemover *,
table.main_menu div.eyeline_menuitemover a.xi {
  color: #E00000;
}

table.main_menu div.eyeline_menubardelimitertop {
  height: 1px;
  font-size: 1px;
  border-bottom:1px outset;
}

table.main_menu div.eyeline_menubardelimiterbottom {
  height: 1px;
  font-size: 1px;
  width:1%;
  border-bottom:0px outset;
}
