<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE config SYSTEM "file://configuration.dtd">

<config>
	<section name="DataSource">
		<param name="connections" type="int">3</param>
		<param name="dbInstance" type="string">smscdb</param>
		<param name="dbUserName" type="string">smsc2</param>
		<param name="dbUserPassword" type="string">smsc2</param>
		<param name="type" type="string">OCI</param>
	</section>
	
	<section name="MessageStore">
		<param name="maxTriesCount" type="int">3</param>
		<section name="Archive">
			<param name="enabled" type="bool">true</param>
			<param name="finalized" type="int">300</param>
			<param name="interval" type="int">40000</param>
			<param name="uncommited" type="int">10</param>
			<section name="Cleaner">
				<param name="enabled" type="bool">true</param>
				<param name="interval" type="int">30</param>
			</section>

		</section>

		<section name="Billing">
			<param name="dbInstance" type="string">smscdb</param>
			<param name="dbUserName" type="string">smsc2</param>
			<param name="dbUserPassword" type="string">smsc2</param>
		</section>

		<section name="Cache">
			<param name="capacity" type="int">1000</param>
			<param name="enabled" type="bool">true</param>
		</section>

		<section name="Connections">
			<param name="init" type="int">0</param>
			<param name="max" type="int">3</param>
		</section>

		<section name="Storage">
			<param name="dbInstance" type="string">smscdb</param>
			<param name="dbUserName" type="string">smsc2</param>
			<param name="dbUserPassword" type="string">smsc2</param>
		</section>

	</section>
	
	<section name="StartupLoader">
		<section name="DataSourceDrivers">
			<section name="OCIDataSourceDriver">
				<param name="loadup" type="string">/export/home/bryz/install/smsc/db/oci/libdb_oci.so</param>
				<param name="type" type="string">OCI</param>
			</section>

		</section>

	</section>

	<section name="abonentinfo">
		<param name="mobile_access_address" type="string">+555555555555555</param>
		<param name="protocol_id" type="int">10</param>
		<param name="service_type" type="string">AboN</param>
		<param name="smpp_access_address" type="string">+44444444444444</param>
		<param name="systemId" type="string">abonentinfo</param>
	</section>

	<section name="admin">
		<param name="host" type="string">smsc</param>
		<param name="port" type="int">15871</param>
	</section>
	
	<section name="core">
		<param name="protocol_id" type="int">3</param>
		<param name="receipt_delivered" type="string">*Your message sent to $$string import="dest"$$ was successfully delivered on $$date pattern="dd MMMM yyyy, HH:mm:ss" import="date"$$</param>
		<param name="receipt_failed" type="string">*Ïîäòâ $$string import="dest"$$ $$date pattern="ddMMyyHHmmss" import="date"$$: $$string import="error"$$</param>
		<param name="receipt_notify" type="string">$Notif $$string import=dest$$ $$date pattern="ddMMyyHHmmss" import="date"$$: $$string import="reason"$$</param>
		<param name="reschedule_table" type="string">40s,30s</param>
		<param name="service_center_address" type="string">+11111111111</param>
		<param name="service_type" type="string">SmSc</param>
		<param name="state_machines_count" type="int">5</param>
		<param name="systemId" type="string">smscsme</param>
		<section name="performance">
			<param name="host" type="string">smsc</param>
			<param name="port" type="int">15171</param>
		</section>

	</section>

	<section name="logger">
		<param name="initFile" type="string">log4cpp.init</param>
	</section>
	
	<section name="map">
		<param name="hlr" type="string">hlr:address</param>
		<param name="vlr" type="string">vlr:address</param>
	</section>
	
	<section name="profiler">
		<param name="defaultDataCoding" type="string">DEFAULT</param>
		<param name="defaultReport" type="string">NONE</param>
		<param name="msgDataCodingDefault" type="string">Óñòàíîâëåí ðåæèì ïðèåìà ñîîáùåíèé â 7-bit êîäèðîâêå (message character encoding is set to 7-bit)</param>
		<param name="msgDataCodingUCS2" type="string">Message character encoding is set to ucs2 encoding (now you will be able to receive messages with russian characters in the case your cell phone supports ucs2 messages)</param>
		<param name="msgError" type="string">Íåïðàâèëüíàÿ êîìàíäà (!@#$%^&amp;*( )_+-=|\:;&apos;&lt;,&gt;.?/)</param>
		<param name="msgReportFull" type="string">Delivery reports are enabled</param>
		<param name="msgReportNone" type="string">Óâåäîìëåíèÿ äîñòàâêè îòêëþ÷åíû (Delivery reports are disabled)</param>
		<param name="protocol_id" type="int">5</param>
		<param name="service_type" type="string">pRof</param>
		<param name="systemId" type="string">profiler</param>
	</section>

	<section name="smpp">
		<param name="host" type="string">smsc</param>
		<param name="inactivityTime" type="int">600</param>
		<param name="port" type="int">15971</param>
		<param name="readTimeout" type="int">1</param>
	</section>

	<section name="sms">
		<param name="max_valid_time" type="int">150</param>
	</section>

</config>
