<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE config SYSTEM "configuration.dtd">

<config>

  <section name="MCISme">
    <param name="Address" type="string">+73832999971</param>
    <param name="CalledMask" type="string">//</param>
    <param name="CallingMask" type="string">/^(?:\.3\.\d\.\d{10}|\.4\.\d\.\d{1,20})$/</param>
    <param name="CountryCode" type="string">7</param>
    <param name="DaysValid" type="int">1</param>
    <param name="GroupSmsByCallingAbonent" type="bool">false</param>
    <param name="HasStackEmulator" type="bool">true</param>
    <param name="OriginatingAddressIsMCIAddress" type="bool">false</param>
    <param name="ProtocolId" type="int">34</param>
    <param name="QosTimeToLive" type="int">3500</param>
    <param name="SendAbntOnlineNotificationPeriodInSecs" type="int">90</param>
    <param name="StackEmulatorHost" type="string">0.0.0.0</param>
    <param name="SvcType" type="string">MCA</param>
    <param name="SvcTypeOnline" type="string">MCAON</param>
    <param name="defaultInform" type="bool">true</param>
    <param name="defaultNotify" type="bool">true</param>
    <param name="defaultReasonsMask" type="int">31</param>
    <param name="defaultWantNotifyMe" type="bool">true</param>
    <param name="forceInform" type="bool">false</param>
    <param name="forceNotify" type="bool">false</param>
    <param name="forceSeparate" type="bool">false</param>
    <param name="inputQueueSize" type="int">1000</param>
    <param name="maxAbonentMessageLenInOctets" type="int">260</param>
    <param name="maxCallersCount" type="int">10</param>
    <param name="maxDataSmRegistrySize" type="int">2000</param>
    <param name="maxEventsPerMessage" type="int">10</param>
    <param name="maxMessagesCount" type="int">-1</param>
    <param name="maxRowsPerMessage" type="int">0</param>
    <param name="outgoingSpeedMax" type="int">500</param>
    <param name="pduDispatchersCount" type="int">4</param>
    <param name="redirectionAddress" type="string">+79139860932</param>
    <param name="responceWaitTime" type="string">00:10:00</param>
    <param name="routesFileLocation" type="string">conf/routes.xml</param>
    <param name="timeZoneFileLocation" type="string">conf/timezones.xml</param>
    <param name="unrespondedMessagesMax" type="int">1000</param>
    <param name="unrespondedMessagesSleep" type="int">1</param>
    <param name="useWantNotifyPolicy" type="bool">true</param>

    <section name="Admin">
      <param name="host" type="string">0.0.0.0</param>
      <param name="port" type="int">25225</param>
    </section>

    <section name="Advertising">
      <param name="BEProtocolVersion" type="int">2</param>
      <param name="SvcTypeForBe" type="string">MCA</param>
      <param name="port" type="int">25313</param>
      <param name="proxyCount" type="int">16</param>
      <param name="reconnectionAttemptPeriod" type="int">5</param>
      <param name="server" type="string">niagara</param>
      <param name="timeout" type="int">1</param>
      <param name="useAdvert" type="bool">true</param>
    </section>

    <section name="DataSource">
      <param name="connections" type="int">10</param>
      <param name="dbInstance" type="string">smsc8</param>
      <param name="dbUserName" type="string">smsc_serge</param>
      <param name="dbUserPassword" type="string">smsc</param>
      <param name="type" type="string">OCI</param>
      <param name="watchdog" type="bool">false</param>

      <section name="jdbc">
        <param name="driver" type="string">oracle.jdbc.driver.OracleDriver</param>
        <param name="source" type="string">jdbc:oracle:thin:@tango:1522:smsc8</param>
      </section>
    </section>

    <section name="IASME">
      <param name="listen_iface" type="string">0.0.0.0</param>
      <param name="listen_port" type="int">6745</param>
      <param name="max_iasme_events_queue_sz" type="int">10</param>
    </section>

    <section name="MCAEventStorage">
      <param name="location" type="string">mca</param>
      <param name="rollingInterval" type="int">60</param>
    </section>

    <section name="ProfileStorage">
      <param name="host" type="string">127.0.0.1</param>
      <param name="location" type="string">prof</param>
      <param name="port" type="int">6689</param>
    </section>

    <section name="Reasons">
      <param name="skipUnknownCaller" type="bool">false</param>
      <param name="strategy" type="int">2</param>

      <section name="Absent">
        <param name="cause" type="int">20</param>
        <param name="inform" type="bool">true</param>
      </section>

      <section name="Busy">
        <param name="cause" type="int">17</param>
        <param name="inform" type="bool">true</param>
      </section>

      <section name="Detach">
        <param name="cause" type="int">20</param>
        <param name="inform" type="bool">false</param>
      </section>

      <section name="NoReply">
        <param name="cause" type="int">19</param>
        <param name="inform" type="bool">true</param>
      </section>

      <section name="Other">
        <param name="cause" type="int">21</param>
        <param name="inform" type="bool">false</param>
      </section>

      <section name="Unconditional">
        <param name="cause" type="int">21</param>
        <param name="inform" type="bool">false</param>
      </section>
    </section>

    <section name="SMPPThreadPool">
      <param name="init" type="int">0</param>
      <param name="max" type="int">0</param>
    </section>

    <section name="SMSC">
      <param name="host" type="string">phoenix</param>
      <param name="password" type="string">mcipwd</param>
      <param name="port" type="int">9001</param>
      <param name="sid" type="string">MCISme</param>
      <param name="timeout" type="int">10</param>
    </section>

    <section name="Scheduling">
      <param name="resendingPeriod" type="string"></param>
      <param name="schedOnBusy" type="string"></param>
      <param name="schedulingPolicy" type="string">ConstResendingPeriod</param>

      <section name="schedule">
        <param name="1179" type="string">00:01:01</param>
        <param name="1184" type="string">00:30:00</param>
        <param name="default" type="string">00:05:00</param>
      </section>
    </section>

    <section name="Statistics">
      <param name="statDir" type="string">stat</param>
    </section>

    <section name="Storage">
      <param name="bdFilesIncr" type="int">1000</param>
      <param name="eventLifeTime" type="string">24:00:00</param>
      <param name="eventRegistrationPolicy" type="string">RejectNewEvent</param>
      <param name="location" type="string">store/</param>
      <param name="maxEvents" type="int">20</param>
    </section>

    <!-- todo Circuits -->


    <section name="Circuits">

      <section name="MSC1">
        <param name="hsn" type="int">0</param>
        <param name="spn" type="int">1</param>
        <param name="tsm" type="string">FFFEFFFE</param>
      </section>
    </section>

    <!-- todo RULES -->

    <section name="Rules">

      <section name="Absent">
        <param name="cause" type="int">20</param>
        <param name="inform" type="int">1</param>
        <param name="priority" type="int">90</param>
        <param name="regexp" type="string">/^\d{1,3},6,/</param>
      </section>

      <section name="Busy">
        <param name="cause" type="int">17</param>
        <param name="inform" type="int">1</param>
        <param name="priority" type="int">80</param>
        <param name="regexp" type="string">/^\d{1,3},1,/</param>
      </section>

      <section name="NoReply">
        <param name="cause" type="int">19</param>
        <param name="inform" type="int">0</param>
        <param name="priority" type="int">60</param>
        <param name="regexp" type="string">/^\d{1,3},2,/</param>
      </section>

      <section name="Omsk Tomsk">
        <param name="cause" type="int">34</param>
        <param name="inform" type="int">1</param>
        <param name="priority" type="int">100</param>
        <param name="regexp" type="string">/^[34],6,(?:(?=\.3\.\d\.9138271\d\d\d|\.4\.\d\.79138271\d\d\d)|(?!\.3\.\d\.9\d{9}|\.4\.\d\.79\d{9}))\.\d\.\d\.\d+$/</param>
      </section>

      <section name="Other">
        <param name="cause" type="int">21</param>
        <param name="inform" type="int">0</param>
        <param name="priority" type="int">50</param>
        <param name="regexp" type="string">//</param>
      </section>

      <section name="Unconditional">
        <param name="cause" type="int">21</param>
        <param name="inform" type="int">0</param>
        <param name="priority" type="int">70</param>
        <param name="regexp" type="string">/^\d{1,3},3,/</param>
      </section>
    </section>



    <!-- todo TEMPLATES -->


    <section name="Templates">

      <section name="Inform">
        <param name="default" type="int">1</param>

        <section name="DSTK">
          <param name="group" type="bool">true</param>
          <param name="id" type="int">0</param>
          <param name="message" type="string">$$string arg=&quot;rows&quot;$$</param>
          <param name="multiRow" type="string">$$string arg=&quot;caller&quot;$$ + $$int32 arg=&quot;count&quot;$$ + $$date arg=&quot;date&quot; pattern=&quot;HH:mm + dd/mm/yy&quot;$$,</param>
          <param name="singleRow" type="string">$$string arg=&quot;caller&quot;$$ + $$int32 arg=&quot;count&quot;$$ + $$date arg=&quot;date&quot; pattern=&quot;HH:mm + dd/mm/yy&quot;$$,</param>
          <param name="unknownCaller" type="string">0</param>
        </section>

        <section name="Template 1 (Detailed)">
          <param name="group" type="bool">true</param>
          <param name="id" type="int">1</param>
          <param name="message" type="string"> :$$string arg=&quot;rows&quot;$$ </param>
          <param name="multiRow" type="string"> $$string arg=&quot;caller&quot;$$($$int32 arg=&quot;count&quot;$$),   $$date arg=&quot;date&quot; pattern=&quot;HH:mm dd MMM&quot;$$;</param>
          <param name="singleRow" type="string"> $$string arg=&quot;caller&quot;$$  $$date arg=&quot;date&quot; pattern=&quot;HH:mm dd MMM&quot;$$;</param>
          <param name="unknownCaller" type="string">.</param>
        </section>

        <section name="Template 4 (English)">
          <param name="group" type="bool">true</param>
          <param name="id" type="int">2</param>
          <param name="message" type="string">Miissed calls ($$int32 arg=&quot;total&quot;$$):$$string arg=&quot;rows&quot;$$ MTS</param>
          <param name="multiRow" type="string"> $$string arg=&quot;caller&quot;$$ ($$int32 arg=&quot;count&quot;$$), last at $$date arg=&quot;date&quot; pattern=&quot;HH:mm dd MMMM&quot;$$;</param>
          <param name="singleRow" type="string"> $$string arg=&quot;caller&quot;$$ at $$date arg=&quot;date&quot; pattern=&quot;HH:mm dd MMMM&quot;$$;</param>
          <param name="unknownCaller" type="string">unknown</param>
        </section>
      </section>

      <section name="Notify">
        <param name="default" type="int">1</param>

        <section name="Notification 1 (Detailed)">
          <param name="id" type="int">1</param>
          <param name="message" type="string">  $$string arg=&quot;caller&quot;$$!  $$string arg=&quot;abonent&quot;$$   . </param>
        </section>

        <section name="Notification 3 (English)">
          <param name="id" type="int">2</param>
          <param name="message" type="string">Abonent $$string arg=&quot;abonent&quot;$$ is online. MTS</param>
        </section>
      </section>
    </section>


  </section>
</config>
