BUILD_DIR=/home/serge/build
SMSC_DIR=/home/serge/smsc
; for 64 bit build set B64 property to yes and put B64=YES to makeargs
; also specify apporpriate xtarget values in makeargs like:
; sparc: XTARGET="-DEIN_HD=101 -DEIN_SS7_LINKAGE_static -m64 -xtarget=ultraT1 -xmemalign=8i -xcode=pic32"
; x64:   XTARGET="-DEIN_HD=101 -DEIN_SS7_LINKAGE_static -m64 -KPIC -xmodel=medium"
; TE stack includes and libs path: SS7_STACK_HOME=/opt/ss7repo/binver/dcs1001025v101  
; TE stack linking scheme: EIN_SS7_LINKAGE=static
; To enable 7bit ussd text with UCS2 coding scheme use USSDUCS2FIX=YES in make_args
B64=NO
SMSX=YES
MAKE_ARGS=CXX=CC DEBUG=YES TRACE=YES DISABLE_SMPP_CHECKS=YES SMSX=YES
CATALINA_HOME=/home/serge/build/distr/tomcat
CATALINA_BASE=/home/serge/build/distr
TEMPLATE_PROPS=/home/serge/smsc/distribs/smsc/smsc.properties
; set SNMP_MOD_NAME to snmp if SNMP=YES
SNMP_MOD_NAME=
; for 64 bit set to lib64
ORALIB_SUBDIR=lib32
