<?xml version="1.0" encoding="windows-1251"?>

<routes>
  <subject_def id="Novosibirsk" defSme="smsarena">
    <notes></notes>
       <mask value="+7960789????"/>
  </subject_def>
  <subject_def id="Moscow" defSme="smsarena">
    <notes></notes>
       <mask value="+7913902????"/>
  </subject_def>
  <subject_def id="Krasnoyarsk" defSme="other_miks">
    <notes></notes>
       <mask value="+7923???????"/>
  </subject_def>
  <subject_def id="ism.sms" defSme="ism">
    <notes></notes>
       <mask value=".0.1.1313"/>
       <mask value=".0.1.1440"/>
       <mask value=".0.1.1413"/>
       <mask value=".0.1.1415"/>
       <mask value=".0.1.1220"/>
       <mask value=".0.1.1717"/>
       <mask value=".0.1.3131"/>
       <mask value=".0.1.1330"/>
       <mask value=".0.1.1615"/>
       <mask value=".0.1.1515"/>
       <mask value=".0.1.1314"/>
       <mask value=".0.1.1229"/>
  </subject_def>
  <subject_def id="MissedCalls.Profile" defSme="MCIProf">
    <notes></notes>
       <mask value=".0.1.106"/>
  </subject_def>
  <subject_def id="mim_sms_s.novosoft" defSme="mim_sms_s">
    <notes></notes>
       <mask value=".0.1.11246"/>
  </subject_def>
  <subject_def id="getart.sms" defSme="getart">
    <notes></notes>
       <mask value=".0.1.2510"/>
       <mask value=".0.1.5333"/>
       <mask value=".0.1.2540"/>
       <mask value=".0.1.7669"/>
       <mask value=".0.1.2596"/>
       <mask value=".0.1.2594"/>
  </subject_def>
</routes>
