<?xml version="1.0" encoding="UTF-8"?>

<config>
    <param name="servicesConfig">conf/services.xml</param>
    <param name="smppConfig">conf/smpp.properties</param>

      <!-- allowed values for requestHandleStrategy: threadPool, greedyConsumer -->
    <param name="requestHandleStrategy">threadPool</param>
    <param name="threadsNumber">10</param>


  <section name="dbpool">
    <section name="jdbc">
      <param name="driver">com.mysql.jdbc.Driver</param>
      <param name="source">jdbc:mysql://mangal/summer_edu?autoReconnect=true&amp;autoPoolReconnect=true&amp;useUnicode=true&amp;</param>
      <param name="user">student</param>
      <param name="password">student</param>
    </section>
  </section>

  <section name="replystats">
      <section name="statsFile">
        <param name="dir.name">replyStats</param>
        <param name="date.pattern.in.file">yyyyMMdd</param>
        <param name="time.pattern.in.file">HH:mm</param>
        <param name="filename.pattern">yyyyMMdd</param>
      </section>
      <section name="fileCollector">
        <param name="time.limit">10</param>  <!--seconds -->  
        <param name="time.first.delay">10</param>  <!-- seconds -->
        <param name="time.period">10</param>       <!-- seconds -->
      </section>
  </section>

  <section name="distribution">
      <param name="info.sme.stats.dir">infoSme</param>
      <param name="info.sme.stats.date.dir.pattern">yyMMdd</param>
      <param name="info.sme.stats.time.file.pattern">HH</param>
      <param name="info.sme.succ.delivery.status">0</param>
      <param name="info.sme.date.format.in.file">yyMMddHHmmss</param> 
  </section>

  <section name="quizmanager">
      <param name="dir.quiz">test_QuizManager</param>
      <param name="dir.status">test_QuizManager</param>
      <param name="listener.delay.first">0</param>     <!-- seconds -->
      <param name="listener.period.repeat">10</param>    <!-- seconds -->
      <param name="collector.delay.first">10</param>     <!-- seconds -->
      <param name="collector.period.repeat">10</param>    <!-- seconds -->
      <param name="quiz.date.pattern">dd.MM.yyyy HH:mm</param>
      <param name="quiz.time.pattern">HH:mm</param>
      <param name="dir.result">quizResults</param>
      <param name="dir.modified.abonents">test_QuizManager</param>
  </section>

</config>