<?xml version="1.0" encoding="UTF-8"?>

<config>
  <param name="servicesConfig">conf/services.xml</param>
  <param name="smppConfig">conf/smpp.properties</param>

  <!-- allowed values for requestHandleStrategy: threadPool, greedyConsumer -->
  <param name="requestHandleStrategy">threadPool</param>
  <param name="threadsNumber">10</param>

  <section name="dbpool">
    <section name="jdbc">
      <param name="source">jdbc:mysql://mangal/summer_edu?autoReconnect=true&amp;autoPoolReconnect=true&amp;useUnicode=true&amp;</param>
      <param name="user">student</param>
      <param name="password">student</param>
    </section>
  </section>

  <section name="replystats">
    <section name="statsFile">
      <param name="dir.name">replyStats</param>
    </section>
    <section name="fileCollector">
      <param name="time.limit">60</param>  <!--seconds -->                  <!-- optional -->
      <param name="time.first.delay">60</param>  <!-- seconds -->           <!-- optional -->
      <param name="time.period">60</param>       <!-- seconds -->           <!-- optional -->
    </section>
  </section>

  <section name="distribution">
    <param name="smsc.console.host">phoenix</param>
    <param name="smsc.console.port">39826</param>
    <param name="smsc.console.access.login">admin</param>
    <param name="smsc.console.access.password">password</param>                  
    <param name="smsc.console.connect.timeout">60</param> <!-- seconds --><!-- optional -->
    <param name="smsc.console.closer.period">60</param> <!-- seconds -->  <!-- optional -->

    <param name="info.sme.stats.dir">infoSme</param>
    <param name="status.checker.delay.first">10</param> <!-- seconds -->  <!-- optional -->
    <param name="status.checker.period">30</param>    <!-- seconds -->    <!-- optional -->
  </section>

  <section name="quizmanager">
    <param name="dir.quiz">test_QuizManager</param>
    <param name="dir.status">test_QuizManager</param>
    <param name="listener.delay.first">10</param>     <!-- seconds -->    <!-- optional -->
    <param name="listener.period.repeat">10</param>    <!-- seconds -->   <!-- optional -->
    <param name="collector.delay.first">30</param>     <!-- seconds -->   <!-- optional -->
    <param name="collector.period.repeat">30</param>    <!-- seconds -->  <!-- optional -->
    <param name="dir.result">quizResults</param>                          
    <param name="dir.work">test_QuizManager</param>
  </section>

  <section name="jmx">
    <param name="port">32323</param>
    <param name="user">admin</param>
    <param name="password">admin</param>
  </section>

</config>