<?xml version="1.0" encoding="windows-1251"?>


<routes>
<subject_def id="Москва" defSme="79168999100">
<mask value="+7910000????"/>
<mask value="+7910002????"/>
<mask value="+7910003????"/>
<mask value="+791040?????"/>
<mask value="+791041?????"/>
<mask value="+791042?????"/>
<mask value="+791043?????"/>
<mask value="+7910440????"/>
<mask value="+7910441????"/>
<mask value="+7910442????"/>
<mask value="+7910443????"/>
<mask value="+7910444????"/>
<mask value="+7910445????"/>
<mask value="+7910446????"/>
<mask value="+791045?????"/>
<mask value="+791046?????"/>
<mask value="+791047?????"/>
<mask value="+791048?????"/>
<mask value="+7910490????"/>
<mask value="+7910491????"/>
<mask value="+7910492????"/>
<mask value="+7910493????"/>
<mask value="+7910494????"/>
<mask value="+7910495????"/>
<mask value="+7910496????"/>
<mask value="+791500?????"/>
<mask value="+7915010????"/>
<mask value="+7915011????"/>
<mask value="+7915012????"/>
<mask value="+7915013????"/>
<mask value="+7915014????"/>
<mask value="+7915015????"/>
<mask value="+7915016????"/>
<mask value="+7915017????"/>
<mask value="+7915018????"/>
<mask value="+7915019????"/>
<mask value="+7915021????"/>
<mask value="+7915022????"/>
<mask value="+7915023????"/>
<mask value="+7915024????"/>
<mask value="+7915025????"/>
<mask value="+7915027????"/>
<mask value="+791503?????"/>
<mask value="+791504?????"/>
<mask value="+791505?????"/>
<mask value="+791506?????"/>
<mask value="+7915071????"/>
<mask value="+7915074????"/>
<mask value="+791508?????"/>
<mask value="+791509?????"/>
<mask value="+791510?????"/>
<mask value="+791511?????"/>
<mask value="+791512?????"/>
<mask value="+791513?????"/>
<mask value="+791514?????"/>
<mask value="+791515?????"/>
<mask value="+791516?????"/>
<mask value="+791517?????"/>
<mask value="+791518?????"/>
<mask value="+791519?????"/>
<mask value="+791520?????"/>
<mask value="+791521?????"/>
<mask value="+791522?????"/>
<mask value="+791523?????"/>
<mask value="+791524?????"/>
<mask value="+791525?????"/>
<mask value="+791526?????"/>
<mask value="+791527?????"/>
<mask value="+791528?????"/>
<mask value="+791529?????"/>
<mask value="+791530?????"/>
<mask value="+791531?????"/>
<mask value="+791532?????"/>
<mask value="+791533?????"/>
<mask value="+791534?????"/>
<mask value="+791535?????"/>
<mask value="+791536?????"/>
<mask value="+791537?????"/>
<mask value="+791538?????"/>
<mask value="+791539?????"/>
<mask value="+791540?????"/>
<mask value="+791541?????"/>
<mask value="+791542?????"/>
<mask value="+791543?????"/>
<mask value="+7915440????"/>
<mask value="+7915441????"/>
<mask value="+7915442????"/>
<mask value="+7915443????"/>
<mask value="+7915444????"/>
<mask value="+7915445????"/>
<mask value="+7915446????"/>
<mask value="+7915447????"/>
<mask value="+7915448????"/>
<mask value="+7915449????"/>
<mask value="+791545?????"/>
<mask value="+791546?????"/>
<mask value="+791547?????"/>
<mask value="+791548?????"/>
<mask value="+791549?????"/>
<mask value="+7916001????"/>
<mask value="+791601?????"/>
<mask value="+7916020????"/>
<mask value="+7916021????"/>
<mask value="+7916022????"/>
<mask value="+7916023????"/>
<mask value="+7916024????"/>
<mask value="+7916030????"/>
<mask value="+7916031????"/>
<mask value="+7916032????"/>
<mask value="+7916033????"/>
<mask value="+7916034????"/>
<mask value="+7916035????"/>
<mask value="+7916036????"/>
<mask value="+7916037????"/>
<mask value="+7916038????"/>
<mask value="+7916039????"/>
<mask value="+7916040????"/>
<mask value="+7916041????"/>
<mask value="+7916042????"/>
<mask value="+7916043????"/>
<mask value="+7916044????"/>
<mask value="+7916051????"/>
<mask value="+7916052????"/>
<mask value="+7916053????"/>
<mask value="+7916054????"/>
<mask value="+7916055????"/>
<mask value="+7916056????"/>
<mask value="+7916057????"/>
<mask value="+7916058????"/>
<mask value="+7916059????"/>
<mask value="+791606?????"/>
<mask value="+791607?????"/>
<mask value="+791608?????"/>
<mask value="+791609?????"/>
<mask value="+791610?????"/>
<mask value="+791611?????"/>
<mask value="+791612?????"/>
<mask value="+791613?????"/>
<mask value="+791614?????"/>
<mask value="+7916150????"/>
<mask value="+7916151????"/>
<mask value="+7916152????"/>
<mask value="+7916153????"/>
<mask value="+7916154????"/>
<mask value="+7916155????"/>
<mask value="+7916156????"/>
<mask value="+7916157????"/>
<mask value="+7916158????"/>
<mask value="+7916159????"/>
<mask value="+791616?????"/>
<mask value="+791617?????"/>
<mask value="+791618?????"/>
<mask value="+7916190????"/>
<mask value="+7916191????"/>
<mask value="+7916192????"/>
<mask value="+7916193????"/>
<mask value="+7916194????"/>
<mask value="+7916195????"/>
<mask value="+7916196????"/>
<mask value="+7916197????"/>
<mask value="+7916198????"/>
<mask value="+7916199????"/>
<mask value="+7916200????"/>
<mask value="+7916201????"/>
<mask value="+7916202????"/>
<mask value="+7916203????"/>
<mask value="+7916204????"/>
<mask value="+7916205????"/>
<mask value="+7916206????"/>
<mask value="+7916207????"/>
<mask value="+791621?????"/>
<mask value="+791622?????"/>
<mask value="+791623?????"/>
<mask value="+791624?????"/>
<mask value="+791625?????"/>
<mask value="+791626?????"/>
<mask value="+791627?????"/>
<mask value="+791628?????"/>
<mask value="+791629?????"/>
<mask value="+7916300????"/>
<mask value="+7916301????"/>
<mask value="+7916302????"/>
<mask value="+7916303????"/>
<mask value="+7916304????"/>
<mask value="+7916305????"/>
<mask value="+7916306????"/>
<mask value="+7916307????"/>
<mask value="+7916308????"/>
<mask value="+7916309????"/>
<mask value="+791631?????"/>
<mask value="+791632?????"/>
<mask value="+791633?????"/>
<mask value="+791634?????"/>
<mask value="+791635?????"/>
<mask value="+7916360????"/>
<mask value="+7916361????"/>
<mask value="+7916362????"/>
<mask value="+7916363????"/>
<mask value="+7916364????"/>
<mask value="+7916365????"/>
<mask value="+7916366????"/>
<mask value="+7916367????"/>
<mask value="+7916368????"/>
<mask value="+7916369????"/>
<mask value="+791637?????"/>
<mask value="+791638?????"/>
<mask value="+7916390????"/>
<mask value="+7916391????"/>
<mask value="+7916392????"/>
<mask value="+7916393????"/>
<mask value="+7916394????"/>
<mask value="+7916395????"/>
<mask value="+7916396????"/>
<mask value="+7916397????"/>
<mask value="+791640?????"/>
<mask value="+791641?????"/>
<mask value="+791642?????"/>
<mask value="+791643?????"/>
<mask value="+791644?????"/>
<mask value="+791645?????"/>
<mask value="+791646?????"/>
<mask value="+791647?????"/>
<mask value="+791648?????"/>
<mask value="+791649?????"/>
<mask value="+791650?????"/>
<mask value="+791651?????"/>
<mask value="+791652?????"/>
<mask value="+791653?????"/>
<mask value="+791654?????"/>
<mask value="+791655?????"/>
<mask value="+791656?????"/>
<mask value="+791657?????"/>
<mask value="+791658?????"/>
<mask value="+791659?????"/>
<mask value="+791660?????"/>
<mask value="+791661?????"/>
<mask value="+791662?????"/>
<mask value="+791663?????"/>
<mask value="+791664?????"/>
<mask value="+791665?????"/>
<mask value="+791666?????"/>
<mask value="+791667?????"/>
<mask value="+791668?????"/>
<mask value="+791669?????"/>
<mask value="+7916700????"/>
<mask value="+7916701????"/>
<mask value="+7916702????"/>
<mask value="+7916703????"/>
<mask value="+7916704????"/>
<mask value="+7916705????"/>
<mask value="+7916706????"/>
<mask value="+7916707????"/>
<mask value="+7916708????"/>
<mask value="+791671?????"/>
<mask value="+791672?????"/>
<mask value="+791673?????"/>
<mask value="+7916740????"/>
<mask value="+7916741????"/>
<mask value="+7916742????"/>
<mask value="+7916743????"/>
<mask value="+7916744????"/>
<mask value="+7916745????"/>
<mask value="+7916746????"/>
<mask value="+7916747????"/>
<mask value="+7916748????"/>
<mask value="+791675?????"/>
<mask value="+791677?????"/>
<mask value="+791678?????"/>
<mask value="+7916792????"/>
<mask value="+7916793????"/>
<mask value="+7916794????"/>
<mask value="+7916795????"/>
<mask value="+7916796????"/>
<mask value="+7916797????"/>
<mask value="+7916798????"/>
<mask value="+7916799????"/>
<mask value="+7916801????"/>
<mask value="+791682?????"/>
<mask value="+791683?????"/>
<mask value="+791684?????"/>
<mask value="+791685?????"/>
<mask value="+791686?????"/>
<mask value="+791687?????"/>
<mask value="+791688?????"/>
<mask value="+791690?????"/>
<mask value="+791691?????"/>
<mask value="+791692?????"/>
<mask value="+791693?????"/>
<mask value="+791694?????"/>
<mask value="+791695?????"/>
<mask value="+791696?????"/>
<mask value="+79169702???"/>
<mask value="+79169703???"/>
<mask value="+79169704???"/>
<mask value="+79169705???"/>
<mask value="+79169706???"/>
<mask value="+79169707???"/>
<mask value="+79169708???"/>
<mask value="+79169709???"/>
<mask value="+7916971????"/>
<mask value="+7916972????"/>
<mask value="+7916973????"/>
<mask value="+7916974????"/>
<mask value="+7916975????"/>
<mask value="+7916976????"/>
<mask value="+7916977????"/>
<mask value="+7916978????"/>
<mask value="+7916979????"/>
<mask value="+791698?????"/>
<mask value="+791699?????"/>
<mask value="+791750?????"/>
<mask value="+791751?????"/>
<mask value="+791752?????"/>
<mask value="+791753?????"/>
<mask value="+791754?????"/>
<mask value="+791755?????"/>
<mask value="+791756?????"/>
<mask value="+791757?????"/>
<mask value="+791758?????"/>
<mask value="+791759?????"/>
<mask value="+7919100????"/>
<mask value="+7919101????"/>
<mask value="+7919102????"/>
<mask value="+7919103????"/>
<mask value="+7919104????"/>
<mask value="+7919105????"/>
<mask value="+7919106????"/>
<mask value="+7919107????"/>
<mask value="+7919108????"/>
<mask value="+7919109????"/>
<mask value="+7919720????"/>
<mask value="+7919721????"/>
<mask value="+7919722????"/>
<mask value="+7919723????"/>
<mask value="+7919724????"/>
<mask value="+7919725????"/>
<mask value="+7919726????"/>
<mask value="+7919727????"/>
<mask value="+7919728????"/>
<mask value="+7919729????"/>
<mask value="+7919770????"/>
<mask value="+7919771????"/>
<mask value="+7919772????"/>
<mask value="+7919773????"/>
<mask value="+7919774????"/>
<mask value="+7919775????"/>
<mask value="+7919776????"/>
<mask value="+7919777????"/>
<mask value="+7919778????"/>
<mask value="+7919779????"/>
<mask value="+7919784????"/>
<mask value="+7919786????"/>
<mask value="+7919960????"/>
<mask value="+7919961????"/>
<mask value="+7919962????"/>
<mask value="+7919963????"/>
<mask value="+7919964????"/>
<mask value="+7919965????"/>
<mask value="+7919966????"/>
<mask value="+7919967????"/>
<mask value="+7919968????"/>
<mask value="+7919969????"/>
<mask value="+7919970????"/>
<mask value="+7919990????"/>
<mask value="+7919991????"/>
<mask value="+7919992????"/>
<mask value="+7919993????"/>
<mask value="+7919994????"/>
<mask value="+7919995????"/>
<mask value="+7919996????"/>
<mask value="+7919997????"/>
<mask value="+7919998????"/>
<mask value="+7919999????"/>
<mask value="+79851015???"/>
<mask value="+79851016???"/>
<mask value="+79851017???"/>
<mask value="+79851018???"/>
<mask value="+79851019???"/>
<mask value="+7985102????"/>
<mask value="+79851020???"/>
<mask value="+79851021???"/>
<mask value="+79851022???"/>
<mask value="+79851023???"/>
<mask value="+79851024???"/>
<mask value="+79851025???"/>
<mask value="+79851026???"/>
<mask value="+79851027???"/>
<mask value="+79851028???"/>
<mask value="+79851029???"/>
<mask value="+7985103????"/>
<mask value="+79851030???"/>
<mask value="+79851031???"/>
<mask value="+79851032???"/>
<mask value="+79851033???"/>
<mask value="+79851034???"/>
<mask value="+79851035???"/>
<mask value="+79851036???"/>
<mask value="+79851037???"/>
<mask value="+79851038???"/>
<mask value="+79851039???"/>
<mask value="+7985104????"/>
<mask value="+79851040???"/>
<mask value="+79851041???"/>
<mask value="+79851042???"/>
<mask value="+79851043???"/>
<mask value="+79851044???"/>
<mask value="+79851045???"/>
<mask value="+79851046???"/>
<mask value="+79851047???"/>
<mask value="+79851048???"/>
<mask value="+79851049???"/>
<mask value="+79851050???"/>
<mask value="+798510506??"/>
<mask value="+79851051???"/>
<mask value="+798510512??"/>
<mask value="+798510513??"/>
<mask value="+798510514??"/>
<mask value="+798510516??"/>
<mask value="+798510517??"/>
<mask value="+798510518??"/>
<mask value="+798510519??"/>
<mask value="+79851052???"/>
<mask value="+79851053???"/>
<mask value="+798510536??"/>
<mask value="+798510537??"/>
<mask value="+79851054???"/>
<mask value="+79851055???"/>
<mask value="+79851056???"/>
<mask value="+79851057???"/>
<mask value="+79851058???"/>
<mask value="+79851059???"/>
<mask value="+7985106????"/>
<mask value="+79851060???"/>
<mask value="+79851061???"/>
<mask value="+79851062???"/>
<mask value="+79851063???"/>
<mask value="+79851064???"/>
<mask value="+79851065???"/>
<mask value="+79851066???"/>
<mask value="+79851067???"/>
<mask value="+79851068???"/>
<mask value="+79851069???"/>
<mask value="+79851070???"/>
<mask value="+79851071???"/>
<mask value="+79851072???"/>
<mask value="+79851073???"/>
<mask value="+79851074???"/>
<mask value="+79851075???"/>
<mask value="+79851076???"/>
<mask value="+79851077???"/>
<mask value="+79851078???"/>
<mask value="+79851079???"/>
<mask value="+7985108????"/>
<mask value="+79851080???"/>
<mask value="+79851081???"/>
<mask value="+79851082???"/>
<mask value="+79851083???"/>
<mask value="+79851084???"/>
<mask value="+79851085???"/>
<mask value="+79851086???"/>
<mask value="+79851087???"/>
<mask value="+79851088???"/>
<mask value="+79851089???"/>
<mask value="+79851090???"/>
<mask value="+79851091???"/>
<mask value="+79851092???"/>
<mask value="+79851093???"/>
<mask value="+79851094???"/>
<mask value="+7985139????"/>
<mask value="+7985220????"/>
<mask value="+7985226????"/>
<mask value="+7985227????"/>
<mask value="+7985231????"/>
<mask value="+79852310???"/>
<mask value="+79852316???"/>
<mask value="+79852318???"/>
<mask value="+79852319???"/>
<mask value="+7985233????"/>
<mask value="+79852580???"/>
<mask value="+798525802??"/>
<mask value="+798525803??"/>
<mask value="+7985364????"/>
<mask value="+7985410????"/>
<mask value="+7985411????"/>
<mask value="+79854111???"/>
<mask value="+79854112???"/>
<mask value="+79854113???"/>
<mask value="+79854114???"/>
<mask value="+79857205???"/>
<mask value="+798572052??"/>
<mask value="+79857238???"/>
<mask value="+798572384??"/>
<mask value="+798572385??"/>
<mask value="+798572386??"/>
<mask value="+798572387??"/>
<mask value="+798572388??"/>
<mask value="+798572389??"/>
<mask value="+79857239???"/>
<mask value="+798572396??"/>
<mask value="+798572397??"/>
<mask value="+798572398??"/>
<mask value="+798572399??"/>
<mask value="+79857250???"/>
<mask value="+798572500??"/>
<mask value="+79857253???"/>
<mask value="+798572535??"/>
<mask value="+79857265???"/>
<mask value="+798572650??"/>
<mask value="+79857275???"/>
<mask value="+79857276???"/>
<mask value="+79857277???"/>
<mask value="+79857278???"/>
<mask value="+79857284???"/>
<mask value="+798572845??"/>
<mask value="+798572846??"/>
<mask value="+798572847??"/>
<mask value="+798572848??"/>
<mask value="+79857285???"/>
<mask value="+798572857??"/>
<mask value="+798572858??"/>
<mask value="+798576?????"/>
<mask value="+7985760????"/>
<mask value="+7985761????"/>
<mask value="+7985762????"/>
<mask value="+7985763????"/>
<mask value="+7985764????"/>
<mask value="+7985765????"/>
<mask value="+798576602??"/>
<mask value="+798576603??"/>
<mask value="+798576604??"/>
<mask value="+798576605??"/>
<mask value="+798576606??"/>
<mask value="+798576607??"/>
<mask value="+798576608??"/>
<mask value="+798576609??"/>
<mask value="+79857662???"/>
<mask value="+79857663???"/>
<mask value="+79857664???"/>
<mask value="+79857665???"/>
<mask value="+79857666???"/>
<mask value="+79857667???"/>
<mask value="+79857668???"/>
<mask value="+79857669???"/>
<mask value="+7985767????"/>
<mask value="+7985768????"/>
<mask value="+79857690???"/>
<mask value="+79857691???"/>
<mask value="+79857692???"/>
<mask value="+79857693???"/>
<mask value="+79857694???"/>
<mask value="+79857695???"/>
<mask value="+79857696???"/>
<mask value="+79857697???"/>
<mask value="+798576982??"/>
<mask value="+798576983??"/>
<mask value="+798576984??"/>
<mask value="+798576985??"/>
<mask value="+798576986??"/>
<mask value="+798576987??"/>
<mask value="+798576988??"/>
<mask value="+798576989??"/>
<mask value="+798576992??"/>
<mask value="+798576993??"/>
<mask value="+798576994??"/>
<mask value="+798576995??"/>
<mask value="+798576996??"/>
<mask value="+798576997??"/>
<mask value="+7985773????"/>
<mask value="+7985774????"/>
<mask value="+7985776????"/>
<mask value="+7985784????"/>
<mask value="+79857840???"/>
<mask value="+79857841???"/>
<mask value="+79857842???"/>
<mask value="+79857843???"/>
<mask value="+79857844???"/>
<mask value="+79857845???"/>
<mask value="+79857848???"/>
<mask value="+79857849???"/>
<mask value="+79857860???"/>
<mask value="+79857861???"/>
<mask value="+7985920????"/>
<mask value="+7985922????"/>
<mask value="+79859600???"/>
<mask value="+79859604???"/>
<mask value="+79859672???"/>
<mask value="+79859674???"/>
<mask value="+79859675???"/>
<mask value="+79859696???"/>
<mask value="+798596965??"/>
<mask value="+798596966??"/>
<mask value="+798596967??"/>
<mask value="+798596968??"/>
<mask value="+798596969??"/>
<mask value="+79859697???"/>
<mask value="+79859698???"/>
<mask value="+79859699???"/>
<mask value="+79859702???"/>
<mask value="+79859703???"/>
<mask value="+79859704???"/>
<mask value="+79859705???"/>
<mask value="+79859706???"/>
<mask value="+79859707???"/>
<mask value="+79859708???"/>
<mask value="+79859709???"/>
<mask value="+7985991????"/>
<mask value="+7985997????"/>
<mask value="+7985998????"/>
<mask value="+7985999????"/>
</subject_def>
<subject_def id="Центральный макрорегион" defSme="79168999100">
<mask value="+791009?????"/>
<mask value="+791011?????"/>
<mask value="+791015?????"/>
<mask value="+791016?????"/>
<mask value="+791017?????"/>
<mask value="+791018?????"/>
<mask value="+791019?????"/>
<mask value="+791037?????"/>
<mask value="+791050?????"/>
<mask value="+791051?????"/>
<mask value="+791052?????"/>
<mask value="+7910530????"/>
<mask value="+7910531????"/>
<mask value="+7910532????"/>
<mask value="+7910533????"/>
<mask value="+7910534????"/>
<mask value="+7910535????"/>
<mask value="+7910536????"/>
<mask value="+7910537????"/>
<mask value="+7910538????"/>
<mask value="+79105390???"/>
<mask value="+79105391???"/>
<mask value="+79105392???"/>
<mask value="+79105393???"/>
<mask value="+79105394???"/>
<mask value="+79105395???"/>
<mask value="+79105396???"/>
<mask value="+791054?????"/>
<mask value="+791055?????"/>
<mask value="+791056?????"/>
<mask value="+791057?????"/>
<mask value="+791058?????"/>
<mask value="+791059?????"/>
<mask value="+791060?????"/>
<mask value="+791061?????"/>
<mask value="+791062?????"/>
<mask value="+791063?????"/>
<mask value="+7910640????"/>
<mask value="+7910641????"/>
<mask value="+7910642????"/>
<mask value="+7910643????"/>
<mask value="+7910644????"/>
<mask value="+7910645????"/>
<mask value="+7910646????"/>
<mask value="+7910647????"/>
<mask value="+7910648????"/>
<mask value="+7910649????"/>
<mask value="+791065?????"/>
<mask value="+7910660????"/>
<mask value="+7910661????"/>
<mask value="+7910662????"/>
<mask value="+7910663????"/>
<mask value="+7910664????"/>
<mask value="+7910665????"/>
<mask value="+7910666????"/>
<mask value="+7910667????"/>
<mask value="+7910668????"/>
<mask value="+7910669????"/>
<mask value="+791067?????"/>
<mask value="+791068?????"/>
<mask value="+791069?????"/>
<mask value="+7910700????"/>
<mask value="+7910701????"/>
<mask value="+7910702????"/>
<mask value="+7910703????"/>
<mask value="+7910704????"/>
<mask value="+7910705????"/>
<mask value="+7910706????"/>
<mask value="+7910707????"/>
<mask value="+7910708????"/>
<mask value="+7910709????"/>
<mask value="+791071?????"/>
<mask value="+791072?????"/>
<mask value="+791075?????"/>
<mask value="+791076?????"/>
<mask value="+791077?????"/>
<mask value="+791078?????"/>
<mask value="+791080?????"/>
<mask value="+791081?????"/>
<mask value="+791082?????"/>
<mask value="+791083?????"/>
<mask value="+791084?????"/>
<mask value="+791085?????"/>
<mask value="+791086?????"/>
<mask value="+791090?????"/>
<mask value="+791091?????"/>
<mask value="+791092?????"/>
<mask value="+791093?????"/>
<mask value="+791094?????"/>
<mask value="+791095?????"/>
<mask value="+791096?????"/>
<mask value="+791097?????"/>
<mask value="+791098?????"/>
<mask value="+791099?????"/>
<mask value="+791559?????"/>
<mask value="+791560?????"/>
<mask value="+791561?????"/>
<mask value="+791562?????"/>
<mask value="+791563?????"/>
<mask value="+791564?????"/>
<mask value="+791565?????"/>
<mask value="+791566?????"/>
<mask value="+791567?????"/>
<mask value="+791568?????"/>
<mask value="+791569?????"/>
<mask value="+791570?????"/>
<mask value="+791571?????"/>
<mask value="+791572?????"/>
<mask value="+791573?????"/>
<mask value="+791574?????"/>
<mask value="+791575?????"/>
<mask value="+791576?????"/>
<mask value="+791577?????"/>
<mask value="+791578?????"/>
<mask value="+791579?????"/>
<mask value="+791581?????"/>
<mask value="+791582?????"/>
<mask value="+791583?????"/>
<mask value="+791584?????"/>
<mask value="+791586?????"/>
<mask value="+791587?????"/>
<mask value="+791588?????"/>
<mask value="+791589?????"/>
<mask value="+791590?????"/>
<mask value="+791591?????"/>
<mask value="+791592?????"/>
<mask value="+791596?????"/>
<mask value="+791597?????"/>
<mask value="+791598?????"/>
<mask value="+791599?????"/>
</subject_def>
<subject_def id="Центральный макрорегион Реком" defSme="79107459999">
<mask value="+7910025????"/>
<mask value="+791020?????"/>
<mask value="+791021?????"/>
<mask value="+791022?????"/>
<mask value="+791023?????"/>
<mask value="+791025?????"/>
<mask value="+791026?????"/>
<mask value="+791027?????"/>
<mask value="+791029?????"/>
<mask value="+791030?????"/>
<mask value="+791031?????"/>
<mask value="+791032?????"/>
<mask value="+791033?????"/>
<mask value="+791034?????"/>
<mask value="+791035?????"/>
<mask value="+791036?????"/>
<mask value="+7910730????"/>
<mask value="+7910731????"/>
<mask value="+7910732????"/>
<mask value="+7910733????"/>
<mask value="+7910734????"/>
<mask value="+7910735????"/>
<mask value="+7910736????"/>
<mask value="+7910737????"/>
<mask value="+791073700??"/>
<mask value="+791073701??"/>
<mask value="+791073702??"/>
<mask value="+7910738????"/>
<mask value="+7910739????"/>
<mask value="+7910740????"/>
<mask value="+7910741????"/>
<mask value="+7910742????"/>
<mask value="+7910743????"/>
<mask value="+7910744????"/>
<mask value="+7910745????"/>
<mask value="+79107460???"/>
<mask value="+79107461???"/>
<mask value="+79107462???"/>
<mask value="+79107463???"/>
<mask value="+79107464???"/>
<mask value="+79107465???"/>
<mask value="+79107466???"/>
<mask value="+79107467???"/>
<mask value="+79107468???"/>
<mask value="+79107469???"/>
<mask value="+7910747????"/>
<mask value="+79107480???"/>
<mask value="+79107481???"/>
<mask value="+79107482???"/>
<mask value="+79107483???"/>
<mask value="+79107484???"/>
<mask value="+79107485???"/>
<mask value="+79107486???"/>
<mask value="+79107487???"/>
<mask value="+7910749????"/>
<mask value="+791550?????"/>
<mask value="+791551?????"/>
<mask value="+791552?????"/>
<mask value="+791553?????"/>
<mask value="+791554?????"/>
<mask value="+791555?????"/>
<mask value="+791556?????"/>
<mask value="+791557?????"/>
<mask value="+791558?????"/>
<mask value="+791580?????"/>
<mask value="+791585?????"/>
<mask value="+791916?????"/>
<mask value="+791917?????"/>
<mask value="+791918?????"/>
<mask value="+791919?????"/>
<mask value="+791920?????"/>
<mask value="+791921?????"/>
<mask value="+791922?????"/>
<mask value="+791923?????"/>
<mask value="+791924?????"/>
<mask value="+791925?????"/>
<mask value="+791926?????"/>
<mask value="+791927?????"/>
<mask value="+791928?????"/>
<mask value="+791929?????"/>
</subject_def>
<subject_def id="Северо-Западный макрорегион" defSme="79102009993">
<mask value="+77911650???"/>
<mask value="+77911651???"/>
<mask value="+77911652???"/>
<mask value="+77911653???"/>
<mask value="+77911654???"/>
<mask value="+79110??????"/>
<mask value="+79111??????"/>
<mask value="+79112??????"/>
<mask value="+791130?????"/>
<mask value="+791131?????"/>
<mask value="+791132?????"/>
<mask value="+791133?????"/>
<mask value="+791134?????"/>
<mask value="+791135?????"/>
<mask value="+791136?????"/>
<mask value="+791137?????"/>
<mask value="+791138?????"/>
<mask value="+791139?????"/>
<mask value="+791140?????"/>
<mask value="+791141?????"/>
<mask value="+791142?????"/>
<mask value="+791143?????"/>
<mask value="+791144?????"/>
<mask value="+791145?????"/>
<mask value="+791146?????"/>
<mask value="+791147?????"/>
<mask value="+791148?????"/>
<mask value="+791149?????"/>
<mask value="+791150?????"/>
<mask value="+791151?????"/>
<mask value="+791152?????"/>
<mask value="+791153?????"/>
<mask value="+791154?????"/>
<mask value="+791155?????"/>
<mask value="+791156?????"/>
<mask value="+791157?????"/>
<mask value="+791158?????"/>
<mask value="+791159?????"/>
<mask value="+791160?????"/>
<mask value="+791161?????"/>
<mask value="+791162?????"/>
<mask value="+791163?????"/>
<mask value="+791164?????"/>
<mask value="+791165?????"/>
<mask value="+791166?????"/>
<mask value="+791167?????"/>
<mask value="+791168?????"/>
<mask value="+791169?????"/>
<mask value="+791170?????"/>
<mask value="+791171?????"/>
<mask value="+791172?????"/>
<mask value="+791173?????"/>
<mask value="+791174?????"/>
<mask value="+791175?????"/>
<mask value="+791176?????"/>
<mask value="+791177?????"/>
<mask value="+791178?????"/>
<mask value="+791179?????"/>
<mask value="+791180?????"/>
<mask value="+791181?????"/>
<mask value="+791182?????"/>
<mask value="+791183?????"/>
<mask value="+791184?????"/>
<mask value="+791185?????"/>
<mask value="+791186?????"/>
<mask value="+791188?????"/>
<mask value="+791189?????"/>
<mask value="+79119??????"/>
<mask value="+791210?????"/>
<mask value="+791211?????"/>
<mask value="+791212?????"/>
<mask value="+791213?????"/>
<mask value="+791214?????"/>
<mask value="+791215?????"/>
<mask value="+791216?????"/>
<mask value="+791217?????"/>
<mask value="+791218?????"/>
<mask value="+791219?????"/>
<mask value="+791250?????"/>
<mask value="+791254?????"/>
<mask value="+791255?????"/>
<mask value="+791256?????"/>
<mask value="+791286?????"/>
<mask value="+7912941????"/>
<mask value="+7912942????"/>
<mask value="+7912943????"/>
<mask value="+7912944????"/>
<mask value="+7912945????"/>
<mask value="+7912946????"/>
<mask value="+7912947????"/>
<mask value="+7912948????"/>
<mask value="+7912949????"/>
<mask value="+791295?????"/>
<mask value="+791296?????"/>
</subject_def>
<subject_def id="Южный макрорегион" defSme="79184330000">
<mask value="+7861???????"/>
<mask value="+7862???????"/>
<mask value="+7862988????"/>
<mask value="+7877???????"/>
<mask value="+790245?????"/>
<mask value="+7917000????"/>
<mask value="+7917001????"/>
<mask value="+7917002????"/>
<mask value="+791708?????"/>
<mask value="+791709?????"/>
<mask value="+791717?????"/>
<mask value="+791718?????"/>
<mask value="+791719?????"/>
<mask value="+791733?????"/>
<mask value="+791764?????"/>
<mask value="+791768?????"/>
<mask value="+791772?????"/>
<mask value="+791783?????"/>
<mask value="+791784?????"/>
<mask value="+79180??????"/>
<mask value="+79181??????"/>
<mask value="+79182??????"/>
<mask value="+79183??????"/>
<mask value="+79184??????"/>
<mask value="+79185??????"/>
<mask value="+79186??????"/>
<mask value="+791871?????"/>
<mask value="+791872?????"/>
<mask value="+791874?????"/>
<mask value="+791875?????"/>
<mask value="+791876?????"/>
<mask value="+791877?????"/>
<mask value="+791878?????"/>
<mask value="+791879?????"/>
<mask value="+791880?????"/>
<mask value="+791881?????"/>
<mask value="+791882?????"/>
<mask value="+791883?????"/>
<mask value="+791885?????"/>
<mask value="+791886?????"/>
<mask value="+791887?????"/>
<mask value="+791888?????"/>
<mask value="+791889?????"/>
<mask value="+79189??????"/>
<mask value="+791942?????"/>
<mask value="+791954?????"/>
<mask value="+791973?????"/>
<mask value="+791974?????"/>
<mask value="+791975?????"/>
<mask value="+791979?????"/>
<mask value="+791987?????"/>
<mask value="+791988?????"/>
<mask value="+791989?????"/>
<mask value="+791998?????"/>
<mask value="+798823?????"/>
<mask value="+798824?????"/>
<mask value="+7988312????"/>
<mask value="+7988325????"/>
<mask value="+7988336????"/>
<mask value="+7988353????"/>
<mask value="+7988379????"/>
<mask value="+7988382????"/>
<mask value="+7988425????"/>
<mask value="+7988464????"/>
<mask value="+7988473????"/>
<mask value="+7988486????"/>
<mask value="+7988509????"/>
<mask value="+7988523????"/>
<mask value="+7988557????"/>
<mask value="+7988594????"/>
<mask value="+7988602????"/>
<mask value="+7988622????"/>
<mask value="+7988652????"/>
<mask value="+7988666????"/>
<mask value="+7988674????"/>
<mask value="+7988762????"/>
<mask value="+7988765????"/>
<mask value="+7988769????"/>
<mask value="+7988770????"/>
<mask value="+7988953????"/>
<mask value="+7988966????"/>
</subject_def>
<subject_def id="Приволжский С-З макрорегион" defSme="79104999109">
<mask value="+7843290????"/>
<mask value="+7843296????"/>
<mask value="+7843297????"/>
<mask value="+791010?????"/>
<mask value="+791011?????"/>
<mask value="+791012?????"/>
<mask value="+791013?????"/>
<mask value="+791014?????"/>
<mask value="+79103810???"/>
<mask value="+79103811???"/>
<mask value="+79103812???"/>
<mask value="+79103813???"/>
<mask value="+79103814???"/>
<mask value="+79103815???"/>
<mask value="+79103816???"/>
<mask value="+79103817???"/>
<mask value="+79103818???"/>
<mask value="+79103819???"/>
<mask value="+791039?????"/>
<mask value="+79107901???"/>
<mask value="+79107902???"/>
<mask value="+79107903???"/>
<mask value="+79107904???"/>
<mask value="+79107905???"/>
<mask value="+79107906???"/>
<mask value="+79107907???"/>
<mask value="+79107908???"/>
<mask value="+79107909???"/>
<mask value="+79107911???"/>
<mask value="+79107912???"/>
<mask value="+79107913???"/>
<mask value="+79107914???"/>
<mask value="+79107915???"/>
<mask value="+79107916???"/>
<mask value="+79107917???"/>
<mask value="+79107918???"/>
<mask value="+79107919???"/>
<mask value="+7910792????"/>
<mask value="+7910793????"/>
<mask value="+7910794????"/>
<mask value="+7910795????"/>
<mask value="+7910796????"/>
<mask value="+7910797????"/>
<mask value="+7910798????"/>
<mask value="+79107991???"/>
<mask value="+79107992???"/>
<mask value="+79107993???"/>
<mask value="+79107994???"/>
<mask value="+79107995???"/>
<mask value="+79107996???"/>
<mask value="+79107997???"/>
<mask value="+791087?????"/>
<mask value="+791088?????"/>
<mask value="+791089?????"/>
<mask value="+791233?????"/>
<mask value="+791236?????"/>
<mask value="+791237?????"/>
<mask value="+791244?????"/>
<mask value="+791245?????"/>
<mask value="+791246?????"/>
<mask value="+791270?????"/>
<mask value="+791271?????"/>
<mask value="+791272?????"/>
<mask value="+791273?????"/>
<mask value="+791274?????"/>
<mask value="+791275?????"/>
<mask value="+791276?????"/>
<mask value="+791282?????"/>
<mask value="+791285?????"/>
<mask value="+791287?????"/>
<mask value="+791593?????"/>
<mask value="+791594?????"/>
<mask value="+791595?????"/>
<mask value="+791722?????"/>
<mask value="+791723?????"/>
<mask value="+791724?????"/>
<mask value="+791725?????"/>
<mask value="+791726?????"/>
<mask value="+791727?????"/>
<mask value="+791728?????"/>
<mask value="+791729?????"/>
<mask value="+791739?????"/>
<mask value="+791765?????"/>
<mask value="+791766?????"/>
<mask value="+791767?????"/>
<mask value="+791769?????"/>
<mask value="+791770?????"/>
<mask value="+791771?????"/>
<mask value="+791785?????"/>
<mask value="+791786?????"/>
<mask value="+791787?????"/>
<mask value="+791788?????"/>
<mask value="+791789?????"/>
<mask value="+791790?????"/>
<mask value="+791791?????"/>
<mask value="+791792?????"/>
<mask value="+791793?????"/>
<mask value="+791799?????"/>
<mask value="+791950?????"/>
<mask value="+791951?????"/>
<mask value="+791952?????"/>
<mask value="+791962?????"/>
<mask value="+791963?????"/>
<mask value="+791964?????"/>
<mask value="+791965?????"/>
<mask value="+791966?????"/>
<mask value="+791967?????"/>
<mask value="+791968?????"/>
<mask value="+791969?????"/>
<mask value="+791990?????"/>
<mask value="+791991?????"/>
<mask value="+798729?????"/>
</subject_def>
<subject_def id="Приволжский Ю-В макрорегион" defSme="79171002003">
<mask value="+791234?????"/>
<mask value="+791235?????"/>
<mask value="+7912841????"/>
<mask value="+7912842????"/>
<mask value="+7912843????"/>
<mask value="+7912844????"/>
<mask value="+7912845????"/>
<mask value="+7912846????"/>
<mask value="+7912847????"/>
<mask value="+7912848????"/>
<mask value="+7912849????"/>
<mask value="+7917101????"/>
<mask value="+7917102????"/>
<mask value="+7917103????"/>
<mask value="+7917104????"/>
<mask value="+7917105????"/>
<mask value="+7917106????"/>
<mask value="+7917107????"/>
<mask value="+7917108????"/>
<mask value="+7917109????"/>
<mask value="+791711?????"/>
<mask value="+791712?????"/>
<mask value="+791713?????"/>
<mask value="+791714?????"/>
<mask value="+791715?????"/>
<mask value="+791716?????"/>
<mask value="+791720?????"/>
<mask value="+791721?????"/>
<mask value="+791730?????"/>
<mask value="+791731?????"/>
<mask value="+791732?????"/>
<mask value="+791734?????"/>
<mask value="+791735?????"/>
<mask value="+791736?????"/>
<mask value="+791737?????"/>
<mask value="+791738?????"/>
<mask value="+79174??????"/>
<mask value="+791760?????"/>
<mask value="+791761?????"/>
<mask value="+791762?????"/>
<mask value="+791763?????"/>
<mask value="+791773?????"/>
<mask value="+791774?????"/>
<mask value="+791775?????"/>
<mask value="+791776?????"/>
<mask value="+791777?????"/>
<mask value="+791778?????"/>
<mask value="+791779?????"/>
<mask value="+791780?????"/>
<mask value="+791781?????"/>
<mask value="+791782?????"/>
<mask value="+791794?????"/>
<mask value="+791795?????"/>
<mask value="+791796?????"/>
<mask value="+791797?????"/>
<mask value="+791798?????"/>
<mask value="+791914?????"/>
<mask value="+791915?????"/>
<mask value="+791960?????"/>
<mask value="+791961?????"/>
<mask value="+791980?????"/>
<mask value="+791981?????"/>
<mask value="+791982?????"/>
<mask value="+791983?????"/>
<mask value="+791984?????"/>
<mask value="+791985?????"/>
<mask value="+791986?????"/>
</subject_def>
<subject_def id="Уральский макрорегион" defSme="79126313431">
<mask value="+79122??????"/>
<mask value="+791230?????"/>
<mask value="+791231?????"/>
<mask value="+791232?????"/>
<mask value="+791238?????"/>
<mask value="+791239?????"/>
<mask value="+791240?????"/>
<mask value="+791241?????"/>
<mask value="+791242?????"/>
<mask value="+791247?????"/>
<mask value="+791248?????"/>
<mask value="+791249?????"/>
<mask value="+791251?????"/>
<mask value="+791252?????"/>
<mask value="+791253?????"/>
<mask value="+791257?????"/>
<mask value="+791258?????"/>
<mask value="+791259?????"/>
<mask value="+79126??????"/>
<mask value="+791277?????"/>
<mask value="+791278?????"/>
<mask value="+791279?????"/>
<mask value="+791280?????"/>
<mask value="+791281?????"/>
<mask value="+791283?????"/>
<mask value="+79128804???"/>
<mask value="+79128805???"/>
<mask value="+79128806???"/>
<mask value="+79128807???"/>
<mask value="+79128808???"/>
<mask value="+79128809???"/>
<mask value="+7912881????"/>
<mask value="+7912882????"/>
<mask value="+7912883????"/>
<mask value="+7912884????"/>
<mask value="+7912885????"/>
<mask value="+7912886????"/>
<mask value="+7912887????"/>
<mask value="+7912888????"/>
<mask value="+7912889????"/>
<mask value="+791289?????"/>
<mask value="+791290?????"/>
<mask value="+791292?????"/>
<mask value="+791293?????"/>
<mask value="+791297?????"/>
<mask value="+791298?????"/>
<mask value="+791299?????"/>
<mask value="+791911?????"/>
<mask value="+791912?????"/>
<mask value="+791930?????"/>
<mask value="+791931?????"/>
<mask value="+791932?????"/>
<mask value="+791933?????"/>
<mask value="+791934?????"/>
<mask value="+791935?????"/>
<mask value="+791936?????"/>
<mask value="+791937?????"/>
<mask value="+791938?????"/>
<mask value="+791939?????"/>
<mask value="+791940?????"/>
<mask value="+791944?????"/>
<mask value="+791945?????"/>
<mask value="+791946?????"/>
<mask value="+791947?????"/>
<mask value="+791948?????"/>
<mask value="+791949?????"/>
<mask value="+791953?????"/>
<mask value="+791956?????"/>
<mask value="+791957?????"/>
<mask value="+791958?????"/>
<mask value="+791959?????"/>
<mask value="+791970?????"/>
<mask value="+791971?????"/>
<mask value="+791992?????"/>
<mask value="+791993?????"/>
<mask value="+791994?????"/>
<mask value="+791995?????"/>
</subject_def>
<subject_def id="Сибирский макрорегион" defSme="7913869990">
<mask value="+7902907????"/>
<mask value="+7902989????"/>
<mask value="+7904856????"/>
<mask value="+791300?????"/>
<mask value="+791301?????"/>
<mask value="+791308?????"/>
<mask value="+791309?????"/>
<mask value="+791310?????"/>
<mask value="+791311?????"/>
<mask value="+791312?????"/>
<mask value="+791313?????"/>
<mask value="+791314?????"/>
<mask value="+791315?????"/>
<mask value="+791317?????"/>
<mask value="+791318?????"/>
<mask value="+791319?????"/>
<mask value="+791320?????"/>
<mask value="+791321?????"/>
<mask value="+791322?????"/>
<mask value="+791323?????"/>
<mask value="+791324?????"/>
<mask value="+791325?????"/>
<mask value="+791326?????"/>
<mask value="+791327?????"/>
<mask value="+791328?????"/>
<mask value="+791329?????"/>
<mask value="+791330?????"/>
<mask value="+791331?????"/>
<mask value="+791332?????"/>
<mask value="+791333?????"/>
<mask value="+791334?????"/>
<mask value="+791335?????"/>
<mask value="+791336?????"/>
<mask value="+791337?????"/>
<mask value="+791338?????"/>
<mask value="+791339?????"/>
<mask value="+791340?????"/>
<mask value="+791341?????"/>
<mask value="+791342?????"/>
<mask value="+791343?????"/>
<mask value="+791344?????"/>
<mask value="+791345?????"/>
<mask value="+791346?????"/>
<mask value="+791347?????"/>
<mask value="+791348?????"/>
<mask value="+791349?????"/>
<mask value="+7913500????"/>
<mask value="+7913501????"/>
<mask value="+7913502????"/>
<mask value="+7913503????"/>
<mask value="+7913504????"/>
<mask value="+7913505????"/>
<mask value="+7913506????"/>
<mask value="+7913507????"/>
<mask value="+7913508????"/>
<mask value="+7913509????"/>
<mask value="+7913516????"/>
<mask value="+7913520????"/>
<mask value="+7913521????"/>
<mask value="+7913522????"/>
<mask value="+7913523????"/>
<mask value="+7913524????"/>
<mask value="+7913525????"/>
<mask value="+7913526????"/>
<mask value="+7913527????"/>
<mask value="+7913528????"/>
<mask value="+7913529????"/>
<mask value="+7913530????"/>
<mask value="+7913531????"/>
<mask value="+7913532????"/>
<mask value="+7913533????"/>
<mask value="+7913534????"/>
<mask value="+7913535????"/>
<mask value="+7913536????"/>
<mask value="+7913537????"/>
<mask value="+7913538????"/>
<mask value="+7913539????"/>
<mask value="+791354?????"/>
<mask value="+7913551????"/>
<mask value="+7913583????"/>
<mask value="+791360?????"/>
<mask value="+791361?????"/>
<mask value="+791362?????"/>
<mask value="+791363?????"/>
<mask value="+791364?????"/>
<mask value="+791365?????"/>
<mask value="+791366?????"/>
<mask value="+791367?????"/>
<mask value="+791368?????"/>
<mask value="+791369?????"/>
<mask value="+791370?????"/>
<mask value="+791371?????"/>
<mask value="+791372?????"/>
<mask value="+791373?????"/>
<mask value="+791374?????"/>
<mask value="+791375?????"/>
<mask value="+791376?????"/>
<mask value="+791377?????"/>
<mask value="+791378?????"/>
<mask value="+791379?????"/>
<mask value="+791380?????"/>
<mask value="+791381?????"/>
<mask value="+791382?????"/>
<mask value="+791384?????"/>
<mask value="+791385?????"/>
<mask value="+791386?????"/>
<mask value="+791387?????"/>
<mask value="+791388?????"/>
<mask value="+791389?????"/>
<mask value="+791390?????"/>
<mask value="+791391?????"/>
<mask value="+791392?????"/>
<mask value="+791393?????"/>
<mask value="+791394?????"/>
<mask value="+791395?????"/>
<mask value="+791396?????"/>
<mask value="+791397?????"/>
<mask value="+7913980????"/>
<mask value="+7913981????"/>
<mask value="+7913982????"/>
<mask value="+7913983????"/>
<mask value="+7913984????"/>
<mask value="+7913985????"/>
<mask value="+7913986????"/>
<mask value="+7913987????"/>
<mask value="+7913988????"/>
<mask value="+7913989????"/>
<mask value="+7913998????"/>
<mask value="+7913999????"/>
<mask value="+7991355????"/>
<mask value="+7991356????"/>
<mask value="+7991357????"/>
<mask value="+7991358????"/>
<mask value="+7991359????"/>
</subject_def>
<subject_def id="Дальневосточный макрорегион" defSme="79147991000">
<mask value="+7411276????"/>
<mask value="+7411277????"/>
<mask value="+7411278????"/>
<mask value="+7411279????"/>
<mask value="+7411472????"/>
<mask value="+7902157????"/>
<mask value="+7902158????"/>
<mask value="+7902159????"/>
<mask value="+7902185????"/>
<mask value="+7902186????"/>
<mask value="+7902187????"/>
<mask value="+7902531????"/>
<mask value="+7902550????"/>
<mask value="+7902551????"/>
<mask value="+7902552????"/>
<mask value="+7902570????"/>
<mask value="+7902571????"/>
<mask value="+7902572????"/>
<mask value="+7902573????"/>
<mask value="+7902574????"/>
<mask value="+7902575????"/>
<mask value="+790459?????"/>
<mask value="+7908710????"/>
<mask value="+7908711????"/>
<mask value="+7908712????"/>
<mask value="+7908713????"/>
<mask value="+7908714????"/>
<mask value="+791415?????"/>
<mask value="+791416?????"/>
<mask value="+791417?????"/>
<mask value="+791418?????"/>
<mask value="+7914184????"/>
<mask value="+7914185????"/>
<mask value="+7914186????"/>
<mask value="+7914187????"/>
<mask value="+7914188????"/>
<mask value="+7914189????"/>
<mask value="+791419?????"/>
<mask value="+791420?????"/>
<mask value="+791421?????"/>
<mask value="+791422?????"/>
<mask value="+791423?????"/>
<mask value="+791424?????"/>
<mask value="+7914242????"/>
<mask value="+791425?????"/>
<mask value="+7914259????"/>
<mask value="+791427?????"/>
<mask value="+791428?????"/>
<mask value="+791429?????"/>
<mask value="+791438?????"/>
<mask value="+791439?????"/>
<mask value="+791445?????"/>
<mask value="+791446?????"/>
<mask value="+791447?????"/>
<mask value="+791448?????"/>
<mask value="+791449?????"/>
<mask value="+791450?????"/>
<mask value="+791451?????"/>
<mask value="+791452?????"/>
<mask value="+7914538????"/>
<mask value="+791454?????"/>
<mask value="+791455?????"/>
<mask value="+791456?????"/>
<mask value="+791457?????"/>
<mask value="+791458?????"/>
<mask value="+791459?????"/>
<mask value="+791460?????"/>
<mask value="+791461?????"/>
<mask value="+791462?????"/>
<mask value="+791463?????"/>
<mask value="+791464?????"/>
<mask value="+791465?????"/>
<mask value="+791466?????"/>
<mask value="+791467?????"/>
<mask value="+791468?????"/>
<mask value="+791469?????"/>
<mask value="+791470?????"/>
<mask value="+791471?????"/>
<mask value="+791472?????"/>
<mask value="+791473?????"/>
<mask value="+791474?????"/>
<mask value="+791475?????"/>
<mask value="+791476?????"/>
<mask value="+791477?????"/>
<mask value="+791478?????"/>
<mask value="+791479?????"/>
<mask value="+791481?????"/>
<mask value="+791483?????"/>
<mask value="+791484?????"/>
<mask value="+791485?????"/>
<mask value="+791486?????"/>
<mask value="+791487?????"/>
<mask value="+791488?????"/>
<mask value="+791489?????"/>
<mask value="+791490?????"/>
<mask value="+791491?????"/>
<mask value="+791492?????"/>
<mask value="+791493?????"/>
<mask value="+791494?????"/>
<mask value="+791495?????"/>
<mask value="+791496?????"/>
<mask value="+791497?????"/>
<mask value="+791498?????"/>
</subject_def>
<subject_def id="Тестовый макрорегион" defSme="1234">
<mask value="+796078919??"/>
</subject_def>
</routes>