<config>
  <section name="smsx">
    <section name="nick">
      <param name="prefix" type="string">nick</param>
      <param name="divertNumber" type="string">777005</param>
    </section>
    <section name="flash">
      <param name="prefix" type="string">*</param>
    </section>
    <section name="calendar">
      <param name="prefix" type="string">AFT,AT</param>
      <param name="divertNumber" type="string">777001</param>
    </section>
    <section name="secret">
      <param name="prefix" type="string">SEC</param>
      <param name="divertNumber" type="string">777002</param>
    </section>
  </section>

  <section name="distrList">
    <param name="autocreatePrincipal" type="bool">true</param>
    <param name="defaultMaxLists" type="int">10</param>
    <param name="defaultMaxElements" type="int">10</param>
    <!--param name="originatingAddressForSme" type="string">12345</param-->
  </section>
  <section name="profiler">
    <param name="blackListCheckPeriod" type="int">300</param>
    <param name="blackListFile" type="string">conf/blacklist.txt</param>
  </section>
</config>