<config>

  <param name="journalsCheckInterval">10000</param>

  <section name="journalStore">
    <param name="journalsDir">store/journals</param>
    <param name="archivesDir">store/journals/archives</param>
  </section>

  <section name="eventsStore">
    <param name="storeDir">store/events</param>
    <param name="rwTimeout">120000</param>
    <param name="roTimeout">600000</param>
  </section>

  <section name="scheduler">
    <param name="enableAlerts">true</param>
    <param name="storeDir">store/schedule</param>
    <param name="expirationPeriod">12</param>
    <param name="expiredText">expired</param>
    <param name="profileChangedText">profile changed</param>
    <param name="serviceType">MCA</param>
    <param name="errorText">error</param>
  </section>

  <section name="soap">
    <param name="responseDateFormat">yyyyMMdd HH:mm:ss</param>
    <param name="eventsFetchInterval">12</param>
  </section>

  <section name="jmx">
    <param name="port">8124</param>
    <param name="user">admin</param>
    <param name="password">admin</param>
  </section>
</config>