/******************************************************************************/
/* FORMAT CLASSES                                                             */
/******************************************************************************/
.C000 { color:#000000; }

.CF00 { color:#FF0000; }
.C800 { color:#880000; }

.C0F0 { color:#00FF00; }
.C080 { color:#008800; }

.C00F { color:#0000FF; }
.C008 { color:#000088; }
