/************************************ list table ****************************************/
table.list th
{
	background-color: #F8F6EE;
	border-bottom: 1px solid #161E49;
	text-align: center;
	padding: 2px 0px 2px 0px;
}
table.list td
{
	padding: 2px 0px 2px 0px;
}
table.list tr.row0
{
	background-color: #F2EEDA;
}
table.list tr.row1
{
	
}
table.list th a,
table.list th a:visited,
table.list th a:hover
{
	width:100%;
	text-decoration: none;
	background-repeat: no-repeat;
	padding-left:20px;
	color: #161E49;
	height: 16px; /*!!! for ico16_up/down */
}
table.list th a.up
{
	background-image: url(img/ico16_up.gif);
}
table.list th a.down
{
	background-image: url(img/ico16_down.gif);
}

