/**************************************** navbar **********************************/
table.navbar
{
	background-color: #F8F6EE;
	border-top: 1px solid #161E49;
}

table.navbar td
{
/*	border-right: 1px solid #161E49;*/
	white-space: nowrap;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}


table.navbar td.first,
table.navbar td.first a,
table.navbar td.prev,
table.navbar td.prev a,
table.navbar td.page,
table.navbar td.current,
table.navbar td.next,
table.navbar td.next a,
table.navbar td.last,
table.navbar td.last a,
table.navbar td.filter
{
	width: 12px;
}

table.navbar td.page,
table.navbar td.current,
table.navbar td.filter
{
	cursor: hand;
}
table.navbar td.current
{
	background-color: #3A5867;
	color: #F2E275;
}

table.navbar td.total
{
	color: #1A8999;
	text-align: right;
}

table.navbar td.filter
{
	background-color: #D3D3D3;
}
table.navbar td.first a,
table.navbar td.prev a,
table.navbar td.next a,
table.navbar td.last a
{
	background-position: left;
	background-repeat: no-repeat;
	text-decoration: none;
}
table.navbar td.first a
{
	background-image: url(img/nav_first.gif);
}
table.navbar td.first a:hover
{
	background-image: url(img/nav_first_over.gif);
}

table.navbar td.prev a
{
	background-image: url(img/nav_prev.gif);
}
table.navbar td.prev a:hover
{
	background-image: url(img/nav_prev_over.gif);
}

table.navbar td.next a
{
	background-image: url(img/nav_next.gif);
}
table.navbar td.next a:hover
{
	background-image: url(img/nav_next_over.gif);
}

table.navbar td.last a
{
	background-image: url(img/nav_last.gif);
}
table.navbar td.last a:hover
{
	background-image: url(img/nav_last_over.gif);
}