/**************************************** navbar **********************************/
table.navbar
{
	background-color: #F8F6EE;
	border-top: 1px solid #161E49;
}

table.navbar td
{
/*	border-right: 1px solid #161E49;*/
	white-space: nowrap;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}


table.navbar td.first,
table.navbar td.prev,
table.navbar td.page,
table.navbar td.current,
table.navbar td.next,
table.navbar td.last,
table.navbar td.filter
{
	width: 12px;
	cursor: hand;
}

table.navbar td.current
{
	background-color: Lime;
}

table.navbar td.total
{
	color: green;
	text-align: right;
}

table.navbar td.filter
{
	background-color: #D3D3D3;
}
table.navbar td.first,
table.navbar td.prev,
table.navbar td.next,
table.navbar td.last
{
	background-position: center;
	background-repeat: no-repeat;
}
table.navbar td.first
{
	background-image: url(img/first.gif);
}
table.navbar td.prev
{
	background-image: url(img/prev.gif);
}
table.navbar td.next
{
	background-image: url(img/next.gif);
}
table.navbar td.last
{
	background-image: url(img/last.gif);
}