/************************** page menu **************************/
div.page_menu
{
	background-color: #DFD4AE;
	position: relative;
	left: 0px;
	top: 0px;
}
table.page_menu
{
	height: 30px;
	text-align:left;
	/*border-bottom:solid 1px #888888;*/
	white-space: nowrap;
	z-index: 20;
}
table.page_menu input
{
	border: 0px;
	background-color: #DFD4AE;
	cursor: hand;
	color: #161E49;
}
table.page_menu_background
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	z-index: -1;
}
